<div class="panel-body">
  <div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Calendrier des Evènements</h5>
          </div>
          <div class="ibox-content">
            <!-- <div id="calendar"></div> -->
          </div>
          <div class="calendar-wrap" *ngIf="showCalendar; else noEvent">
            <h4>Calendrier</h4>
            <div id="calendar-detail-school"></div>
          </div>
          <ng-template #noEvent>
            <h2 style="text-align:center">
              Il y a aucun événement de prévu
            </h2>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
          