<div class="white-background">
    
      <section class="login-page fadeInDown-animation">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
    
              <h2 class="brochure-title">Entrez votre nouveau mot de passe</h2>
              <div class="login-form">
                  <form [formGroup]="changePasswordForm"  (ngSubmit)="onSubmit()" 
                    id="login-form">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <h4>Ancien mot de passe<span class="err">*</span></h4>
                        <div class="form-group">
                        <input 
                          class="form-control" 
                          placeholder="Ancien mot de passe"
                          [formControl]="changePasswordForm.controls['oldpassword']"
                          type="password">
                        <small 
                          *ngIf="changePasswordForm.controls['oldpassword'].hasError('required') && 
                          changePasswordForm.controls['oldpassword'].touched" 
                          class="err"> 
                          Password Obligatoire
                        </small>
                        </div>
                        </div>
                      <div class="col-md-12 col-sm-12">
                        <h4>Nouveau mot de passe<span class="err">*</span></h4>
                        <div class="form-group">
                          <input 
                            class="form-control" 
                            placeholder="Nouveau mot de passe"
                            [formControl]="changePasswordForm.controls['password']"
                            type="password">
                          <small 
                            *ngIf="changePasswordForm.controls['password'].hasError('required') && 
                            changePasswordForm.controls['password'].touched" 
                            class="err"> 
                            Password Obligatoire
                          </small>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <h4>Répéter le mot de passe<span class="err">*</span></h4>  
                        <div class="form-group">
                          <input 
                            class="form-control" 
                            placeholder="Répéter le mot de passe"
                            [formControl]="changePasswordForm.controls['repeated']"
                            type="password">
                          <small 
                            *ngIf="changePasswordForm.controls['repeated'].hasError('required') && 
                            changePasswordForm.controls['repeated'].touched" 
                            class="err">
                            Mot de passe requis
                          </small>
                          <small 
                            *ngIf="changePasswordForm.controls['repeated'].errors?.equalTo" 
                            class="err">
                            Le mot de passe ne correspond pas
                          </small>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="input clearfix">
                          <input type="submit" id="login_submit" class=" ln-tr btn-appointment" 
                            value="Soumettre" [disabled]="!changePasswordForm.valid">
                        </div>
                      </div>
                    </div><!-- end row -->
                  </form><!-- End form -->
                </div><!-- end login form -->
    
              </div><!-- end col-md-8/offset -->
          </div><!-- end row -->
        </div><!-- end container -->
      </section><!-- End Login Page -->
    
    </div><!-- .white-background -->