<div class="row">

  <div *ngIf="showPackage==1">
    <h4>ENTRETIEN CONSEIL</h4>
    POUR CHOISIR SON ÉCOLE
    Pour une information personnalisée et des conseils pratiques les conseillers du CIDE aident les jeunes et les familles dans le choix des établissements privés les plus adaptés à leur profil (collège, lycée, BTS, prépas et enseignement supérieur de bac+1 à bac+5, formation initiale ou alternance
  </div>

  <div *ngIf="showPackage==2">
    <h4>ORIENTATION COLLÈGE</h4>

    QUE FAIRE APRÈS UNE CLASSE DE TROISIÈME ?
    Cet entretien ainsi que le test proposé permettent de définir une filière de baccalauréat, faire le choix d'une voie professionnelle, par une approche active autour de questionnaires d'intérêts.
    Il s'agit de questionnaires d'investigation des intérêts conçus à partir du modèle de Holland.
    Ils sont particulièrement adaptés dans le cadre d'un bilan d'orientation ou réorientation, évaluation des intérêts, choix de métier.
    Ce test permet d'identifier des intérêts professionnels, voire de signaler une absence de maturation du projet.
    Une synthèse des intérêts professionnels est délivrée en fin d'entretien.
    L'élève peut visualiser la force de ses intérêts pour chaque type ainsi que les cohérences et incohérences inter domaines.
  </div>

  <div *ngIf="showPackage==3">
    <h4>ORIENTATION</h4>
    LYCÉE ET ENSEIGNEMENT SUPÉRIEUR
    Il s'agit d'un programme d'aide à l'élaboration de projet d'études et professionnel. Les entretiens et questionnaires dont HEXA 3 D® ou les tests d’intérêts professionnels permettent au jeune d'exprimer ses goûts et ses centres d'intérêt par une approche de ses motivations. La présentation de profils de candidats, classés par centre d'intérêts sert de support au conseiller pour conduire l'entretien avec le jeune.
    Son interprétation apporte des réponses individualisées et concrètes sur les filières, les métiers, les secteurs professionnels adaptés et contribue à construire une passerelle entre le projet professionnel, la réalité des études et la réussite.
  </div>

  <div *ngIf="showPackage==4">
    <h4>ENTRETIEN CONSEILS</h4>
    ACCOMPAGNEMENT ORIENTATION POST BAC
    Pour décrypter les parcours possibles et choisir sa voie dans l’enseignement supérieur, les conseillers du CIDE proposent un accompagnement personnalisé aux lycéens ayant une idée précise de leur projet professionnel.
    Les entretiens permettent d’identifier le projet du Lycéen et de
    présenter filières, formations et débouchés professionnels afin de construire un parcours d’études supérieures cohérent.
    Outre les conseils pratiques, l’objectif est de permettre aux lycéens de se projeter afin de faire des choix raisonnés et éclairés.
    Si le lycéen est indécis sur sa poursuite d’études, un bilan d’orientation sera recommandé au préalable.
  </div>

  <div *ngIf="showPackage==5">
    <h4>BILAN</h4>

    PSYCHOPEDAGOGIQUE COMPLET
    
    La démarche du CIDE est d'intégrer toutes les données pédagogiques, psychologiques et affectives mises en évidence par les différents tests proposés, afin de révéler le maximum des facettes de la personnalité et des compétences des jeunes qui nous sont confiés.
    Le bilan psycho-pédagogique proposé par le CIDE se déroule sous forme :
    <ul>
      <li>d'entretiens cliniques,</li>
      <li>de tests psychométriques</li>
      <li>de questionnaires d'intérêts et de motivation aboutissant à l'établissement d'un profil d'intérêt.</li>
    </ul>
    Les tests proposés par le CIDE sont objectivables, fiables, validés et reconnus par la communauté scientifique.
    Seul un psychologue-clinicien dûment expérimenté est à même de conduire un bilan psychopédagogique tel qu'il se pratique au CIDE.
    Les tests psychométriques que nous utilisons (WISC® et WAIS®)
    ont pour but, entre autre, d'explorer le fonctionnement cognitif du jeune.
    Il s'agit de tests dits "d'intelligence" (tests de QI), permettant
    de déterminer le quotient intellectuel du jeune et de le situer par rapport à une population échantillonnée.
    En ce qui concerne les tests de QI il convient de préciser que l'intelligence fonctionne par secteurs. Il en ressort que ces tests permettent de déterminer comment le jeune se situe à un moment donné, dans un secteur donné.
    L'équipe du CIDE a fait le choix de travailler sur la toute nouvelle version du WISC® afin de s'appuyer sur les toutes dernières théories du développement cognitif et en particulier "l'indice de raisonnement fluide".
    Ces tests restent des outils et en aucune façon ne doivent "figer" le jeune dans une évaluation. L'intelligence est multiple et ces tests n'en mesurent que certains des aspects.
    C'est pour cela que la rencontre et les échanges entre le clinicien et le jeune sont aussi importants. La passation du bilan complet nécessite donc plusieurs entretiens. La restitution des résultats se fait avec les parents.
    Un rapport complet individualisé est remis à l'issue de cette série d'entretiens.
    Parmi les questionnaires d'intérêt et de motivation nous avons fait
    le choix de HEXA 3 D®. Il s'agit d'un questionnaire d'investigation des intérêts conçu à partir du modèle de Holland qui permet d'aborder les représentations des sujets à travers trois domaines :
    activités préférées, qualités et professions.
    En résumé le Bilan Psychopédagogique est particulièrement recommandé pour comprendre le mode de fonctionnement intellectuel du jeune et déterminer son QI, déceler et comprendre la nature de possibles conflits psycho-affectifs et les voies pour y remédier, proposer des orientations adaptées.
    Bien entendu le CIDE peut dans certains cas spécifiques proposer un suivi personnalisé.
  </div>
</div>