<div fxFlex fxLayout class="header">
  <div fxFlex="33">
    <img class="cide-logo" 
        src="../../assets/images/cide-white.png" 
        alt="cide logo"
        (click)="onNavigateHome()">
  </div>
  <div fxLayoutAlign="center" fxFlex="33">
    <h1 class="sitename">{{ Title }}</h1>
  </div>
  <div fxFlex="33" id="header-right">
    <ul class="mobile-login">
      <li><i class=" fa fa-file-text"></i></li>
      <li><i class="fa fa-bookmark"></i></li>
      <li><i class="fa fa-user"></i>
          <ul class="login">
              <li><a href="login.html">S'inscrire</a></li>
              <li><a href="register.html">S'identifier</a></li>
          </ul>
      </li>
    </ul>
    <!--<ul class="right-top-menu pull-right">
      <li><i class=" fa fa-file-text"></i></li>
      <li><i class="fa fa-bookmark"></i></li>
      <li class="login-text"><a href="login.html"><i class="fa fa-sign-in"></i> S'inscrire</a> | <a href="register.html"><i class="fa fa-unlock-alt"></i> S'identifier</a></li>
    </ul>-->
    <ul class="social-media-list">
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-viadeo"></i></a></li>
    </ul>
  </div>
</div>