<div fxFlex fxLayout class="header">
  <div fxFlex="33">
    <img class="cide-logo" src="../../assets/images/cide-logo.png" alt="cide logo">
  </div>
  <div fxLayoutAlign="center" fxFlex="33">
    <h1 class="sitename">Ma Recherche</h1>
  </div>
  <div fxFlex="33">
    <ul class="social-media-list">
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
</div>