<header class="header">
    <nav class="main-navigation">
            <ul class="clearfix">
                <li class="parent-item haschild courses-menu">
                    <a href="#" class="ln-tr"><i class="fa fa-bars menu-holder"></i></a>
                    <ul class="clearfix">
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-download"></i></span>
                                <a routerLink="/brochure" class="ln-tr link">Les documentations des écoles</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-calendar-check-o"></i></span>
                                <a routerLink="/conseil" class="ln-tr link">Orientation</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-bullhorn"></i></span>
                                <a routerLink="/school-calendar" class="ln-tr link">Agenda des écoles</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-bookmark"></i></span>
                                <a href="#" class="ln-tr link">Mes voeux / Inscriptions</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-inbox"></i></span>
                                <a href="http://www.amazaon.fr" class="ln-tr link">Commande du Guide des écoles privées</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-inbox"></i></span>
                                <a href="http://www.guide-des-ecoles-privees.info/2016_2017" class="ln-tr link">Guide interactif des écoles privées</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-suitcase"></i></span>
                                <a routerLink="/linguistic" class="ln-tr link">Guide Sejours Linguistiques</a>
                            </div>
                        </li><!-- end course menu item -->
                    </ul>
                </li>
            </ul>
        </nav>
    <a routerLink="/">
        <img class="cide-logo" src="assets/images/cide-white.png" alt="cide logo"/>
    </a>

    <ul class="mobile-login">
        <li><i class=" fa fa-file-text"></i></li>
        <li><i class="fa fa-bookmark"></i></li>
        <li><i class="fa fa-user"></i>
            <ul class="login">
                <li><a (click)="onSignUp()"><i class="fa fa-sign-in"></i> S'inscrire</a></li>
                <li><a (click)="onSignIn()"><i class="fa fa-unlock-alt"></i> S'identifier / Fermer la Session</a></li>
            </ul>
        </li>
    </ul>
    <ul class="right-top-menu pull-right">
        <li><i class=" fa fa-file-text"  data-toggle="modal" data-target="#download-popup"></i></li>
        <li><i class="fa fa-bookmark"  data-toggle="modal" data-target="#download-popup"></i></li>
        <li class="login-text" *ngIf="!userLogin; else log">
            <a (click)="onSignUp()"><i class="fa fa-sign-in"></i> S'inscrire</a> | 
            <a (click)="onSignIn()"><i class="fa fa-unlock-alt"></i> S'identifier</a>
        </li>
        <ng-template #log>
            <li class="login-text">
                <a (click)="onSignOut()"><i class="fa fa-sign-in"></i> Se déconnecter</a> 
            </li>
        </ng-template>
    </ul>
    <ul class="social-media-list in-header">
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-viadeo"></i></a></li>
    </ul>
</header>

<div class="modal fade" id="download-popup" tabindex="-1" role="dialog" aria-labelledby="apply-popup">
        <div class="modal-dialog modal-download" role="document">
            <div class="modal-content">
                <div class="modal-body  wishlist">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab1" data-toggle="tab">Ma candidature</a></li>
                        <li><a href="#tab2" data-toggle="tab">Ma liste d'envies</a></li>
                    </ul>

                      <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            
                            <div class="card  school-list">
                                                               
                                <div class="card-content">
                                    <img src="assets/images/school-1.jpg" alt="School 1" />
                                    <h3>Lycee Saint-Charles</h3>
                                    <p>Lycee d'enseignement general Prive CatholiqueSous contrat d'association</p>
                                    <address>1 rue du Brouage 02300 Chauny <br /> Tel: 03 23 52 10 50</address>

                                    <a href="apb-prive-etablissement.html" class="btn btn-highlighted btn-block">Détail de l'école</a>
                                    
                                </div><!-- .card-content -->

                            </div><!-- .card -->

                            <div class="card  school-list">
                                                               
                                <div class="card-content">
                                    <img src="assets/images/school-2.jpg" alt="School 1" />
                                    <h3>Lycee Saint-Charles</h3>
                                    <p>Lycee d'enseignement general Prive CatholiqueSous contrat d'association</p>
                                    <address>1 rue du Brouage 02300 Chauny <br /> Tel: 03 23 52 10 50</address>

                                    <a href="apb-prive-etablissement.html" class="btn btn-highlighted btn-block">Détail de l'école</a>
                                    
                                </div><!-- .card-content -->

                            </div><!-- .card -->

                            <!--<div class="card  school-list" *ngFor="let school of schoolApply">
                                                               
                                <div class="card-content">
                                    <img src="{{school.image}}" alt="School 1" />
                                    <h3>{{school.longName}}</h3>
                                    <p>{{school.status}}</p>
                                    <address>{{school.address.ad1}} {{school.address.postCode}} {{school.address.city}} <br /> Tel: {{school.address.phoneNumber}}</address>

                                    <button class="btn btn-highlighted btn-block" (click)="onSchoolDetail(school.id)">Détail de l'école</button>
                                    
                                </div>

                            </div>-->

                        </div><!-- .tab-pane -->

                        <div role="tabpanel" class="tab-pane" id="tab2">

                            <div class="card  school-list">
                                                               
                                <div class="card-content">
                                    <img src="assets/images/school-1.jpg" alt="School 1" />
                                    <h3>Lycee Saint-Charles</h3>
                                    <p>Lycee d'enseignement general Prive CatholiqueSous contrat d'association</p>
                                    <address>1 rue du Brouage 02300 Chauny <br /> Tel: 03 23 52 10 50</address>

                                    <a href="apb-prive-etablissement.html" class="btn btn-highlighted">Détail de l'école</a>
                                    <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#apply-popup">Je postule</button>
                                </div><!-- .card-content -->

                            </div><!-- .card -->

                            <div class="card  school-list">
                                                               
                                <div class="card-content">
                                    <img src="assets/images/school-2.jpg" alt="School 1" />
                                    <h3>Lycee Saint-Charles</h3>
                                    <p>Lycee d'enseignement general Prive CatholiqueSous contrat d'association</p>
                                    <address>1 rue du Brouage 02300 Chauny <br /> Tel: 03 23 52 10 50</address>

                                    <a href="apb-prive-etablissement.html" class="btn btn-highlighted">Détail de l'école</a>
                                    <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#apply-popup">Je postule</button>
                                </div><!-- .card-content -->

                            </div><!-- .card -->

                            <!--<div class="card  school-list" *ngFor="let school of schoolWish">
                                                               
                                <div class="card-content">
                                    <img src="{{school.image}}" alt="School 1" />
                                    <h3>{{school.longName}}</h3>
                                    <p>{{school.status}}</p>
                                    <address>{{school.address.ad1}} {{school.address.postCode}} {{school.address.city}} <br /> Tel: {{school.address.phoneNumber}}</address>

                                    <button class="btn btn-highlighted btn-block" (click)="onSchoolDetail(school.id)">Détail de l'école</button>
                                    <button type="button" class="btn btn-secondary btn-block" (click)="onApplyTo(school.id)">Je postule</button>
                                </div>

                            </div>-->
                            
                        </div><!-- .tab-pane -->

                    </div><!-- .tab-content -->

                    <button class="btn btn-danger" data-dismiss="modal" aria-label="Close" type="button">Annuler</button>

                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- modal -->