.footer {
  background: #a2bc0f;
  border-top: 1px solid #41719c;
  bottom: 0;
  float: left;
  left: 0;
  padding: 10px 20px;
  position: static;
  width: 100%;
}
.footerCustom  h3{ color:#fff; font-size:16px; font-weight:bold; margin:0 0 10px;}

.footerCustom ul {margin:0 0 15px; padding:0; list-style:none;
}
.footerCustom ul li{
    margin: 0 0 6px;
  padding: 0;
  list-style: none;
}
  .footerCustom ul li a {
    display: block;
    color: #0563c1; 
    font-size:16px;
    padding:0;
  }

.footerCustom p{ font-size:14px;color:#fff;
margin:0; text-align:center;}
.footerCustom a {
  color: #0563c1;
}
.footerTopCont {
margin-bottom:40px;
width:100%; float:left; 
padding:40px 0 0;
}

.footerBottomContent {
  margin-bottom: 15px;
  width: 100%;
  float: left;
}


@media (max-width:1023px) {
  .footerBottomContent {
    margin-bottom: 40px;
  }
}