<footer class="footer footerCustom" style="margin-top:120px">
  <div class="footerTopCont">
    <div class="col-md-1  hidden-md-down"></div>
      <div class="col-md-2  col-xs-12">
        <h3>Trouver une école privée</h3>
        <ul class="footerNavs">
          <li><a (click)="onNavigate('ecole')">Ecoles Maternelles & Primaires</a></li>
          <li><a (click)="onNavigate('college')"> Collèges</a></li>
          <li><a (click)="onNavigate('lycee')"> Lycées</a></li>
          <li><a (click)="onNavigate('enseignement')"> Enseignement Supérieur</a></li>
          <li><a (click)="onNavigate('internat')"> Internats</a></li>
        </ul>
      </div>
      <div class="col-md-2  col-xs-12">
        <h3>Orientation – Conseils - Bilans</h3>
        <ul class="footerNavs">
          <li>
            <a href="#">
              Choisir son école
            </a>
          </li>
          <li><a href="#">Orientation : Que faire </a></li>
          <li>
            <a href="#">
              après la 3ème
            </a>
          </li>
          <li><a href="#"> Bilan d’Orientation Lycée & Enseignement Supérieur</a></li>
          <li><a href="#"> Accompagnement Orientation Post Bac</a></li>
          <li><a href="#"> Bilan Psychopédagogique</a></li>

        </ul>
      </div>
      <div class="col-md-2  col-xs-12">
        <h3>Information</h3>
        <ul class="footerNavs">
          <li>
            <a href="#">
              Entretien conseil-Comment choisir ?
            </a>
          </li>
          <li>
            <a href="#">
              Espace de documentation
            </a>
          </li>
          <li>
            <a href="#">
              Guide des écoles privées 2016-2017
            </a>
          </li>
        </ul>

        <h3> Autres activités pédagogiques</h3>
        <ul class="footerNavs">

          <li>
            <a (click)="onNavigate('orientation')">
              Soutien scolaire
            </a>
          </li>
          <li>
            <a (click)="onNavigate('linguistic')">  Séjours linguistiques</a>
          </li>

        </ul>
      </div>

      <div class="col-md-2  col-xs-12">
        <h3>Contact</h3>
        <ul class="footerNavs">

          <li>
            <a (click)="onNavigate('who-we-are')">
              Qui sommes nous ?
            </a>
          </li>
          <li>
            <a (click)="onNavigate('conseil')">
              Les services du CIDE
            </a>
          </li>
          <li>
            <a (click)="onNavigate('contact-us')">
              Contactez-nous
            </a>
          </li>
          <li>
            <a (click)="onNavigate('contact-us')">
              Plan d'accès
            </a>
          </li>
          <li>
            <a (click)="onNavigate('partnerships')">
              Partenariats
            </a>
          </li>
          <li>
            <a (click)="onNavigate('privacy-policy')"> Infos légales</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2  col-xs-12">
        <h3>Liens</h3>
        <ul class="footerNavs">
          <li>
            <a href="https://www.apbprive.fr" target="_blank">
              www.apbprive.fr
            </a>
          </li>
          <li>
            <a href="https://www.internats.info" target="_blank">
              www.internats.info
            </a>
          </li>
          <li>
            <a href="https://www.ecoles-de-commerce.info" target="_blank">
              www.ecoles-de-commerce.info
            </a>
          </li>
          <li>
            <a href="https://www.enseignement-prive.fr" target="_blank"> www.enseignement-prive.fr</a>
          </li>
        </ul>
      </div>
    <div class="col-md-1  hidden-md-down"></div>
    </div>
  <div class="footerBottomContent">

    <p>Enseignement-prive.fr V1.1</p>
    <p>CIDE 84, Boulevard Saint-Michel, 75006 Paris - Tél. : 01 53 10 33 20 -<a href="www.enseignement-prive.fr" target="_parent">www.enseignement-prive.fr</a></p>
    <p>CIDE Centre d'Information et de Documentation sur l'Enseignement privé. Site spécialisé sur les écoles privées en France,</p>
    <p>avant Bac et après Bac</p><p>Mail : <a href="mailto:contact@enseignement-prive.fr"> contact@enseignement-prive.fr</a></p>
</div>
</footer>
