<div class="tab-pane" id="my-research">
  <div class="container-fluid">
    <div class="row">
      <section class="col-md-12">
        <h3>Mes recherches</h3>
      </section>

      <section class="col-md-12">
          <ul class="list-of-research">
            <li *ngFor="let history of historyList | paginate: { itemsPerPage: 10, currentPage: pageNum }">
              <div class="row">
                <div class="research-list-item">
                    <p *ngIf="history!=[]">
                      <strong>Classe:</strong> {{ history.details.class[0] }} <strong>- Lieu</strong> {{ history.details.code[0] }} <strong>- Ecole</strong> {{ history.details.name }}
                    </p>
                  <button class="btn btn-primary btn-highlighted pull-right" (click)="onLaunchSearch(history.details)">
                    Relancer <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <pagination-controls (pageChange)="pageNum = $event"></pagination-controls>
      </section><!-- .col-* -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .tab-pane -->