<div class="tab-pane" id="my-research">
  <div class="container-fluid">
    <div class="row">
      <section class="col-md-12">
        <h3>Mes recherches</h3>
      </section>

      <section class="col-md-12">
          <ul class="list-of-research">
            <li *ngFor="let history of historyList | paginate: { itemsPerPage: 10, currentPage: pageNum }; let i=index">
              <div class="row">
                <div class="list-row">
                <div class="research-list-item">
                    <p *ngIf="history!=[]">
                      <strong>Classe:</strong> {{ history.details.class }} <strong>- Lieu</strong> {{ history.details.link }} <strong>- Ecole</strong> {{ history.details.school }}
                    </p>
                  <button class="btn btn-primary btn-highlighted pull-right" (click)="onLaunchSearch(history.details)">
                    Relancer <i class="fa fa-search"></i>
                  </button>
                </div>
                <button class="btn btn-warning btn-highlighted" (click)="onRemoveSearch(i, history._id)">
                  <i class="fa fa-remove"></i>
                </button>
                </div>
              </div>
            </li>
          </ul>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <pagination-controls class="pull-right" (pageChange)="pageNum = $event"></pagination-controls>
          </div>
      </section><!-- .col-* -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .tab-pane -->
