<div class="row">
  <div class="col-md-2">
    <md-list>
      <md-list-item><strong>Classe</strong></md-list-item>
    </md-list>
  </div>
  <div class="col-md-2">
    <md-list>
      <md-list-item><strong>Lv1</strong></md-list-item>
    </md-list>
  </div>
  <div class="col-md-2">
    <md-list>
      <md-list-item><strong>Lv2</strong></md-list-item>
    </md-list>
  </div>
  <div class="col-md-2">
    <md-list>
      <md-list-item><strong>Lv3</strong></md-list-item>
    </md-list>
  </div>
  <div class="col-md-2">
    <md-list>
      <md-list-item><strong>Options</strong></md-list-item>
    </md-list>
  </div>
  <div class="col-md-2">
    <md-list>
      <md-list-item><strong>Je choisis</strong></md-list-item>
    </md-list>
  </div>
  <div class="row" *ngFor="let cycle of schoolData.cycles; let i=index">
    <div class="col-md-12" *ngFor="let class of cycle.classes">
      <div class="row">
         <div class="col-md-2">
            <md-list>
              <md-list-item [mdTooltip]="class.code">{{class.code | capital | school:'13'}}</md-list-item>
            </md-list>
          </div>
          <div class="col-md-2">
            <md-list *ngIf="cycle.language.lv1.value[0]!=''; else empty1">
              <md-select placeholder="Lv1">
                <md-option *ngFor="let lv1 of cycle.language.lv1.value; let i=index" [value]="lv1">
                  {{ lv1 }}
                </md-option>
              </md-select>
            </md-list>
            <ng-template #empty1>
              -
            </ng-template>
          </div>
          <div class="col-md-2">
            <md-list *ngIf="cycle.language.lv2.value[0]!=''; else empty2">
              <md-select placeholder="Lv2">
                <md-option *ngFor="let lv2 of cycle.language.lv2.value; let i=index" [value]="lv2">
                  {{ lv2 }}
                </md-option>
              </md-select>
            </md-list>
            <ng-template #empty2>
              -
            </ng-template>
          </div>
          <div class="col-md-2">
            <md-list *ngIf="cycle.language.lv3.value[0]!=''; else empty3">
              <md-select placeholder="Lv3">
                <md-option *ngFor="let lv3 of cycle.language.lv3.value; let i=index" [value]="lv3">
                  {{ lv3 }}
                </md-option>
              </md-select>
            </md-list>
            <ng-template #empty3>
              -
            </ng-template>
          </div>
          <div class="col-md-2">
            <md-list *ngIf="class.option[0].name!=''; else empty4">
              <button md-button [mdMenuTriggerFor]="menu">
                Options <i class="fa fa-sort-desc" aria-hidden="true"></i>
              </button>
              <md-menu #menu="mdMenu">
                <button md-menu-item *ngFor="let option of class.option; let i=index">
                  {{option.name}}
                </button>
              </md-menu>
            </md-list>
            <ng-template #empty4>
              -
            </ng-template>
          </div>
          <div class="col-md-2">
            <md-list>
              <md-list-item>
                <md-checkbox  (click)="onCheckBox($event, class.code)"></md-checkbox>
              </md-list-item>
            </md-list>
          </div>
       </div>
     
  </div>
  
</div>


<div class="row">
  <section class="col-md-6">
    <button class="btn btn-lg btn-block btn-register" data-dismiss="modal"
      (click)="saveOnWish()">
      J'ENREGISTRE POUR PLUS TARD
    </button>
  </section>
  <section class="col-md-6">
    <button class="btn btn-lg btn-block btn-appointment close-class"
      (click)="applyTo()" [disabled]="classList.length==0">
      J'INCRIS MON ENFANT
    </button>
  </section>
</div><!-- .row --> 