<div class="panel-body">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Des Articles sur L'Etablissement paru dans la presse</h5>
                </div>
                <div class="ibox-content">
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/lepoint.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru dans Le Point le 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/letudiant.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru dans l'Etudiant le 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/lexpresse.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru dans l'Express le 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/lobsetudiant.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru l'Obs Etudiant le 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/lobsetudiant.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru le Parsien 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/studyrama.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru sur Studyrama le 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/figaro.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru le Figaro du 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/lepoint.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru le 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 shadow-wrapper">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://secuplus.sg/etablissement/apb-etablissement.html">

                                <img alt="image" class="img-circle" src="assets/images/etablissement/lepoint.jpg" style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs"><strong>Les meilleures formations pour la communication</strong></h3>

                                <div class="font-bold">paru le 25 Janvier 2016</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white"><i class="fa fa-cloud-download"></i> Telechargez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-eye"></i> Lisez</a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Recommendez</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>