<div class="panel-body">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins" *ngIf="schoolData.news.length!=0; else noNews">
                <div class="ibox-title">
                    <h5>Des Articles sur L'Etablissement paru dans la presse</h5>
                </div>
                <div class="ibox-content">
                    <div class="col-lg-3 shadow-wrapper" *ngFor="let media of schoolData.news">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">

                            <a href="http://54.254.203.172/cideapi{{media.link}}">

                                <img alt="image" class="img-circle" src="http://54.254.203.172/cideapi{{media.photo}}" 
                                    style="height: 40px;border-radius: 0%;">


                                <h3 class="m-b-xs">
                                    <strong>{{media.titre}}</strong>
                                </h3>

                                <div class="font-bold">paru le {{media.parution}}</div>
                                <!--<address class="m-t-md">-->
                                <!--<strong>Twitter, Inc.</strong><br>-->
                                <!--795 Folsom Ave, Suite 600<br>-->
                                <!--San Francisco, CA 94107<br>-->
                                <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                <!--</address>-->

                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white" download="download.pdf" target="_self" href="http://54.254.203.172/cideapi{{media.download}}">
                                        <i class="fa fa-cloud-download"></i> Telechargez
                                    </a>
                                    <a class="btn btn-xs btn-white" href="http://54.254.203.172/cideapi{{media.read}}">
                                        <i class="fa fa-eye"></i> Lisez
                                    </a>
                                    <a class="btn btn-xs btn-white" href="http://54.254.203.172/cideapi{{media.recommand}}">
                                        <i class="fa fa-user-plus"></i> Recommendez
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noNews>
                <h2 style="text-align:center">Il n'y a pas de média à afficher</h2>
            </ng-template>
        </div>
    </div>
</div>