<div class="tab-pane" id="myfavourites">
  <div class="container-fluid">
    <div class="row">
            <section class="col-md-12">
              <div>
                <div class="card-mobile">
                  <p>Retrouvez ici les établissements auxquels votre demande d’inscription a été envoyée.</p>
                  <div class="fav-compare-div">
                    <button type="button"
                            class="btn btn-appointment pull-right popup-btn"
                            (click)="onLaunchCompare()"
                            [disabled]="!canCompare">
                      Je Compare
                    </button>
                  </div>
                  <!-- <div class="modal fade compare-modal" id="filter-popup" tabindex="-1" role="dialog" aria-labelledby="filter-popup">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h3>Que voulez-vous comparer?</h3>
                          <div class="filter-option" *ngFor="let filter of filterList; let i=index">
                            <input type="checkbox" value="" (click)="onFilterCheckbox(i)">
                            <div class="row">
                              <p style="text-align:center">
                                {{filter}}
                              </p>
                            </div>

                          </div>

                          <button class="btn btn-filter-pop-up btn-block btn-lg"
                                  data-dismiss="modal"
                                  (click)="onCompare()"
                                  [disabled]="!canFilter">
                            Je Compare
                          </button>

                        </div>
                      </div>
                    </div>
                  </div> -->


                </div>
		  <div class="col-lg-2 col-md-2" *ngFor="let school of wishList; let i=index">

            <div class="card  school-item" style="background: #EBECEC">

              <!--<div class="checkbox-custom">
            <md-checkbox [disabled]="four" (click)="onCheckbox(school.school._id)"></md-checkbox>
        </div>-->
              <!--<div class="checkbox-custom">
            <input type="checkbox" class="checkbox filled-in" id="school-1" />
            <label for="school-1">&nbsp;</label>
        </div>-->
              <ul class="school-action" style="margin-top:5px; margin-right:5px">
                <!-- <li (click)="saveInWish(school._id)">
                  <i style="cursor:pointer; color:#393649" mdTooltip="Ajouter à la liste des voeux"
                     class="fa fa-bookmark" aria-hidden="true"></i>
                </li> -->
                <li (click)="applyTo(school)">
                  <i style="cursor:pointer; color:#393649" mdTooltip="Demander un dossier d'inscrption"
                     class="fa fa-paper-plane" aria-hidden="true"></i>
                </li>
                <!--<li>
              <i style="cursor:pointer" class="fa fa-share" aria-hidden="true"></i>
          </li>-->
                <li (click)="goToBrochure(school.shortName)">
                  <i class="fa fa-download" aria-hidden="true" mdTooltip="Télécharger une brochure"
                     style="cursor:pointer; color:#393649"></i>
                </li>
                <li class="checkbox-custom-li" mdTooltip="Comparer">
                  <input type="checkbox" [disabled]="four" class="checkbox filled-in school-checkbox" [id]="'school-'+i" />
                  <label [for]="'school-'+i" (click)="onCheckbox(school._id)">&nbsp;</label>
                </li>
              </ul>
              <!--div class="checkbox-custom">
            <input type="checkbox" [disabled]="four" style="width:5px; height:5px"
            class="checkbox filled-in school-checkbox" [id]="'school-'+i"/>
            <label [for]="'school-'+i" style="width:5px; height:5px"
                (click)="onCheckbox(school._id)">&nbsp;</label>
        </div-->
              <br>
              <img src="{{globalUrl}}/{{school.cycles[0].logo1}}" alt="School 1"
                   class="img-responsive"
                   style="width:auto; height:80px; margin: 5px auto; margin-top: 25px;" />
              <br>
              <div>
                <app-wish-school-card [pathName]="pathName" [SchoolData]="school"></app-wish-school-card>
              </div>
              </div>
        </div><!-- .col-* -->
        </div><!-- .card-mobile -->
      </section>
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .tab-pane -->
