<div class="col-md-3">
                            
    <div class="card  school-item">
        <div class="checkbox-custom">
            <md-checkbox></md-checkbox>
        </div>

        <ul class="school-action  hidden-xs">
            <li><a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
        </ul>
        
        <img src="../../assets/images/school-1.jpg" alt="School 1" class="hidden-xs" />
        
        <div class="card-content">
            <h3>Lycee Saint-Charles</h3>
            <p>Lycee d'enseignement general Prive CatholiqueSous contrat d'association</p>
            <address>1 rue du Brouage 02300 Chauny <br /> Tel: 03 23 52 10 50</address>

            <ul class="school-action  visible-xs">
                <li><a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
            </ul>

            <a href="apb-prive-etablissement.html" class="btn btn-highlighted">Détail de l'école</a>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#apply-popup">Je postule</button>
        </div><!-- .card-content -->

    </div><!-- .card -->

</div><!-- .col-* -->
