<div class="">
  <main _ngcontent-c3="" class="main white-background" role="main" ng-reflect-class-base="main white-background">
    <div _ngcontent-c3="" class="container" ng-reflect-class-base="container">
        <div class="row">
          <section class="col-md-7">
            <h2 class="main-title">Contactez-nous</h2>
          </section>
          <section class="col-md-5">
            <h2 class="main-title">Plan d'accès</h2>
          </section>
        </div>
        <div class="row">
          <div class="col-md-7 align_left">
            <p>
              Nous vous accueillons dans nos locaux :
              Du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 18h30.
              Sur rendez-vous : Services d'orientation et entretiens-conseils
              En accès libre : Espace documentation (internat et externat)
              Gratuit sur place : Guide pratique des écoles privées

            </p>
            <p>
              Centre d'Information et de Documentation sur l'Enseignement privé<br />
              84, boulevard Saint-Michel, 75006 Paris<br />
              <i class="fa fa-phone" aria-hidden="true"></i> Tél. : 01.53.10.33.20
            </p>
            <p>
              <i class="fa fa-envelope-o" aria-hidden="true"></i> cide@enseignement-prive.fr<br />
              RER (B) : Luxembourg (sortie rue de l'Abbé de l'Epée) - Port-Royal<br />
              Bus RATP : 21 - 27 - 38 - 82 - 84 - 85 - 89<br />
              Métro : ligne 12 : Notre-Dame des Champs, ligne 4 : Vavin
            </p>

          </div>
          <div class="col-md-5"><img src="assets/images/map.jpg" /></div>

        </div>






      </div>
  </main>
</div>