<div class="">
  <main _ngcontent-c3="" class="main white-background" role="main" ng-reflect-class-base="main white-background">
    <div _ngcontent-c3="" class="container" ng-reflect-class-base="container">
        <div class="row">
          <section class="col-md-7">
            <h2 class="main-title">Contactez-nous</h2>
          </section>
          <section class="col-md-5">
            <h2 class="main-title">{{ 'AccessPlan' | translate }}</h2>
          </section>
        </div>
        <div class="row">
          <div class="col-md-7 align_left">
            <p>
              {{ 'ContactUs1' | translate }}
              

            </p>
            <p>
              {{ 'ContactUs2' | translate }}
              
              <i class="fa fa-phone" aria-hidden="true"></i> {{ 'Tel' | translate }}
            </p>
            <p>
              <i class="fa fa-envelope-o" aria-hidden="true"></i> {{ 'ContactUs3' | translate }}
            </p>

          </div>
          <div class="col-md-5"><img src="assets/images/map.jpg" /></div>

        </div>






      </div>
  </main>
</div>