<div class="tab-pane" id="bookingappointment">
  <div class="container-fluid">
    <div class="row">
      <section class="col-md-12">
        <h3>Retrouvez ici les détails de votre rendez-vous pour un entretien d’orientation</h3>
      </section>

	  <section class="col-md-12">
        <ul class="appointLists">
		<li><div class="leftImg"><img src="assets/images/conseil/image-2.jpg" alt=""/></div><div class="appointData">
		<h3>ORIENTATION COLLEGE QUE FAIRE APRES UNE CLASSE DE TROISIEME</h3>
		<div class="appdatList">Date:</div>
			<div class="appdatList">Horaire:</div>
			<div class="appdatList">Conseiller d’orientation: </div>
			<div class="appdatList">L’addresse du rendez-vous: CIDE 84 Boulevard Saint-Michel 75006 Paris</div>
			<div class="appdatList">Tél. : 01 53 10 33 20 </div>
</div></li>
		</ul>
      </section>
      <section>
        Veuillez <a routerLink="/wizard" routerLinkActive="active">cliquer ici</a> pour accéder au questionnaire en vue de votre entretien. (RC) Ce dossier sera transmis à votre conseiller afin de préparer votre entretien.
      </section>

    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .tab-pane -->
