
<ul class="school-action">
    <li (click)="saveInWish()">
        <i style="cursor:pointer" class="fa fa-bookmark" aria-hidden="true"></i>
    </li>
    <li (click)="applyToSchool()">
        <i style="cursor:pointer" class="fa fa-paper-plane" aria-hidden="true"></i>
    </li>
    <li>
        <i style="cursor:pointer" class="fa fa-share" aria-hidden="true"></i>
    </li>
    <li>
        <a href="http://54.254.203.172/cideapi{{brochureData.brochure}}" download="brochure.pdf" target="_self">
            <i class="fa fa-download" aria-hidden="true"></i>
        </a>
        
    </li>
</ul>

<img src="http://54.254.203.172/cideapi/{{SchoolData.cycles[0].logo1}}" alt="School 1" 
    style="width:213.75px; height:213.75px"/>

<div class="card-content">
    <h3 style="height:30px" mdTooltip="{{SchoolData.longName}}">
        {{ SchoolData.longName | school:42 }}
    </h3>
    <!--<p> {{ SchoolData.cycles[0].cycle.status1 }} <br /> 
        {{ SchoolData.cycles[0].cycle.status2 }} <br />
        {{ SchoolData.cycles[0].cycle.status3 }}</p>-->
    <address> {{ SchoolData.address.ad1 }} <br /> 
        {{ SchoolData.address.postcode }} {{ SchoolData.address.city }}<br /> 
        Tel: {{ SchoolData.address.phone }}</address>

    <button class="btn btn-highlighted"
        (click)="onSchoolDetail()">Détail</button>
    
    <button type="button" class="btn btn-secondary"  (click)="applyToSchool()">Postuler</button> 
</div>