<div class="popup-ad-holder fadeInDown animated">
        <img src="assets/images/ad/ad-336x280-st.jpg" alt="" />
    </div>

    <div class="popup-ad-holder-mobile fadeInDown animated">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img src="assets/images/ad/ad-336x280-st.jpg" alt="" />
    </div>

    <div class="filter-form-holder ecole">

            <form class="form-inline searchform  school-page">
<!-- 
                <div class="dropdown">
                  <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> -->
                    
                  <!-- </a>
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Specialités</li>
                    <li>Internat</li>
                    <li>Periode</li>
                    <li>Resturantion</li>
                    <li>Externat</li>
                    <li>Statut</li>
                    <li>Ens. Confessionel</li>
                    <li>Langues</li>
                    <li>Sections</li>
                    <li>Diplomes</li>
                    <li>Options</li>
                    <li>Places Disponibles</li>
                  </ul>
                </div> -->




                <h2 class="featured-title">ÉCOLE <span class="sub-title">Maternelle / Primaire</span></h2>
                

                <div class="container">

                    <div class="row">

                        <div class="col-md-11">
                            
                            <div class="form-wrap row">

                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-4  col-xs-6">
                                            <div class="form-group">
                                                <label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>Classe</option>
                                                        <optgroup label="Cycle 1 : Apprentissages Premiers">
                                                            <option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                                            <option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                                            <option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                                        </optgroup>
                                                        <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                            <option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                                            <option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                                            <option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                                        </optgroup>
                                                        <optgroup label="Cycle 3 : Consolidation">
                                                            <option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                                            <option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                                            <option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</option>
                                                        </optgroup>
                                                    </select>
                                                </label>
                                            </div>
                                        </div><!-- .col-* -->

                                        <div class="col-md-4  col-xs-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Lieu" />
                                            </div>
                                        </div>

                                        <div class="col-md-4  col-xs-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Nom d'etablissement" />
                                            </div>
                                        </div>
                                    </div><!-- .row -->
                                </div><!-- .col-* -->
                                
                                <div class="col-md-1">
                                <!-- <div class="form-group"> -->
                                    <button class="btn btn-search"><i class="fa fa-search"></i></button>
                                <!-- </div> -->
                                </div>


                            </div><!-- .form-wrap -->
                        
                        </div><!-- .col-* -->

                        <div class="col-md-1">
                            <div class="filter-wrapper">
                                <i class="fa fa-filter filter-holder" data-toggle="tooltip" data-placement="right" title="Affinez votre recherche avec plus de critères"></i>
                                
                                <div class="inline-text pull-right hidden-lg hidden-md hidden-sm visible-xs">
                                    <i class="fa fa-filter"></i> Filtre avancé
                                    <div class="switch  mobile">
                                        <input id="filter-trigger" class="cmn-toggle cmn-toggle-round" type="checkbox">
                                        <label for="filter-trigger"></label>
                                    </div>
                                </div>
                                <!-- <img src="assets/images/ad/filter-open.jpg" class="filters" /> -->
                                <div class="advance-filter">
                                    <ul>
                                        <li><a>Specialités</a>
                                            <ul class="left-popup">
                                                <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-1" /><label for="filter-1">Accueil Handicapé, Dyslexie</label></li> -->
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-2" /><label for="filter-2">Aides Financières - Bourse</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-3" /><label for="filter-3">Cours Francais Langue Etrangere - LFE</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-4" /><label for="filter-4">Dispositif d'accueil pour élèves à haut potentiel (EIP)<!-- Enfant Precoces --></label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-5" /><label for="filter-5">Horaires Aménagés</label></li>
                                            </ul>
                                        </li>
                                        <li><a>Internat</a>
                                            <ul>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-6" /><label for="filter-6">si case Internat est cochée</label></li>
                                                <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-7" /><label for="filter-7">Capacité</label></li> -->
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-8" /><label for="filter-8">Internat sur Place</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-9" /><label for="filter-9">Internat externe</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-10" /><label for="filter-10">Résidence Etudiante</label></li>
                                                <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-11" /><label for="filter-11">Internat de semaine</label></li> -->
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-12" /><label for="filter-12">Internat Permanent</label></li>
                                                <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-13" /><label for="filter-13">Internat Certains Weekend</label></li> -->
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-14" /><label for="filter-14">Internat mixte</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-15" /><label for="filter-15">Internat filles</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-16" /><label for="filter-16">Internat garcon</label></li>
                                                <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-17" /><label for="filter-17">Chambres individuelles</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-18" /><label for="filter-18">Chambres 2 a 4 lits</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-19" /><label for="filter-19">chambres 5 a 8 lits</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-20" /><label for="filter-20">Dortoirs</label></li> -->
                                            </ul>
                                        </li>
                                        <li><a>Stages</a>
                                            <ul class="left-popup">
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-21" /><label for="filter-21">stage pre-rentree</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-22" /><label for="filter-22">stages petites vacances</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-23" /><label for="filter-23">stages de grandes vacances</label></li> 
                                            </ul>
                                        </li>
                                        <li><a>Restauration</a>
                                            <ul>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-24" /><label for="filter-24">self-service</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-25" /><label for="filter-25">Service a Table</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-26" /><label for="filter-26">Cafeteria</label></li> 
                                            </ul>
                                        </li>
                                        <li>
                                            <a><input type="checkbox" name="filter-61" class="checkbox filled-in" id="filter-61" /><label id="disponibles" for="filter-61">Externat</label></a>
                                            <!-- <ul>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-27" /><label for="filter-27">demi-pension mixte</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-28" /><label for="filter-28">demi-pension garcons</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-29" /><label for="filter-29">demi-pension filles</label></li> 
                                            </ul> -->
                                        </li>
                                        <li><a>Statut</a>
                                            <ul>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-33" />
                                                    <label for="filter-33">Public</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-34" />
                                                    <label for="filter-34">Prive</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-35" />
                                                    <label for="filter-35">CCI</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-36" />
                                                    <label for="filter-36">Sous Contrat D'association</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-37" />
                                                    <label for="filter-37">Hors contrat</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-38" />
                                                    <label for="filter-38">CFA</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-39" />
                                                    <label for="filter-40">UFA</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-40" />
                                                    <label for="filter-40">Reconnue par l'Etat</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-41" />
                                                    <label for="filter-41">en convention avec l'Etat</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-42" />
                                                    <label for="filter-42">Enseignement supérieur Libre</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-43" />
                                                    <label for="filter-43">Enseignement supérieur</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-44" />
                                                    <label for="filter-44">Enseignement supérieur technique</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="filter-45" />
                                                    <label for="filter-45">Sous contrat simple</label>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a>Ens. Confessionel</a>
                                            <ul class="left-popup">
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="laic" />
                                                    <label for="laic">Laic</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="" class="checkbox filled-in" id="confessionel" />
                                                    <label for="confessionel">Confessionel</label>

                                                    <div class="collapse" id="addConfessionel" aria-expanded="false">
                                                        <ul>
                                                            <li>
                                                                <input type="checkbox" name="" class="checkbox filled-in" id="catholique" />
                                                                <label for="catholique">Catholique</label>        
                                                            </li>
                                                            <li>
                                                                <input type="checkbox" name="" class="checkbox filled-in" id="protestant" />
                                                                <label for="protestant">Protestant</label>        
                                                            </li>
                                                            <li>
                                                                <input type="checkbox" name="" class="checkbox filled-in" id="musulman" />
                                                                <label for="musulman">Musulman</label>        
                                                            </li>
                                                            <li>
                                                                <input type="checkbox" name="" class="checkbox filled-in" id="juif" />
                                                                <label for="juif">Juif</label>        
                                                            </li>
                                                            <!-- <li>
                                                                <input type="checkbox" name="" class="checkbox filled-in" id="boudhiste" />
                                                                <label for="boudhiste">Boudhiste</label>        
                                                            </li> -->
                                                        </ul>                                                  
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a>Langues</a>
                                            <ul>
                                                <li><label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class">
                                                            <option value="" disabled selected hidden>LV1</option>
                                                            <option value="Allemand">Allemand</option>
                                                            <option value="Anglais">Anglais</option>
                                                            <option value="Arabe">Arabe</option>
                                                            <option value="Chinois">Chinois</option>
                                                            <option value="Coréen">Coréen</option>
                                                            <option value="Danois">Danois</option>
                                                            <option value="Espagnol">Espagnol</option>
                                                            <option value="Grec Moderne">Grec Moderne</option>
                                                            <option value="Hébreu">Hébreu</option>
                                                            <option value="Italien">Italien</option>
                                                            <option value="Japonais">Japonais</option>
                                                            <option value="Néerlandais">Néerlandais</option>
                                                            <option value="Persan">Persan</option>
                                                            <option value="Polonais">Polonais</option>
                                                            <option value="Portugais">Portugais</option>
                                                            <option value="Russe">Russe</option>
                                                            <option value="Suédois">Suédois</option>
                                                            <option value="Vietnamien">Vietnamien</option>
                                                        </select>
                                                    </label>
                                                </li>
                                                <li><label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class">
                                                            <option value="" disabled selected hidden>LV2</option>
                                                            <option value="Allemand">Allemand</option>
                                                            <option value="Anglais">Anglais</option>
                                                            <option value="Arabe">Arabe</option>
                                                            <option value="Chinois">Chinois</option>
                                                            <option value="Coréen">Coréen</option>
                                                            <option value="Danois">Danois</option>
                                                            <option value="Espagnol">Espagnol</option>
                                                            <option value="Grec Moderne">Grec Moderne</option>
                                                            <option value="Hébreu">Hébreu</option>
                                                            <option value="Italien">Italien</option>
                                                            <option value="Japonais">Japonais</option>
                                                            <option value="Néerlandais">Néerlandais</option>
                                                            <option value="Persan">Persan</option>
                                                            <option value="Polonais">Polonais</option>
                                                            <option value="Portugais">Portugais</option>
                                                            <option value="Russe">Russe</option>
                                                            <option value="Suédois">Suédois</option>
                                                            <option value="Vietnamien">Vietnamien</option>
                                                        </select>
                                                    </label></li>
                                                <li><label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class">
                                                            <option value="" disabled selected hidden>LV3</option>
                                                            <option value="Allemand">Allemand</option>
                                                            <option value="Anglais">Anglais</option>
                                                            <option value="Arabe">Arabe</option>
                                                            <option value="Chinois">Chinois</option>
                                                            <option value="Coréen">Coréen</option>
                                                            <option value="Danois">Danois</option>
                                                            <option value="Espagnol">Espagnol</option>
                                                            <option value="Grec Moderne">Grec Moderne</option>
                                                            <option value="Hébreu">Hébreu</option>
                                                            <option value="Italien">Italien</option>
                                                            <option value="Japonais">Japonais</option>
                                                            <option value="Néerlandais">Néerlandais</option>
                                                            <option value="Persan">Persan</option>
                                                            <option value="Polonais">Polonais</option>
                                                            <option value="Portugais">Portugais</option>
                                                            <option value="Russe">Russe</option>
                                                            <option value="Suédois">Suédois</option>
                                                            <option value="Vietnamien">Vietnamien</option>
                                                        </select>
                                                    </label>
                                                </li>
                                                <li><label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class">
                                                            <option value="" disabled selected hidden>LA - Langues Anciennes</option>
                                                            <option value="Grec">Grec</option>
                                                            <option value="Latin">Latin</option>
                                                        </select>
                                                    </label>
                                                </li>
                                                <li><label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class">
                                                            <option value="" disabled selected hidden>LR - Langues Regionales</option>
                                                            <option value="Alsacien">Alsacien</option>
                                                            <option value="Auvergnat">Auvergnat</option>
                                                            <option value="Basque">Basque</option>
                                                            <option value="Breton">Breton</option>
                                                            <option value="Catalan">Catalan</option>
                                                            <option value="Corse">Corse</option>
                                                            <option value="Nicois">Nicois</option>
                                                            <option value="Occitan">Occitan</option>
                                                            <option value="Pays Mosel">Pays Mosel</option>
                                                            <option value="Provencal">Provencal</option>
                                                        </select>
                                                    </label>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a>Sections</a>
                                            <ul class="left-popup">
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-51" /><label for="filter-51">Section Européenne</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-52" /><label for="filter-52">Section Internationnale</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-53" /><label for="filter-53">Section bilingue</label></li>
                                                <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-54" /><label for="filter-54">Section Sportive</label></li>
                                            </ul>
                                        </li>
                                        <li><a>Diplomes</a>
                                            <ul>
                                               <li><label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class">
                                                            <option value="" disabled selected hidden>Nom du diplome</option>
                                                        </select>
                                                    </label>
                                                </li> 
                                            </ul>
                                        </li>
                                        <li><a>Options</a>
                                            <ul class="left-popup">
                                                <li><input type="text" name="" placeholder="Nom de L'option" class="form-control"></li>
                                            </ul>
                                        </li>
                                        <li><a><input type="checkbox" name="filter-60" class="checkbox filled-in" id="filter-60" /><label id="disponibles" for="filter-60">Places Disponibles</label></a>
                                        </li>
                                    </ul>
                                    <!-- <img src="assets/images/ad/ads-filter.jpg" alt="ads" class="ad-filter" /> -->
                                </div><!-- .advance-filter -->
                            </div><!-- .filter-wrap -->
                        </div><!-- .col -->
                
                    </div><!-- .row -->

                </div><!-- .container -->

            </form>

    </div><!-- .filter-form-holder -->

    <div class="slickjs-mobile slickjs">
        <div><img src="assets/images/ad/ads-footer_r1_c1.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c2.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c3.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c4.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c6.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c8.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c9.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c10.jpg" alt="ads" /></div>
        <div><img src="assets/images/ad/ads-footer_r1_c12.jpg" alt="ads" /></div>
    </div>

    <main class="main" role="main">
        
    <!--<div class="white-background">-->

        <div class="ads-area">
            <img src="assets/images/ad/ads-728x90-sainte.jpg" alt="" class="ads-after-search-form">
            <section class="ads-left from-popup hidden">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/images/ad/ad-160x600-ipecom.jpg" alt="" />
            </section>
            <section class="ads-right from-popup hidden">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/images/ad/ad-160x600-ipecom.jpg" alt="" />
            </section>
            <section class="ads-left fixed-ad hidden">
                <img src="assets/images/ad/ads-160x600-lespetis.jpg" alt="" />
            </section>
            <section class="ads-right fixed-ad hidden">
                <img src="assets/images/ad/ads-160x600-lespetis.jpg" alt="" />
            </section>
        </div>

        <div class="modal fade" id="apply-popup" tabindex="-1" role="dialog" aria-labelledby="apply-popup">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>CLASSE</th>
                                    <th>Lv1</th>
                                    <th>Lv2</th>
                                    <th>Lv3</th>
                                    <th>OPTION</th>
                                    <th>JE CHOISIS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PS</td>
                                    <td>Anglais</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>Pâte à modeler</td>
                                    <td><input type="checkbox" name="" class="checkbox filled-in" id="choose-1" /><label for="choose-1">&nbsp;</label></td>
                                </tr>
                                <tr>
                                    <td>MS</td>
                                    <td>Anglais</td>
                                    <td>Espagnol</td>
                                    <td>-</td>
                                    <td>Piano</td>
                                    <td><input type="checkbox" name="" class="checkbox filled-in" id="choose-2" /><label for="choose-2">&nbsp;</label></td>
                                </tr>
                                <tr>
                                    <td>GS</td>
                                    <td>Anglais</td>
                                    <td>Espagnol</td>
                                    <td>Allemand</td>
                                    <td>-</td>
                                    <td><input type="checkbox" name="" class="checkbox filled-in" id="choose-3" /><label for="choose-3">&nbsp;</label></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <section class="col-md-6"><button class="btn btn-lg btn-block btn-register" data-dismiss="modal">J'ENREGISTRE POUR PLUS TARD</button></section>
                            <section class="col-md-6"><button class="btn btn-lg btn-block btn-appointment close-class">J'INCRIS MON ENFANT</button></section>
                        </div><!-- .row --> 
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- modal -->

        <div class="modal fade" id="confirm-popup" tabindex="-1" role="dialog" aria-labelledby="apply-popup">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="assets/images/ad/cide-vote.png" class="icon" alt="Vote" width="140" />
                        <p><strong>Nous transmettons votre dossier au lycee Excellensia Sa direction vous contactera dans les meilliuers delais</strong></p>
                        <p>Nous venons de vous envoyer un mel de confimation</p>
                        <button class="btn btn-lg btn-block btn-appointment" data-dismiss="modal">J'AI COMPRIS</button>
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- modal -->

            <div class="container">

                <div class="row"><div class="col-md-10 col-md-offset-1">
                
                    <div class="list-schools  row  white-background">

                        <div class="col-md-12">
                            
                            <div class="result-text">
                                <h3 *ngIf="searchFilter[0]!='' || searchFilter[2]!=''">Mon résultat pour: 
                                    <span *ngIf="searchFilter[0]!=''">{{ 'Classe ' + searchFilter[0] }}</span> 
                                    <span class="fa fa-map-marker"
                                        *ngIf="searchFilter[1]!=''"></span> 
                                    <span *ngIf="searchFilter[1]!=''">{{ ' - ' + searchFilter[1] }}</span>
                                    <span *ngIf="searchFilter[2]!=''">{{ searchFilter[2] }}</span></h3>
                                <p>Recherche Affine: Aides Financieres - Bourse / Lv1 Anglais / Place Disponibles <a href="#"><span class="fa fa-times"></span></a></p>
                                
                                
                                <!-- <input type="checkbox" class="checkbox filled-in" id="test1" />
                                <label for="test1" class="">Tout sélectionner</label> -->
                            </div>

                            <!-- <a href="compare-mode.html" class="compare-button">Compare Mode <span class="fa fa-chevron-right"></span></a> -->
                            
                            <div class="compare-holder">
                                <!-- Mode de Comparaison
                                <div class="switch">
                                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                                    <label for="cmn-toggle-1"></label>
                                </div><br /> -->
                                <!-- <a href="compare-mode.html#compare" class="btn btn-appointment pull-right hide link-btn">Je Compare</a> -->
                                <!-- Button trigger modal -->
                                <button type="button" 
                                    class="btn btn-appointment pull-right popup-btn btn-compare" 
                                    data-toggle="modal" 
                                    data-target="#filter-popup"
                                    [disabled]="!canCompare">Je Compare</button>

                                <div class="popup-compare animated fadeOut">
                                    <p>Comparez les ecoles de votre choix pour mieux choisir en 2 étapes:</p>
                                    <ol>
                                        <li>Sélectionnez les écoles ( 4 maximum)</li>
                                        <li>Choisissez les critères à comparer</li>
                                    </ol>
                                </div>
                            </div>
 
                            
                            <div class="modal fade" id="filter-popup" tabindex="-1" role="dialog" aria-labelledby="filter-popup">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h3>Ce que vous voulez compare?</h3>

                                            <div *ngFor="let filter of filterList; let i=index">
                                                <div class="filter-option">
                                                    <md-checkbox  name="" 
                                                        class="checkbox filled-in"
                                                        (click)="onFilterCheckbox(i)">
                                                    <label>{{ filter }}</label>
                                                    </md-checkbox>
                                                </div><!-- .filter-option -->
                                            </div>

                                            <button class="btn btn-filter-pop-up btn-block btn-lg" 
                                                data-dismiss="modal"
                                                (click)="onCompare()"
                                                [disabled]="!canFilter">Je Compare</button>

                                            <!-- <a href="compare-mode.html#compare" class="btn btn-filter-pop-up btn-block btn-lg ">Je Comparer</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .modal -->

                        </div><!-- .col-* -->
                        
                        <div class="col-md-3" *ngFor="let school of schoolList; let i = index">
                            
                            <div class="card  school-item">
                                <div class="checkbox-custom">
                                    <md-checkbox [disabled]="four" (click)="onCheckbox(school._id)"></md-checkbox>
                                </div>
                                <!--<div class="checkbox-custom">
                                    <input type="checkbox" class="checkbox filled-in" id="school-1" />
                                    <label for="school-1">&nbsp;</label>
                                </div>-->
                                <app-school-card [SchoolData]="school"></app-school-card>
                            </div>

                        </div><!-- .col-* -->

                    </div><!-- .list-schools -->


                     <div class="footer-ads hidden animated">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1  wrapper  slickjs">
                                    <div><img src="assets/images/ad/ads-footer_r1_c1.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c2.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c3.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c4.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c6.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c8.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c9.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c10.jpg" alt="ads" /></div>
                                    <div><img src="assets/images/ad/ads-footer_r1_c12.jpg" alt="ads" /></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- footer-ads -->

                </div></div><!-- .row .col-* -->

            </div>