<div class="container-fluid  conseil-centering">
                
  <h2 class="title-page">Une equipe et des outils au service de l'orientation.</h2>
  
  <div class="text-after-title">
      <p>Sur Rendez-vous, les conseillers du Cide aident au choix d’un établissement (école, collège, lycée et Sup.) et proposent des services d'orientation pour le collège, le lycée ou le supérieur.<p>
      <!--<p><i class="fa fa-calendar-o"></i> Horaires : lundi au vendredi de 9h30 à 12h30 et de 14h00 à 18h30.</p>
      <p><i class="fa fa-phone"></i> Téléphone : 01 53 10 33 20</p>
      <p><i class="fa fa-map-marker"></i> Localisation : 84 boulevard Saint-Michel, 75006 Paris - RER [B] Luxembourg ou Port-Royal.</p>-->
  </div>

  <div class="conseil-item">
      
      <div class="hover-holder">
          <img src="assets/images/conseil/image-1.jpg" class="img-responsive" alt="Entretien Conseils Pour Choisir Son Ecole" />
      </div>

      <h3 class="conseil-title  color-1  overload">ENTRETIEN CONSEILS POUR CHOISIR SON ÉCOLE</h3>
      
      <div class="conseil-content">
          <div class="conseil-info" style="height:50px"><span class="conseil-label">Durée :</span><br />1 heure</div>
          <div class="conseil-info" style="height:39px"><span class="conseil-label">Public :</span><br />Tout Public</div>

          <div class="conseil-price">80<sup>€</sup></div>

          <a (click)="openInfoDialog(1)" class="btn  btn-conseil  btn-block  color-1">
            En savoir plus
          </a>

          <a (click)="navigateToBooking('1', 'Entretien Conseil', 'Pour choisir son école', '0')" 
            class="btn  btn-conseil  btn-block  color-1">
            Prendre rendez-vous
          </a>
      </div>

  </div><!-- .conseil-item -->

  <div class="conseil-item">
      
      <div class="hover-holder">
          <img src="assets/images/conseil/image-2.jpg" class="img-responsive" alt="Entretien Conseils Pour Choisir Son Ecole" />
      </div>

      <h3 class="conseil-title  color-2  overload">ORIENTATION COLLÈGE QUE FAIRE APRÈS UNE CLASSE DE TROISIÈME ?</h3>
      
      <div class="conseil-content">
          <div class="conseil-info" style="height:50px"><span class="conseil-label">Durée :</span><br />2 heures</div>
          <div class="conseil-info" style="height:39px"><span class="conseil-label">Public :</span><br />Élève de 3ème</div>

          <div class="conseil-price">160<sup>€</sup></div>

          <a (click)="openInfoDialog(2)" class="btn  btn-conseil  btn-block  color-2">
            En savoir plus
          </a>

          <a (click)="navigateToBooking('2', 'Orientation Collège', 'Que faire après une classe de troisième', '1')" 
            class="btn  btn-conseil  btn-block  color-2">Prendre rendez-vous</a>
      </div>

  </div><!-- .conseil-item -->

  <div class="conseil-item">
      
      <div class="hover-holder">
          <img src="assets/images/conseil/image-3.jpg" class="img-responsive" alt="Entretien Conseils Pour Choisir Son Ecole" />
      </div>

      <h3 class="conseil-title  color-3 overload">ORIENTATION LYCÉE ET ENSEIGNEMENT SUPÉRIEUR</h3>
      
      <div class="conseil-content">
          <div class="conseil-info" style="height:50px"><span class="conseil-label">Durée :</span><br />De 3 à 4 heures</div>
          <div class="conseil-info" style="height:39px"><span class="conseil-label">Public :</span><br />De la 2nde à bac+2/3</div>

          <div class="conseil-price">350<sup>€</sup></div>

          <a (click)="openInfoDialog(3)" class="btn  btn-conseil  btn-block  color-3">
            En savoir plus
          </a>

          <a (click)="navigateToBooking('3', 'Orientation', 'Lycée et Enseignement Supérieur', '2')" 
            class="btn  btn-conseil  btn-block  color-3">Prendre rendez-vous</a>
      </div>

  </div><!-- .conseil-item -->

  <div class="conseil-item">
      
      <div class="hover-holder">
          <img src="assets/images/conseil/image-4.jpg" class="img-responsive" alt="Entretien Conseils Pour Choisir Son Ecole" />

      </div>
      <h3 class="conseil-title  color-4  overload">ENTRETIEN CONSEILS ACCOMPAGNEMENT ORIENTATION POST BAC</h3>
      
      <div class="conseil-content">
          <div class="conseil-info" style="height:50px"><span class="conseil-label">Durée :</span><br />Entretiens individuels de 2 heures</div>
          <div class="conseil-info" style="height:39px"><span class="conseil-label">Public :</span><br />Lycéens</div>

          <div class="conseil-price">250<sup>€</sup></div>

          <a (click)="openInfoDialog(4)" class="btn  btn-conseil  btn-block  color-4">
            En savoir plus
          </a>

          <a (click)="navigateToBooking('2', 'Entretien Conseils', 'Accompagnement orientation post-bac', '3')" 
            class="btn  btn-conseil  btn-block  color-4">Prendre rendez-vous</a>
      </div>

  </div><!-- .conseil-item -->

  <div class="conseil-item">
      
      <div class="hover-holder">
          <img src="assets/images/conseil/image-5.jpg" class="img-responsive" alt="Entretien Conseils Pour Choisir Son Ecole" />

      </div>

      <h3 class="conseil-title  color-5  overload">BILAN <br>PSYCHO</h3>
      
      <div class="conseil-content">
          <div class="conseil-info" style="height:50px"><span class="conseil-label">Durée :</span><br />2 demi-journées + 1 heure d'entretien de restitution</div>
          <div class="conseil-info" style="height:39px"><span class="conseil-label">Public :</span><br />Tout Public
          </div>

          <div class="conseil-price">590<sup>€</sup></div>

          <a (click)="openInfoDialog(5)" class="btn  btn-conseil  btn-block  color-5">
            En savoir plus
          </a>

          <a (click)="navigateToBooking('2 demi-journées + 1 heure', 'Bilan', 'Psychopédagogique', '4')" 
            class="btn  btn-conseil  btn-block  color-5">Prendre rendez-vous</a>
      </div>

  </div><!-- .conseil-item -->





  <div class="panel-group  mobile-un-conseil" id="accordion" role="tablist" aria-multiselectable="true">
      
      <!-- Panel 1 -->
      <div class="panel">
          <div class="panel-heading  color-1" role="tab" id="headingOne">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h3 class="panel-title">ENTRETIEN CONSEILS POUR CHOISIR SON ÉCOLE</h3>
                  <p class="panel_icon"><i class="fa fa-clock-o"></i> 1 heure</p>
                  <p><i class="fa fa-users"></i> Tout Public</p>
              </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  <h4>ENTRETIEN CONSEIL</h4>
                  POUR CHOISIR SON ÉCOLE
                  Pour une information personnalisée et des conseils pratiques les conseillers du CIDE aident les jeunes et les familles dans le choix des établissements privés les plus adaptés à leur profil (collège, lycée, BTS, prépas et enseignement supérieur de bac+1 à bac+5, formation initiale ou alternance

                  <div class="conseil-price">80<sup>€</sup></div>

                  <a (click)="navigateToBooking('1', 'Entretien Conseil', 'Pour choisir son école', '0')"
                    class="btn  btn-conseil  btn-block  color-1">Prendre rendez-vous</a>
              </div>
          </div>
      </div><!-- .panel -->


      <!-- Panel 2 -->
      <div class="panel">
          <div class="panel-heading  color-2" role="tab" id="headingTwo">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <h3 class="panel-title">ORIENTATION COLLÈGE QUE FAIRE APRÈS UNE CLASSE DE TROISIÈME ?</h3>
                  <p class="panel_icons"><i class="fa fa-clock-o"></i> 2 heures</p>
                  <p><i class="fa fa-users"></i> Élève de 3ème</p>
              </a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                  <h4>ORIENTATION COLLÈGE</h4>

                  QUE FAIRE APRÈS UNE CLASSE DE TROISIÈME ?
                  Cet entretien ainsi que le test proposé permettent de définir une filière de baccalauréat, faire le choix d'une voie professionnelle, par une approche active autour de questionnaires d'intérêts.
                  Il s'agit de questionnaires d'investigation des intérêts conçus à partir du modèle de Holland.
                  Ils sont particulièrement adaptés dans le cadre d'un bilan d'orientation ou réorientation, évaluation des intérêts, choix de métier.
                  Ce test permet d'identifier des intérêts professionnels, voire de signaler une absence de maturation du projet.
                  Une synthèse des intérêts professionnels est délivrée en fin d'entretien.
                  L'élève peut visualiser la force de ses intérêts pour chaque type ainsi que les cohérences et incohérences inter domaines.

                  <div class="conseil-price">160<sup>€</sup></div>

                  <a (click)="navigateToBooking('2', 'Orientation Collège', 'Que faire après une classe de troisième', '1')" 
                    class="btn  btn-conseil  btn-block  color-2">Prendre rendez-vous</a>
              </div>
          </div>
      </div><!-- .panel -->


      <!-- Panel 3 -->
      <div class="panel">
          <div class="panel-heading  color-3" role="tab" id="headingThree">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  <h3 class="panel-title">ORIENTATION LYCÉE ET ENSEIGNEMENT SUPÉRIEUR</h3>
                  <p class="panel_iconss"><i class="fa fa-clock-o"></i> De 3 a 4 heures</p>
                  <p><i class="fa fa-users"></i> De la 2nde a bac+2/3</p>
              </a>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  <h4>ORIENTATION</h4>
                  LYCÉE ET ENSEIGNEMENT SUPÉRIEUR
                  Il s'agit d'un programme d'aide à l'élaboration de projet d'études et professionnel. Les entretiens et questionnaires dont HEXA 3 D® ou les tests d’intérêts professionnels permettent au jeune d'exprimer ses goûts et ses centres d'intérêt par une approche de ses motivations. La présentation de profils de candidats, classés par centre d'intérêts sert de support au conseiller pour conduire l'entretien avec le jeune.
                  Son interprétation apporte des réponses individualisées et concrètes sur les filières, les métiers, les secteurs professionnels adaptés et contribue à construire une passerelle entre le projet professionnel, la réalité des études et la réussite.

                  <div class="conseil-price">350<sup>€</sup></div>

                  <a (click)="navigateToBooking('3', 'Orientation', 'Lycée et Enseignement Supérieur', '2')" 
                    class="btn  btn-conseil  btn-block  color-3">Prendre rendez-vous</a>
              </div>
          </div>
      </div><!-- .panel -->


      <!-- Panel 4 -->
      <div class="panel">
          <div class="panel-heading  color-4" role="tab" id="headingFour">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  <h3 class="panel-title">ENTRETIEN CONSEILS ACCOMPAGNEMENT ORIENTATION POST BAC</h3>
                  <p><i class="fa fa-clock-o"></i> entretiens individuels de 2 heures</p>
                  <p><i class="fa fa-users"></i> lyceens</p>
              </a>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                  <h4>ENTRETIEN CONSEILS</h4>
                  ACCOMPAGNEMENT ORIENTATION POST BAC
                  Pour décrypter les parcours possibles et choisir sa voie dans l’enseignement supérieur, les conseillers du CIDE proposent un accompagnement personnalisé aux lycéens ayant une idée précise de leur projet professionnel.
                  Les entretiens permettent d’identifier le projet du Lycéen et de
                  présenter filières, formations et débouchés professionnels afin de construire un parcours d’études supérieures cohérent.
                  Outre les conseils pratiques, l’objectif est de permettre aux lycéens de se projeter afin de faire des choix raisonnés et éclairés.
                  Si le lycéen est indécis sur sa poursuite d’études, un bilan d’orientation sera recommandé au préalable.

                  <div class="conseil-price">250<sup>€</sup></div>

                  <a (click)="navigateToBooking('2', 'Entretien Conseils', 'Accompagnement orientation post-bac', '3')" 
                    class="btn  btn-conseil  btn-block  color-4">Prendre rendez-vous</a>
              </div>
          </div>
      </div><!-- .panel -->


      <!-- Panel 5 -->
      <div class="panel">
          <div class="panel-heading  color-5" role="tab" id="headingFive">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  <h3 class="panel-title">
                      BILAN PSYCHOPEDAGOGIQUE COMPLET
                  </h3>
                  <p><i class="fa fa-clock-o"></i> 2 demi journées + 1 heure d'entretien de restitution</p>
              </a>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                  <h4>BILAN</h4>

                  PSYCHOPEDAGOGIQUE COMPLET
                  
                  La démarche du CIDE est d'intégrer toutes les données pédagogiques, psychologiques et affectives mises en évidence par les différents tests proposés, afin de révéler le maximum des facettes de la personnalité et des compétences des jeunes qui nous sont confiés.
                  Le bilan psycho-pédagogique proposé par le CIDE se déroule sous forme :
                  <ul>
                      <li>d'entretiens cliniques,</li>
                      <li>de tests psychométriques</li>
                      <li>de questionnaires d'intérêts et de motivation aboutissant à l'établissement d'un profil d'intérêt.</li>
                  </ul>
                  Les tests proposés par le CIDE sont objectivables, fiables, validés et reconnus par la communauté scientifique.
                  Seul un psychologue-clinicien dûment expérimenté est à même de conduire un bilan psychopédagogique tel qu'il se pratique au CIDE.
                  Les tests psychométriques que nous utilisons (WISC® et WAIS®)
                  ont pour but, entre autre, d'explorer le fonctionnement cognitif du jeune.
                  Il s'agit de tests dits "d'intelligence" (tests de QI), permettant
                  de déterminer le quotient intellectuel du jeune et de le situer par rapport à une population échantillonnée.
                  En ce qui concerne les tests de QI il convient de préciser que l'intelligence fonctionne par secteurs. Il en ressort que ces tests permettent de déterminer comment le jeune se situe à un moment donné, dans un secteur donné.
                  L'équipe du CIDE a fait le choix de travailler sur la toute nouvelle version du WISC® afin de s'appuyer sur les toutes dernières théories du développement cognitif et en particulier "l'indice de raisonnement fluide".
                  Ces tests restent des outils et en aucune façon ne doivent "figer" le jeune dans une évaluation. L'intelligence est multiple et ces tests n'en mesurent que certains des aspects.
                  C'est pour cela que la rencontre et les échanges entre le clinicien et le jeune sont aussi importants. La passation du bilan complet nécessite donc plusieurs entretiens. La restitution des résultats se fait avec les parents.
                  Un rapport complet individualisé est remis à l'issue de cette série d'entretiens.
                  Parmi les questionnaires d'intérêt et de motivation nous avons fait
                  le choix de HEXA 3 D®. Il s'agit d'un questionnaire d'investigation des intérêts conçu à partir du modèle de Holland qui permet d'aborder les représentations des sujets à travers trois domaines :
                  activités préférées, qualités et professions.
                  En résumé le Bilan Psychopédagogique est particulièrement recommandé pour comprendre le mode de fonctionnement intellectuel du jeune et déterminer son QI, déceler et comprendre la nature de possibles conflits psycho-affectifs et les voies pour y remédier, proposer des orientations adaptées.
                  Bien entendu le CIDE peut dans certains cas spécifiques proposer un suivi personnalisé.


                  <div class="conseil-price">590<sup>€</sup></div>

                  <a (click)="navigateToBooking('2 demi-journées + 1 heure', 'Bilan', 'Psychopédagogique', '4')" 
                    class="btn  btn-conseil  btn-block  color-5">Prendre rendez-vous</a>
              </div>
          </div>
      </div><!-- .panel -->

  </div><!-- .mobile-un-conseil -->



</div><!-- .container -->