      <div class="main white-background" role="main" >
        <div class="container-fluid  appointment-wizard">

            <div class="row">

                <section class="col-md-12">
                    <!--<h3 class="appointment-title">Rendez-vous Parents</h3>-->
                    <h3>&nbsp;</h3>

                </section>


                <section class="col-md-12 appointment-text">

                    <section class="col-md-3 col-md-offset-0 col-sm-4 col-xs-6 col-xs-offset-3">

                        <img src="http://54.254.203.172/cideapi{{appointmentData[6]}}" alt="" class="img-circle img-responsive advisor-img" />
                    </section>

                    <div class="col-sm-4 col-xs-12">
                        <div class="text-with-icon">
                            <i class="fa fa-calendar big-calendar"></i>
                            <h3>Vous avez rendez-vous</h3>
                            <p class="appointment-date">avec {{appointmentData[4]}} {{ appointmentData[3] }}</p>

                            <time class="appointment-date">Le {{ appointmentData[0] | date:'dd/MM/yyyy' }} de {{ appointmentData[1] }} à {{ appointmentData[2] }}</time>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="text-with-icon">
                                <img src="assets/images/cide-icon-group.png" alt="" />
                                <h3 class="second-title">Pour un entretien</h3>
                                <p>

                                    {{appointmentData[7]}}<br />
                                    {{appointmentData[8]}}</p>
                        </div>
                    </div>

                </section>

            </div><!-- .row -->

            <div class="row" *ngIf="canDisplayWizard">

                <div id="rootwizard"><form id="wizard" [formGroup]="wizardForm">

                    <div class="container-fluid">

                    <!-- <div class="navbar"> -->

                      <!-- <div class="navbar-inner"> -->

                        <!-- <div class="container-fluid"> -->

                            <!-- <ul class="nav nav-tabs responsive">
                                <li><a href="#tab1" data-toggle="tab" title="Parents"><span class="helper"></span><span>Parents</span></a></li>
                                <li><a href="#tab2" data-toggle="tab" title="Enfant"><span class="helper"></span><span>Enfant</span></a></li>
                                <li><a href="#tab3" data-toggle="tab" title="Etablissement actuel"><span class="helper"></span><span>Etablissement actuel</span></a></li>
                                <li><a href="#tab4" data-toggle="tab" title="Aide Scolaire"><span class="helper"></span><span>Aide Scolaire</span></a></li>
                                <li><a href="#tab5" data-toggle="tab" title="Vos matières préférées"><span class="helper"></span><span>Vos matières préférées</span></a></li>
                                <li><a href="#tab6" data-toggle="tab" title="Vos centres D’interets"><span class="helper"></span><span>Vos centres d’intérêts</span></a></li>
                                <li><a href="#tab7" data-toggle="tab" title="Classes Precedentes"><span class="helper"></span><span>Classes précédentes</span></a></li>
                                <li><a href="#tab8" data-toggle="tab" title="Vos Professions favorites"><span class="helper"></span><span>Vos professions favorites</span></a></li>
                                <li><a href="#tab9" data-toggle="tab" title="Diagnostic"><span class="helper"></span><span>Diagnostic</span></a></li>
                            </ul> -->

                        <!--</div><!-- .container -->

                      <!--</div><!-- .navar-inner -->

                    <!--</div><!-- .navbar -->
                      <!-- <form > -->

                      <md-tab-group md-dynamic-height
                        [(selectedIndex)]="activeTabIndex"  class="wizard-tabs"
                        #tabGroup>
                        <!-- <div class="tab-content"> -->
                          <md-tab label="Parents">
                            <div class="tab-pane" id="tab1">
                                <div class="container-fluid">
                                  <app-parent-tab (tabChange)="nextTab($event)" [userData]="userData"></app-parent-tab>
                                </div><!-- .container-fluid -->
                            </div><!-- #tab1 -->
                        </md-tab>

                        <md-tab label="Elève">
                            <div class="tab-pane" id="tab2">
                                <div class="container-fluid">
                                    <div class="row">
                                      <app-child-tab (tabChange)="nextTab($event)" [userData]="userData"></app-child-tab>
                                    </div>
                                </div><!-- .container-fluid -->
                            </div><!-- #tab2 -->
                        </md-tab>

                        <md-tab label="Etablissement Actuel">
                            <div class="tab-pane" id="tab3">
                                <div class="container-fluid">
                                    <div class="row">
                                      <app-current-school-tab (tabChange)="nextTab($event)" [userData]="userData"></app-current-school-tab>
                                    </div><!-- .row -->
                                </div><!-- .container-fluid -->
                            </div><!-- #tab3 -->
                        </md-tab>

                        <md-tab label="Aide Scolaire">
                            <div class="tab-pane" id="tab4">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3>Aide Scolaire*</h3>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="checkbox" name="" class="checkbox filled-in"
                                                          id="scolaire-filter" [formControl]="wizardForm.controls['schoolHelp']"
                                                          (click)="onChecked()" />
                                                          <label for="scolaire-filter">
                                                            Etes-vous aidé scolairement?
                                                          </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row" style="margin-bottom:20px">
                                                    <div class="col-sm-12">
                                                        <div class="select-custom dans-quelles">
                                                            <select name="" class="form-control multiselect"
                                                              id="dans-quelles" *ngIf="checked">
                                                                <option value="">Dans quelles matières</option>
                                                                <option *ngFor="let subject of subjectSchool" value="subject">
                                                                    <md-checkbox>{{subject}}</md-checkbox>
                                                                </option>
                                                                <select name="Autre Langue" id=""></select>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!-- .col-* -->
                                        <div class="col-md-12">
                                            <div class="form-group clearfix">
                                                <button class="btn  btn-appointment wizard-button-align"
                                                    (click)="nextTab(2)" style="float:left; margin-left:0px">
                                                    Précédent
                                                </button>
                                                <button class="btn  btn-appointment wizard-button-align" (click)="nextTab(4)"
                                                style="float:right">
                                                Suivant
                                                </button>
                                            </div>
                                        </div>
                                    </div><!-- .row -->
                                </div><!-- .container-fluid -->
                            </div><!-- #tab4 -->
                        </md-tab>

                        <md-tab label="Vos matières préférées">
                            <div class="tab-pane" id="tab5">
                                <div class="container-fluid">
                                  <app-subjects-tab (tabChange)="nextTab($event)" [userData]="userData"></app-subjects-tab>
                                </div><!-- .container-fluid -->
                            </div><!-- #tab5 -->
                        </md-tab>

                        <md-tab label="Ses centres d'intérêts">
                            <div class="tab-pane" id="tab6">
                                <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-md-6">
                                            <h3>Ses centres d'intérêts</h3>

                                            <h4>Liste des métiers que vous avez pensé exercer un jour </h4>

                                                <div class="row" formArrayName="job"
                                                    *ngFor="let parent of wizardForm.controls['job']['controls']; let i = index">
                                                <div [formGroupName]="i">
                                                    <div class="col-sm-6">
                                                        <h4>Métier {{i+1}}*</h4>
                                                        <div class="form-group">
                                                            Job
                                                            <input type="text" class="form-control" placeholder="Job"
                                                            formControlName="interestJob"
                                                            maxlength="25">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h4>&nbsp;</h4>
                                                        <div class="form-group">
                                                            Age
                                                            <input type="text" class="form-control" placeholder="Age"
                                                            formControlName="interestAge" max="50" min="1"
                                                            maxlength="2">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                    <h4>&nbsp;</h4>
													&nbsp;
                                                    <button class="btn  btn-danger" style="float:right"
                                                        (click)="onRemoveJob(i)"
                                                        *ngIf="wizardForm.controls['job']['controls'].length>0">
                                                        Retirer un métier
                                                    </button>
                                                    </div>
                                                </div>
                                                </div>

                                                <div class="row">
                                                <button class="btn  btn-appointment" (click)="onAddJob()"
                                                    style="margin-left:15px"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter un métier</button>
                                                </div>


                                            <div class="form-group different-gap">
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        Ses centres d'intérêts*
                                                        <input type="text" class="form-control"
                                                          [formControl]="wizardForm.controls['yourInterest']"
                                                          maxlength="60">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        Ses activités extra-scolaires
                                                        <input type="text" class="form-control"
                                                          [formControl]="wizardForm.controls['practiceInterest']"
                                                          maxlength="60">
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!-- .col-* -->
                                    </div><!-- .row -->
                                    <div class="row">
                                        <div class="form-group clearfix">
                                            <button class="btn  btn-appointment wizard-button-align"
                                                (click)="nextTab(4)" style="float:left; margin-left:0px">
                                                Précédent
                                            </button>
                                            <button class="btn  btn-appointment wizard-button-align" (click)="nextTab(6)"
                                            style="float:right">
                                            Suivant
                                            </button>
                                        </div>
                                    </div>
                                </div><!-- .container-fluid -->
                            </div><!-- #tab6 -->
                        </md-tab>

                        <md-tab label="Etablissements fréquentés" *ngIf="canDisplaySchool">
                            <div class="tab-pane" id="tab7">
                                <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-md-8">
                                            <h3>Etablissements fréquentés</h3>
                                                <div class="row" formArrayName="primary"
                                                    *ngFor="let parent of wizardForm.controls['primary']['controls']; let i = index">
                                                    <div [formGroupName]="i">
                                                        <h4 style="margin-left:15px">Primaire {{i+1}}*</h4>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                Nom de l'établissement
                                                                <input type="text" class="form-control" placeholder="Nom"
                                                                formControlName="primarySchoolName"
                                                                maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="select-custom">
                                                                    Classe redoublée*
                                                                    <select name="" class="form-control"
                                                                        formControlName="primarySchoolRepeat">
                                                                        <option value="" disabled selected hidden>Classe redoublée</option>
                                                                        <option *ngFor="let school of primarySchool" value="school">{{ school }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                Cause du redoublement*
                                                                <input type="text" class="form-control" placeholder="Cause du redoublement"
                                                                formControlName="causeOfRepeatPrimary"
                                                                maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            &nbsp;<br>&nbsp;
                                                            <button class="btn  btn-danger" style="float:right"
                                                                (click)="onRemovePrimaire(i)"
                                                                *ngIf="wizardForm.controls['primary']['controls'].length>0">
                                                                Retirer une école primaire
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn  btn-appointment" style="margin-left:0px"
                                                        (click)="onAddPrimaire()">
                                                        Ajouter une école primaire
                                                    </button>
                                                </div>
                                                <div class="row" formArrayName="secondary"
                                                    *ngFor="let parent of wizardForm.controls['secondary']['controls']; let i = index">
                                                    <div [formGroupName]="i">
                                                        <h4 style="margin-left:15px">Secondaire {{i+1}}</h4>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                Nom de l'établissement*
                                                                <input type="text" class="form-control" placeholder="Nom"
                                                                formControlName="secondarySchoolName"
                                                                maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="select-custom">
                                                                    Classe redoublée*
                                                                    <select name="" class="form-control"
                                                                        formControlName="secondarySchoolRepeat">
                                                                        <option value="" disabled selected hidden>Classe redoublée</option>
                                                                        <option *ngFor="let school of secondarySchool" value="school">{{ school }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                Cause du redoublement*
                                                                <input type="text" class="form-control" placeholder="Cause du redoublement"
                                                                    formControlName="causeOfRepeatSecondary"
                                                                    maxlength="100">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            &nbsp;<br>&nbsp;
                                                            <button class="btn  btn-danger" style="float:right"
                                                                (click)="onRemoveSecondaire(i)"
                                                                *ngIf="wizardForm.controls['secondary']['controls'].length>0">
                                                                Retirer une école secondaire
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn  btn-appointment"
                                                        (click)="onAddSecondaire()" style="margin-left:0px">
                                                        Ajouter une école secondaire
                                                    </button>
                                                </div>


                                        </div><!-- .col-* -->
                                    </div><!-- .row -->
                                    <div class="row">
                                        <div class="form-group clearfix">
                                            <button class="btn  btn-appointment wizard-button-align"
                                                (click)="nextTab(5)" style="float:left; margin-left:0px">
                                                Précédent
                                            </button>
                                            <button class="btn  btn-appointment wizard-button-align" (click)="nextTab(7)"
                                                style="float:right">
                                                Suivant
                                            </button>
                                        </div>
                                    </div>
                                </div><!-- .container-fluid -->
                            </div><!-- #tab7 -->
                        </md-tab>

                        <md-tab label="Professions souhaitées">
                            <div class="tab-pane" id="tab8">
                                <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-md-12">

                                        <h3>Professions souhaitées. Cette section du Dossier doit être complétée avec l’élève.
                                                Toutes les professions doivent être renseignées</h3>

                                        <app-wizard-profession></app-wizard-profession>
                                       </div><!-- .col-* -->
                                       <div class="row">
                                            <div class="form-group clearfix">
                                                <button class="btn  btn-appointment wizard-button-align"
                                                    (click)="nextTab(6)" style="float:left; margin-left:0px">
                                                    Précédent
                                                </button>
                                                <button class="btn  btn-appointment wizard-button-align" (click)="nextTab(8)"
                                                style="float:right">
                                                Suivant
                                                </button>
                                            </div>
                                        </div>
                                    </div><!-- .row -->
                                </div><!-- .container-fluid -->
                            </div><!-- #tab8 -->
                        </md-tab>

                        <md-tab label="Diagnostic">
                            <div class="tab-pane" id="tab9">
                                <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-md-4">

                                            <h3>Diagnostic</h3>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        Motif du diagnostic
                                                        <textarea class="form-control"
                                                        [formControl]="wizardForm.controls['reasonDiagnostic']">
                                                        </textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        Remarques
                                                        <textarea class="form-control"
                                                        [formControl]="wizardForm.controls['note']">

                                                        </textarea>
                                                    </div>
                                                </div>
                                            </div>

                                       </div><!-- .col-* -->
                                       <div class="col-md-12">
                                            <button class="btn  btn-appointment wizard-button-align"
                                                (click)="nextTab(7)" style="float:left; margin-left:0px">
                                                Précédent
                                            </button>
                                            <button class="btn btn-appointment pull-right"
                                                type="submit" (click)="onSubmit()"
                                                style="float:right">Terminer</button>
                                       </div>
                                    </div><!-- .row -->
                                </div><!-- .container-fluid -->
                            </div><!-- #tab9 -->
                        </md-tab>

                    </md-tab-group>
                        <!-- </div> -->
                        <!-- .tab-content -->
                      <!-- </form> -->

                    </div><!-- .container-fluid -->

                    <!-- <div class="save-button-holder">
                        <button class="btn btn-appointment pull-right">Enregistrer</button>
                    </div> -->

                </form></div><!-- #rootwizard -->

            </div><!-- .row -->

        </div>
      </div>
