    <main class="main  white-background" role="main">

        <div class="container  landing-page-3">
            
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder  content-1  do-animate">
                    <a (click)="onNavigate('ecole')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/ecole.jpg" alt="" style="margin-bottom:30px">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/ecole-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>École</h2>
                            <h3>Maternelle / Primaire</h3>
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder  content-2  do-animate">
                    <a (click)="onNavigate('college')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/college.jpg" alt="" style="margin-bottom:30px">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/college-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>College</h2>
                            <h3>6ème-3ème</h3>
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder  content-3  do-animate">
                    <a (click)="onNavigate('lycee')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/lycee.jpg" alt="" style="margin-bottom:30px">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/lycee-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>Lycée</h2>
                            <h3>2nde-Terminale</h3>
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder  content-4  do-animate">
                    <a (click)="onNavigate('enseignement')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/enseignement.jpg" alt="" style="margin-bottom:30px">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/enseignement-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>Enseignement <br />supérieur</h2>
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder content-5  do-animate">
                    <a (click)="onNavigate('internat')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/internat.jpg" alt="">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/internat-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>Internat</h2>
                            <h3>&nbsp;</h3>
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder  content-6  do-animate">
                    <a (click)="onNavigate('linguistic')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/sejour.jpg" alt="" data-image=""
                                style="margin-bottom:40px">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/sejour-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>Séjours linguistiques</h2>
                            <h3>&nbsp;</h3>
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder  content-7  do-animate">
                    <a (click)="onNavigate('orientation')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/soutien.jpg" alt="" style="margin-bottom:50px">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/soutien-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>Soutien scolaire</h2>
                            <h3>&nbsp;</h3>
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <div class="col-md-3  col-xs-6">
                <div class="landing-page-3__image-holder  content-8  do-animate">
                    <a (click)="onNavigate('conseil')">
                        <figure class="landing-page-3__wrapper">
                            <span class="high-helper"></span>
                            <img src="./assets/images/new-landing-page-3/orientation.jpg" alt="" style="margin-bottom:50px">
                            <img class="hover-image" src="./assets/images/new-landing-page-3/orientation-hover.jpg" alt="">
                        </figure>
                        <div class="landing-page-3__caption">
                            <h2>Rendez-vous orientation bilans</h2>
                            <!-- <h3>&nbsp;</h3> -->
                        </div>
                    </a>
                </div>
            </div><!-- .col-* -->
            <!-- <div class="col-md-3">
                <img src="" alt="">
                <div class="caption">
                    <h3></h3>
                    <h2></h2>
                </div>
            </div> -->

        </div>

    </main><!-- .main -->

    

<p style="text-align: right;" routerLink="/mail">
    mail
    <!--<a (click)="navigateTo(1)">1</a> 
    <a (click)="navigateTo(2)">2</a> 
    <a (click)="navigateTo(3)">3</a>-->
</p>