<div class="main white-background" role="main">
  <div class="container-fluid  appointment-wizard">

    <div class="row">

      <!-- <section class="col-md-12">
        <h3 class="appointment-title">This should be School images</h3>
      </section> -->


      <section class="col-md-12 appointment-text">

        <section class="col-md-2 col-md-offset-0 col-sm-4 col-xs-6 col-xs-offset-3">

          <img src="assets/images/school-logo/lyccee-du-chateaa.jpg" alt="" class="img-circle img-responsive advisor-img" />
        </section>
        <section>
          <h2>{{ schoolData.longName }}</h2>
        </section>

      </section>

    </div>
    <div class="row">

      <div id="rootwizard">
        <form id="wizard" [formGroup]="applytoForm">

          <div class="container-fluid">
            <md-tab-group md-dynamic-height [(selectedIndex)]="activeTabIndex"  class="apply-to-tabs">
              <md-tab label="Parents">
                <div class="tab-pane" id="tab1">
                  <div class="container-fluid">
                    <div class="row">
                      <section class="col-md-4">
                        <div *ngFor="let parent of parents">
                          <h3>{{parent}}</h3>

                          <div class="form-group">
                            <div class="select-custom">
                              <md-select placeholder="Lien de Parenté" class="form-control" [formControl]="applytoForm.controls['lienParent']">
                                <md-option *ngFor="let lientparent of lienparents" [value]="lientparent">
                                  {{ lientparent }}
                                </md-option>
                              </md-select>
                            </div>
                          </div>

                          <div class="form-group horizontal-radio clearfix">
                            <!--<label class="custom-radio"><input type="radio" name="gender"> <span>Mme</span></label>
                                                  <label class="custom-radio"><input type="radio" name="gender"> <span>Melle</span></label>
                                                  <label class="custom-radio"><input type="radio" name="gender"> <span>M.</span></label>-->
                            <md-radio-group [formControl]="applytoForm.controls['title']">
                              <md-radio-button value="Mme">Mme</md-radio-button>
                              <md-radio-button value="Mlle">Mlle</md-radio-button>
                              <md-radio-button value="M">M</md-radio-button>
                            </md-radio-group>
                          </div>


                          <div class="row">
                            <div class="col-sm-6  col-xs-6">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nom" [formControl]="applytoForm.controls['lastName']">
                              </div>
                            </div>
                            <div class="col-sm-6  col-xs-6">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Prénom" [formControl]="applytoForm.controls['firstName']">
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">

                              <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Profession / Secteur d'activité" [formControl]="applytoForm.controls['job']">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" [formControl]="applytoForm.controls['email']">
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Téléphone auquel je suis joignable" [formControl]="applytoForm.controls['tel']">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="select-custom">
                                  <select name="" class="form-control" [formControl]="applytoForm.controls['horaireJoingnable']">
                                      <option value="" disabled selected hidden>Horaires pour me contacter</option>
                                      <option value="9h-12h">9h-12h</option>
                                      <option value="12h-14h">12h-14h</option>
                                      <option value="14h-18h">14h-18h</option>
                                      <option value="18h-20h">18h-20h</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group clearfix"
                          *ngIf="parents.length==1">
                          <button type="button" class="btn  
                            btn-inverse pull-right btn-add"
                            (click)="onAddParent()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            </span> Ajouter Parent
                          </button>
                        </div>
                        <div class="form-group clearfix"
                          *ngIf="parents.length==2">
                          <button type="button" class="btn  
                            btn-inverse pull-right btn-add"
                            (click)="onRemoveParent()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            </span> Retirer Parent
                          </button>
                        </div>
                      </section>
                      <!-- .col-* -->
                    </div>
                    <!-- .row -->
                  </div>
                  <!-- .container-fluid -->
                </div>
                <!-- #tab1 -->
              </md-tab>
              <md-tab label="Enfant">
                <div class="tab-pane" id="tab2">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Enfant</h3>
                      </div>
                      <div class="col-md-4">


                        <div class="row">
                          <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Nom" [formControl]="applytoForm.controls['childLastName']">
                            </div>
                          </div>
                          <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Prénom" [formControl]="applytoForm.controls['childFirstName']">
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <!-- <div class="col-sm-12">
                                                    <div class="row"> -->
                          <div class="col-sm-3  col-xs-6">
                            <div class="form-group">
                              <input type="number" class="form-control" max="120" min="1" placeholder="Age" [formControl]="applytoForm.controls['childAge']">
                            </div>
                          </div>
                          <div class="col-sm-3  hidden-xs">&nbsp;</div>
                          <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                              <div class="horizontal-radio">
                                <md-radio-group [formControl]="applytoForm.controls['childTitle']">
                                  <md-radio-button value="garçon">Garçon</md-radio-button>
                                  <md-radio-button value="fille">Fille</md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input type="email" class="form-control" placeholder="Mel" [formControl]="applytoForm.controls['childMel']">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Portable" [formControl]="applytoForm.controls['childTel']">
                            </div>
                          </div>
                        </div>


                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <textarea class="form-control" placeholder="Adresse" [formControl]="applytoForm.controls['childAddr']"></textarea>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Code postal" [formControl]="applytoForm.controls['childPostalCode']">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Ville" [formControl]="applytoForm.controls['childCity']">
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <div class="datepicker-holder">
                                <input type="date" class="form-control" placeholder="Date de naissance" [formControl]="applytoForm.controls['childBirthDay']">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Lieu" [formControl]="applytoForm.controls['childBirthPlace']">
                            </div>
                          </div>
                        </div>

                      </div>
                      <!-- .col-* -->

                      <div class="col-md-6">
                        <div class="wrap-enfant">
                          <h4>Frère / Sœur</h4>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-for-radio">
                                <div class="gap-for-radio horizontal-radio clearfix">
                                  <md-radio-group [formControl]="applytoForm.controls['childSisBroTitle']">
                                    <md-radio-button value="frere">Frère</md-radio-button>
                                    <md-radio-button value="soeur">Soeur</md-radio-button>
                                  </md-radio-group>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <input type="number" max="120" min="1" class="form-control gap-for-radio" placeholder="Age" [formControl]="applytoForm.controls['childSisBroAge']"
                                />
                              </div>
                              <div class="col-sm-3">
                                <input type="text" class="form-control gap-for-radio" placeholder="Niveau d'étude" [formControl]="applytoForm.controls['childSisBroStudy']">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group clearfix">
                          <button class="btn  btn-inverse gap-for-radio  btn-add"
                            (click)="onAddFrSo()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
                          </button>
                          <button class="btn  btn-inverse gap-for-radio  btn-remove"
                            (click)="onRemoveFrSo()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Retirer
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Etablissement actuel">
                <div class="tab-pane" id="tab3">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">

                        <h3>Etablissement Actuel</h3>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" placeholder="Nom Etablissement Actuel" [formControl]="applytoForm.controls['schoolName']">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group  col-sm-12  col-xs-6">
                            <div class="row">
                              <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Ville" [formControl]="applytoForm.controls['schoolCity']">
                              </div>
                            </div>
                          </div>

                          <div class="form-group  col-sm-12  col-xs-6">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="select-custom">
                                  <select name="" class="form-control" [formControl]="applytoForm.controls['schoolClasse']">
                                    <option value="" disabled selected hidden>Classe</option>
                                    <optgroup label="Cycle 1 : Apprentissages Premiers">
                                      <option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                      <option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                      <option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                    </optgroup>
                                    <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                      <option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                      <option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                      <option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                    </optgroup>
                                    <optgroup label="Cycle 3 : Consolidation">
                                      <option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                      <option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                      <option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</option>
                                    </optgroup>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" placeholder="Options" [formControl]="applytoForm.controls['schoolOption']">
                            </div>
                          </div>
                        </div>

                        <h4>Langues Vivantes</h4>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom">
                                <select name="" class="form-control" [formControl]="applytoForm.controls['schoolLv1']">
                                    <option value="" disabled selected hidden>Lv1</option>
                                    <option value="langue" *ngFor="let langue of langues">{{langue}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom">
                                <select name="" class="form-control" [formControl]="applytoForm.controls['schoolLv2']">
                                    <option value="" disabled selected hidden>Lv2</option>
                                    <option value="langue" *ngFor="let langue of langues">{{langue}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom">
                                <select name="" class="form-control" [formControl]="applytoForm.controls['schoolLv3']">
                                    <option value="" disabled selected hidden>Lv3</option>
                                    <option value="langue" *ngFor="let langue of langues">{{langue}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Button Upload -->
                        <div>
                          <label>Télécharger ici le dernier bulletin scolaire</label>
                          <input type="file" ng2FileSelect [uploader]="uploader"/>
                        </div>

                        <!-- end button upload -->
                      </div>
                      <!-- progress upload -->
                      <div class="col-md-8">
                        <div fxFlex.gt-sm="80" fxFlex.gt-xs="50" fxFlex="100">
                          <h6 class="mt-0" fxLayout="row">
                            <span fxFlex>File d'attente des téléchargements</span>
                            <span>Nombre de fichier en attente: {{ uploader?.queue?.length }}</span>
                          </h6>

                          <ngx-datatable class="material ml-0 mr-0" [rows]="uploader.queue" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0"
                            [rowHeight]="'auto'">
                            <ngx-datatable-column name="Nom" [flexGrow]="1">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row?.file?.name }}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Taille" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row?.file?.size/1024/1024 | number:'.2' }} MB
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Progression" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <md-progress-bar mode="determinate" value="{{row.progress}}"></md-progress-bar>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Statut" [flexGrow]="1">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.isSuccess"><md-icon>check</md-icon></span>
                                <span *ngIf="row.isCancel"><md-icon>cancel</md-icon></span>
                                <span *ngIf="row.isError"><md-icon>error</md-icon></span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Action" [flexGrow]="3">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <button md-raised-button md-button-sm color="primary" type="button" (click)="row.upload()" [disabled]="row.isReady || row.isUploading || row.isSuccess">Télécharger</button>
                                <button md-raised-button md-button-sm color="warn" type="button" (click)="row.cancel()" [disabled]="!row.isUploading">Annuler</button>
                                <button md-raised-button md-button-sm color="accent" type="button" (click)="row.remove()">Supprimer
                                </button>
                              </ng-template>
                            </ngx-datatable-column>
                          </ngx-datatable>

                          <div class="mb-1">
                            <p>Progression de la file d'attente</p>
                            <md-progress-bar mode="determinate" value="{{uploader.progress}}"></md-progress-bar>
                          </div>
                          <button md-raised-button md-button-sm color="primary" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Tout télécharger</button>
                          <button md-raised-button md-button-sm color="warn" type="button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">Tout annuler</button>
                          <button md-raised-button md-button-sm color="accent" type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">Tout supprimer</button>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>

              <md-tab id="tab5" label="Les matières et vous">
                <div class="tab-pane" id="tab5">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">
                        <h3>Les matières et vous</h3>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" placeholder="Matières fortes" [formControl]="applytoForm.controls['bestSubject']">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" placeholder="Matières fortes" [formControl]="applytoForm.controls['weakSubject']">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </md-tab>
              <md-tab id="tab6" label="Vos centres d’intérêts">
                <div class="tab-pane" id="tab6">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Vos centres d’intérêts</h3>

                        <h4>Liste des métiers que vous avez pensé exercer un jour </h4>


                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Job" [formControl]="applytoForm.controls['interestJob']">
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Age" [formControl]="applytoForm.controls['interestAge']">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <button class="btn  btn-inverse  btn-add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter</button>
                            </div>
                          </div>
                        </div>


                        <div class="form-group different-gap">
                          <div class="row">
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="Quels sont vos centres d’interets" [formControl]="applytoForm.controls['yourInterest']">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-9">
                              <input type="text" class="form-control" placeholder="Quels loisirs et activités pratiquez-vous" [formControl]="applytoForm.controls['practiceInterest']">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <button class="btn btn-appointment pull-right" type="submit" (click)="onSubmit()" >Terminer</button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>

            </md-tab-group>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>