<div class="main white-background" role="main" *ngIf="canDisplayApply">
  <div class="container-fluid  appointment-wizard applyToCustomClsCk">

    <div class="row">

      <!-- <section class="col-md-12">
        <h3 class="appointment-title">This should be School images</h3>
      </section> -->


      <section class="col-md-12 appointment-text">

        <section class="col-md-2 col-md-offset-0 col-sm-4 col-xs-6 col-xs-offset-3">

          <img src="http://54.254.203.172/cideapi/{{schoolLogo}}" alt="" class="img-circle img-responsive advisor-img" />
        </section>
        <section>
          <h2>{{ schoolName }}</h2>
        </section>

      </section>

    </div>
    <div class="row">

      <div id="rootwizard">
        <form id="wizard" [formGroup]="applytoForm">

          <div class="container-fluid">
            <md-tab-group md-dynamic-height
              [(selectedIndex)]="activeTabIndex"  class="apply-to-tabs"
              #tabGroup>
              <md-tab label="Parents">
                <div class="tab-pane" id="tab1">
                  <div class="container-fluid">
                    <div class="row">
                      <section class="col-md-6" formArrayName="parents"
                        *ngFor="let parent of applytoForm.controls['parents']['controls']; let i = index">
                        <div [formGroupName]="i">
                          <h3>Parents</h3>

                          <div class="form-group">
                            <div class="select-custom">
                              Lien de parenté
                              <select name="" class="form-control" formControlName="lienParent">
                                <option *ngFor="let lientparent of lienparents" [value]="lientparent">{{ lientparent }}</option>
                              </select>
                              <!--md-select placeholder="Lien de Parenté" class="form-control"
                                formControlName="lienParent">
                                <md-option *ngFor="let lientparent of lienparents" [value]="lientparent">

                                </md-option>
                              </md-select-->
                            </div>
                          </div>

                          <div class="form-group horizontal-radio clearfix">
                            <!--<label class="custom-radio"><input type="radio" name="gender"> <span>Mme</span></label>
                                                  <label class="custom-radio"><input type="radio" name="gender"> <span>Melle</span></label>
                                                  <label class="custom-radio"><input type="radio" name="gender"> <span>M.</span></label>-->
                            <md-radio-group formControlName="titre">
                              <md-radio-button value="ms">Mme</md-radio-button>
                              <md-radio-button value="m">M</md-radio-button>
                            </md-radio-group>
                          </div>


                          <div class="row">
                            <div class="col-sm-6  col-xs-6">
                              <div class="form-group">
                                Nom de famille
                                <input type="text" class="form-control" placeholder="Nom"
                                  formControlName="nom"
                                  maxlength="25">
                              </div>
                            </div>
                            <div class="col-sm-6  col-xs-6">
                              <div class="form-group">
                                Prénom
                                <input type="text" class="form-control" placeholder="Prénom"
                                  formControlName="prenom"
                                  maxlength="25">
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="row">

                              <div class="col-sm-12">
                                Profession
                                <input type="text" class="form-control"
                                  placeholder="Profession / Secteur d'activité"
                                  formControlName="job"
                                  maxlength="25">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            Mél
                            <input type="email" class="form-control" placeholder="Email"
                              formControlName="email">
                            <small *ngIf="applytoForm.controls['parents']['controls'][i].controls.email.errors?.email &&
                              applytoForm.controls['parents']['controls'][i].controls.email.touched"
                              class="mat-text-warn">
                              Email Invalide
                            </small>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <div class="col-sm-12">
                                Téléphone joignable
                                <input type="text" class="form-control"
                                  placeholder="Téléphone auquel je suis joignable"
                                  formControlName="portable"
                                  pattern="[0-9]+" maxlength="10">
                                <small *ngIf="applytoForm.controls['parents']['controls'][i].controls.portable.hasError('maxlength') &&
                                  applytoForm.controls['parents']['controls'][i].controls.portable.touched"
                                  class="mat-text-warn">
                                  Numéro de Portable Invalide (max 10)
                                </small>
                                <small *ngIf="applytoForm.controls['parents']['controls'][i].controls.portable.hasError('pattern') &&
                                  applytoForm.controls['parents']['controls'][i].controls.portable.touched"
                                  class="mat-text-warn">
                                  Numéro de Portable Invalide (Doit être des chiffres)
                                </small>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="select-custom">
                                  Horaires pour me contacter
                                  <select name="" class="form-control" formControlName="horaireJoignable">
                                      <option value="" disabled selected>Horaires pour me contacter</option>
                                      <option value="9h-12h">9h-12h</option>
                                      <option value="12h-14h">12h-14h</option>
                                      <option value="14h-18h">14h-18h</option>
                                      <option value="18h-20h">18h-20h</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group clearfix">
                          <button class="btn  btn-danger" style="float:right"
                            (click)="onRemoveParent(i)" *ngIf="applytoForm.controls['parents']['controls'].length==2">
                            Retirer un parent
                          </button>
                        </div>
                      </section>
                      <!-- .col-* -->
                    </div>
                    <div class="form-group clearfix">
                      <button class="btn  btn-appointment" (click)="onAddParent()"
                      *ngIf="applytoForm.controls['parents']['controls'].length==1"
                        style="margin-left:0px">
                        Ajouter un parent
                      </button>
                    </div>
                    <div class="form-group clearfix">
                      <button class="btn  btn-appointment" (click)="nextTab(1)"
                        style="margin-left:0px; float:right">
                        Suivant
                      </button>
                    </div>
                    <!-- .row -->
                  </div>
                  <!-- .container-fluid -->
                </div>
                <!-- #tab1 -->
              </md-tab>
              <md-tab label="Elève">
                <div class="tab-pane" id="tab2">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <h3>Elève</h3>
                      </div>
                      <div class="col-md-4">


                        <div class="row">
                          <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                              Nom de famille*
                              <input type="text" class="form-control" placeholder="Nom"
                                [formControl]="applytoForm.controls['childLastName']"
                                maxlength="25">
                            </div>
                          </div>
                          <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                              Prénom*
                              <input type="text" class="form-control" placeholder="Prénom"
                                [formControl]="applytoForm.controls['childFirstName']"
                                maxlength="25">
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <!-- <div class="col-sm-12">
                                                    <div class="row"> -->
                          <div class="col-sm-3  col-xs-6">
                            <div class="form-group">
                              Age
                              <input type="number" class="form-control" max="50" min="1" id="txtAge"
                                placeholder="Age" [formControl]="applytoForm.controls['childAge']"
                                maxlength="2">
                            </div>
                          </div>
                          <div class="col-sm-3  genderRadio">&nbsp;</div>
                          <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                              <div class="horizontal-radio">
                                <md-radio-group [formControl]="applytoForm.controls['childTitle']">
                                  <md-radio-button value="garçon">Garçon</md-radio-button>
                                  <md-radio-button value="fille">Fille</md-radio-button>
                                </md-radio-group>
                              </div>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              Mél*
                              <input type="email" class="form-control" placeholder="Mel"
                                [formControl]="applytoForm.controls['childMel']">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              Numéro de portable*
                              <input type="text" class="form-control" placeholder="Portable"
                                [formControl]="applytoForm.controls['childTel']"
                                maxlength="10">
                            </div>
                          </div>
                        </div>


                        <!--<div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              Adresse*
                              <textarea class="form-control" placeholder="Adresse"
                                [formControl]="applytoForm.controls['childAddr']">
                              </textarea>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              Code postal*
                              <input type="text" class="form-control" placeholder="Code postal"
                                [formControl]="applytoForm.controls['childPostalCode']"
                                maxlength="5">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              Ville*
                              <input type="text" class="form-control" placeholder="Ville"
                                [formControl]="applytoForm.controls['childCity']"
                                maxlength="25">
                            </div>
                          </div>
                        </div>-->


                        <!--<div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <div class="datepicker-holder">
                                Date de naissance
                                <input type="date" id="birthdate" class="form-control" [mdDatepicker]="myDatepicker"
                                  placeholder="Date de naissance" [max]="maxDate"
                                  [formControl]="applytoForm.controls['childBirthDay']">
                                <md-datepicker #myDatepicker></md-datepicker>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              Lieu de naissance
                              <input type="text" class="form-control" placeholder="Lieu"
                                [formControl]="applytoForm.controls['childBirthPlace']"
                                maxlength="50">
                            </div>
                          </div>
                        </div>-->

                      </div>
                      <div class="col-md-12">
                          <div class="form-group clearfix">
                            <button class="btn  btn-appointment" (click)="nextTab(0)"
                              style="float:left; margin-left:0px">
                              Précédent
                            </button>
                            <button class="btn  btn-appointment" (click)="nextTab(2)"
                              style="float:right">
                              Suivant
                            </button>
                          </div>
                      </div>

                      <!-- .col-* -->

                      <!--<div class="col-md-8" *ngIf="canDisplaySiblings">
                        <div class="wrap-enfant">
                          <div class="form-group" formArrayName="freresoeur"
                            *ngFor="let siblings of applytoForm.controls['freresoeur']['controls']; let i=index">
                            <h4>Frère / Soeur {{ i + 1 }}</h4>
                            <div class="row" [formGroupName]="i">
                              <div class="col-for-radio">
                                <div class="gap-for-radio horizontal-radio clearfix">
                                  <md-radio-group formControlName="gender">
                                    <md-radio-button value="Frère">Frère</md-radio-button>
                                    <md-radio-button value="Soeur">Soeur</md-radio-button>
                                  </md-radio-group>
                                  <small *ngIf="applytoForm.controls['freresoeur']['controls'][i].controls.gender.hasError('required') &&
                                    applytoForm.controls['freresoeur']['controls'][i].controls.gender.touched"
                                    class="mat-text-warn">
                                    Gender Obligatoire
                                  </small>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                Age*
                                <input type="number" max="50" min="1" class="form-control gap-for-radio"
                                  placeholder="Age" formControlName="age"
                                  maxlength="2" style="margin-top:0px"/>
                                <small *ngIf="applytoForm.controls['freresoeur']['controls'][i].controls['age'].hasError('required') &&
                                  applytoForm.controls['freresoeur']['controls'][i].controls['age'].touched"
                                  class="mat-text-warn">
                                  Age Obligatoire
                                </small>
                                <small *ngIf="applytoForm.controls['freresoeur']['controls'][i].controls['age'].hasError('pattern') &&
                                  applytoForm.controls['freresoeur']['controls'][i].controls['age'].touched"
                                  class="mat-text-warn">
                                  Seulement des chiffres
                                </small>
                              </div>
                              <div class="col-sm-3">
                                Niveau d'étude*
                                <input type="text" class="form-control gap-for-radio"
                                  placeholder="Niveau d'étude"
                                  formControlName="niveau"
                                  maxlength="25" style="margin-top:0px">
                                <small *ngIf="applytoForm.controls['freresoeur']['controls'][i].controls['niveau'].hasError('required') &&
                                  applytoForm.controls['freresoeur']['controls'][i].controls['niveau'].touched"
                                  class="mat-text-warn">
                                  Niveau d'étude Obligatoire
                                </small>
                              </div>
                              <div class="col-sm-2">
                                <button class="btn  btn-danger" style="float:right"
                                  (click)="onRemoveFrSo(i)">
                                  Retirer un parent
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group clearfix">
                            <button class="btn  btn-appointment" (click)="onAddFrSo()"
                              style="margin-left:0px">
                              Ajouter un frère / soeur
                            </button>
                          </div>
                        </div>

                      </div>-->
                    </div>
                  </div>
                </div>
              </md-tab>
              <md-tab label="Etablissement actuel">
                <div class="tab-pane" id="tab3">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">

                        <h3>Etablissement Actuel</h3>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              Nom de l'établissement
                              <input type="text" class="form-control" placeholder="Nom Etablissement Actuel"
                                [formControl]="applytoForm.controls['schoolName']"
                                maxlength="50">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group  col-sm-12  col-xs-6">
                            <div class="row">
                              <div class="col-sm-12">
                                Ville de l'établissement
                                <input type="text" class="form-control" placeholder="Ville"
                                  [formControl]="applytoForm.controls['schoolCity']"
                                  maxlength="50">
                              </div>
                            </div>
                          </div>

                          <div class="form-group  col-sm-12  col-xs-6">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="select-custom">
                                  Classe*
                                  <select name="" class="form-control" [formControl]="applytoForm.controls['schoolClasse']">
                                    <option value="" disabled selected hidden>Classe</option>
                                    <option value="" disabled>Indifférent</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;Classes maternelles
                                    </option>
                                    <option value="ps">&nbsp;Petite section (PS)</option>
                                    <option value="ms">&nbsp;Moyenne section (MS)</option>
                                    <option value="gs">&nbsp;Grande Section (GS)</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;Classes élémentaires
                                    </option>
                                    <option value="cp">&nbsp;Cours préparatoire (CP)</option>
                                    <option value="ce1">&nbsp;Cours élémentaire 1er année(CE1)</option>
                                    <option value="ce2">&nbsp;Cours élémentaire 2è année (CE2)</option>
                                    <option value="cm1">&nbsp;Cours Moyen 1er année(CM1)</option>
                                    <option value="cm2">&nbsp;Cours Moyen 2è année(CM2)</option>
                                    <option value="6e">&nbsp;6ème</option>
                                    <option value="cinquieme">&nbsp;5ème</option>
                                    <option value="quatrieme">&nbsp;4ème</option>
                                    <option value="troisieme">&nbsp;3ème</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;Classes de seconde
                                    </option>
                                    <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                    <option value="seconde_probation">&nbsp;2nde de probation (ou méthodologique)</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;Classes de première
                                    </option>
                                    <option value="premiere_es">&nbsp;1ere ES - Economique et Sociale</option>
                                    <option value="premiere_l">&nbsp;1ere L - Littéraire</option>
                                    <option value="premiere_s">&nbsp;1ere S - Scientifique</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;Classes de terminale
                                    </option>
                                    <option value="terminale_s">&nbsp;Tle ES - Economique et Sociale</option>
                                    <option value="terminale_l">&nbsp;Tle L - Littéraire</option>
                                    <option value="terminale_s">&nbsp;Tle S - Scientifique</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;Cursus international
                                    </option>
                                    <option value="CI">&nbsp;Cursus International</option>
                                    <option value="BAC-I">&nbsp;Cursus Bac. International</option>
                                    <option value="cursus_non_francophone">&nbsp;Cursus non francophone (GB-US)</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;STRH - Sciences et Technologies de l'hôtellerie et de la restauration
                                    </option>
                                    <option value="seconde_sthr">&nbsp;2nde spécifique STHR</option>
                                    <option value="premiere_sthr">&nbsp;1ere d’adaptation STHR</option>
                                    <option value="premiere_sthr">&nbsp;1ere STHR</option>
                                    <option value="terminale_sthr">&nbsp;Terminale STHR</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;ST2S - Sciences et Technologies de la santé et du social
                                    </option>
                                    <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                    <option value="premiere_sti2s">&nbsp;1ere d’adaptation ST2S</option>
                                    <option value="premiere_st2s">&nbsp;1ere ST2S</option>
                                    <option value="terminale_st2s">&nbsp;Terminale STIS</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;STD2A - Sciences et Technologies du Design et des Arts Appliqués
                                    </option>
                                    <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                    <option value="premiere_std2a">&nbsp;1ère STI2A</option>
                                    <option value="terminale_std2a">&nbsp;Terminale STI2A</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;STI2D - Sciences et Technologies de l'Industrie et du Développement Durable
                                    </option>
                                    <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                    <option value="premiere_sti2d">&nbsp;1ère STI2D</option>
                                    <option value="terminale_sti2d">&nbsp;Terminale ST2D – Architecture et Construction</option>
                                    <option value="terminale_sti2d">&nbsp;Terminale STI2D – Energie et Environnement</option>
                                    <option value="terminale_sti2d">&nbsp;Termianale STI2D – Innovation Technologique et Eco-conception</option>
                                    <option value="terminale_sti2d">&nbsp;Terminale STI2D – Systèmes D’Information Numérique</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;STMG - Sciences et Technologies du Management et de la Gestion
                                    </option>
                                    <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                    <option value="premiere_stmg">&nbsp;1ère d’adaptation STMG</option>
                                    <option value="premiere_stmg">&nbsp;1ère STMG</option>
                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Gestion et Finance</option>
                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Mercatique</option>
                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Ressources Humaines et Communication</option>
                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Systèmes D’Information et de Gestion</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;STL - Sciences et Technologies de Laboratoire
                                    </option>
                                    <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                    <option value="premiere_stl">&nbsp;1ère d’adaptation STL</option>
                                    <option value="premiere_stl">&nbsp;1ère STL</option>
                                    <option value="terminale_stl">&nbsp;Terminale STL – Biotechnologies</option>
                                    <option value="terminale_stl">&nbsp;Terminale STL – Sciences Physiques et Chimiques en Laboratoire</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;STAV - Sciences et Technologies de l'Agronomie et du Vivant (lycées agricoles)
                                    </option>
                                    <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                    <option value="premiere_stav">&nbsp;1ère d’adaptation STAV</option>
                                    <option value="premiere_stav">&nbsp;1ère STAV</option>
                                    <option value="terminale_stav">&nbsp;Terminale STAV</option>
                                    <option value="" disabled style="color:red">
                                        &nbsp;TMD - Techniques de la Musique et de la Danse
                                    </option>
                                    <option value="2ndeTMD">&nbsp;2nde spécifique TMD</option>
                                    <option value="premiere_tmd">&nbsp;1ère d’adaptation TMD</option>
                                    <option value="premiere_tmd">&nbsp;1ère TMD</option>
                                    <option value="terminale_tmd">&nbsp;Terminale TMD - Danse</option>
                                    <option value="terminale_tmd">&nbsp;Terminale TMD - Musique</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              Options
                              <input type="text" class="form-control" placeholder="Options"
                                [formControl]="applytoForm.controls['schoolOption']"
                                maxlength="50">
                            </div>
                          </div>
                        </div>

                        <h4>Langues Vivantes</h4>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom">
                                Lv1
                                <select name="" class="form-control" [formControl]="applytoForm.controls['schoolLv1']">
                                    <option value="" disabled selected hidden>Lv1</option>
                                    <option [value]="langue" *ngFor="let langue of langues">{{langue}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom">
                                Lv2
                                <select name="" class="form-control" [formControl]="applytoForm.controls['schoolLv2']">
                                    <option value="" disabled selected hidden>Lv2</option>
                                    <option [value]="langue" *ngFor="let langue of langues">{{langue}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom">
                                Lv3
                                <select name="" class="form-control" [formControl]="applytoForm.controls['schoolLv3']">
                                    <option value="" disabled selected hidden>Lv3</option>
                                    <option [value]="langue" *ngFor="let langue of langues">{{langue}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Button Upload -->
                        <div>
                          <label>Télécharger ici le dernier bulletin scolaire</label>
                          <input class="inputTypeFileCk" type="file" ng2FileSelect [uploader]="uploader"/>
                        </div>


                        <!-- end button upload -->
                      </div>
                      <!-- progress upload -->
                      <div class="col-md-8">
                        <div fxFlex.gt-sm="80" fxFlex.gt-xs="50" fxFlex="100">
                          <h5 class="mt-0" fxLayout="row">
                            <span fxFlex>File d'attente des téléchargements</span>
                            <span>Nombre de fichier en attente: {{ uploader?.queue?.length }}</span>
                          </h5>

                          <ngx-datatable class="material ml-0 mr-0"
                            [rows]="uploader.queue" [columnMode]="'flex'"
                            [headerHeight]="50" [footerHeight]="0"
                            [rowHeight]="'auto'">
                            <ngx-datatable-column name="Nom" [flexGrow]="1">
                              <ng-template let-row="row" ngx-datatable-cell-template mdTooltip="{{ row?.file?.name }}">
                                {{ row?.file?.name | school:'10' }}
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Taille" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row?.file?.size/1024/1024 | number:'.2' }} MB
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Progression" *ngIf="uploader.options.isHTML5" [flexGrow]="3">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <md-progress-bar mode="determinate" value="{{row.progress}}"></md-progress-bar>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Statut" [flexGrow]="1">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.isSuccess"><md-icon>check</md-icon></span>
                                <span *ngIf="row.isCancel"><md-icon>cancel</md-icon></span>
                                <span *ngIf="row.isError"><md-icon>error</md-icon></span>
                              </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Action" [flexGrow]="2">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                <button md-raised-button md-button-sm color="primary" type="button" (click)="row.upload()" [disabled]="row.isReady || row.isUploading || row.isSuccess">Télécharger</button>
                                <button md-raised-button md-button-sm color="warn" type="button" (click)="row.cancel()" [disabled]="!row.isUploading">Annuler</button>
                                <button md-raised-button md-button-sm color="accent" type="button" (click)="row.remove()">Supprimer
                                </button>
                              </ng-template>
                            </ngx-datatable-column>
                          </ngx-datatable>

                          <div class="mb-1">
                            <p>Progression de la file d'attente</p>
                            <md-progress-bar mode="determinate" value="{{uploader.progress}}"></md-progress-bar>
                          </div>
                          <button md-raised-button md-button-sm color="primary" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Tout télécharger</button>
                          <button md-raised-button md-button-sm color="warn" type="button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">Tout annuler</button>
                          <button md-raised-button md-button-sm color="accent" type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">Tout supprimer</button>
                        </div>


                      </div>
                      <div class="col-md-12" style="margin-top:10px">
                        <div class="form-group clearfix">
                          <button class="btn  btn-appointment" (click)="nextTab(1)"
                            style="float:left; margin-left:0px">
                            Précédent
                          </button>
                          <button class="btn  btn-appointment" (click)="nextTab(3)"
                            style="float:right">
                            Suivant
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>

              <md-tab label="Vos matières préférées">
                <div class="tab-pane" id="tab5">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">
                        <h3>Vos matières préférées</h3>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom-multiple-forte">
                                Matières Fortes
              									<select class="form-control matery" multiple="multiple"
                                  [formControl]="applytoForm.controls['bestSubject']">
              										<option value="Maths">Maths</option>
              										<option value="Sciences Physiques">Sciences Physiques</option>
              										<option value="Sciences Naturelles">Sciences Naturelles</option>
              										<option value="Francais">Francais</option>
              										<option value="Anglais">Anglais</option>
              										<option value="Espagnol">Espagnol</option>
              										<option value="Allemand">Allemand</option>
              										<option value="Italien">Italien</option>
              										<option value="Autre langue">Autre langue</option>
              										<option value="Histoire">Histoire</option>
              										<option value="Géographie">Géographie</option>
              										<option value="Instruction Civique">Instruction Civique</option>
              										<option value="Sport">Sport</option>
              										<option value="Musique">Musique</option>
              										<option value="Arts PLastiques">Arts PLastiques</option>
              										<option value="Autre matières">Autre matières</option>
              									</select>
              								</div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom-multiple-faible">
                                Matières faibles
              									<select class="form-control matery"
                                  multiple="multiple"
                                  [formControl]="applytoForm.controls['weakSubject']">
              										<option value="Maths">Maths</option>
              										<option value="Sciences Physiques">Sciences Physiques</option>
              										<option value="Sciences Naturelles">Sciences Naturelles</option>
              										<option value="Francais">Francais</option>
              										<option value="Anglais">Anglais</option>
              										<option value="Espagnol">Espagnol</option>
              										<option value="Allemand">Allemand</option>
              										<option value="Italien">Italien</option>
              										<option value="Autre langue">Autre langue</option>
              										<option value="Histoire">Histoire</option>
              										<option value="Géographie">Géographie</option>
              										<option value="Instruction Civique">Instruction Civique</option>
              										<option value="Sport">Sport</option>
              										<option value="Musique">Musique</option>
              										<option value="Arts PLastiques">Arts PLastiques</option>
              										<option value="Autre matières">Autre matières</option>
              									</select>
              								</div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="select-custom-multiple-gout">
                                Matières préférées
              									<select class="form-control matery"
                                  multiple="multiple"
                                  [formControl]="applytoForm.controls['interestSubject']">
              										<option value="Maths">Maths</option>
              										<option value="Sciences Physiques">Sciences Physiques</option>
              										<option value="Sciences Naturelles">Sciences Naturelles</option>
              										<option value="Francais">Francais</option>
              										<option value="Anglais">Anglais</option>
              										<option value="Espagnol">Espagnol</option>
              										<option value="Allemand">Allemand</option>
              										<option value="Italien">Italien</option>
              										<option value="Autre langue">Autre langue</option>
              										<option value="Histoire">Histoire</option>
              										<option value="Géographie">Géographie</option>
              										<option value="Instruction Civique">Instruction Civique</option>
              										<option value="Sport">Sport</option>
              										<option value="Musique">Musique</option>
              										<option value="Arts PLastiques">Arts PLastiques</option>
              										<option value="Autre matières">Autre matières</option>
              									</select>
              								</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group clearfix">
                        <button class="btn  btn-appointment" (click)="nextTab(2)"
                          style="float:left; margin-left:0px">
                          Précédent
                        </button>
                        <button class="btn  btn-appointment" (click)="nextTab(4)"
                          style="float:right">
                          Suivant
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </md-tab>
              <md-tab label="Ses centres d'intérêts">
                <div class="tab-pane" id="tab6">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Ses centres d'intérêts</h3>

                        <h4>Liste des métiers que vous avez pensé exercer un jour </h4>


                        <div class="row" formArrayName="job"
                            *ngFor="let parent of applytoForm.controls['job']['controls']; let i = index">
                          <div [formGroupName]="i">
                            <div class="col-sm-6">
                              <h4>Métier {{i+1}}</h4>
                              <div class="form-group">
                                Job
                                <input type="text" class="form-control" placeholder="Job"
                                  formControlName="interestJob"
                                  maxlength="25">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <h4>&nbsp;</h4>
                              <div class="form-group">
                                Age
                                <input type="text" class="form-control" placeholder="Age"
                                  formControlName="interestAge" max="50" min="1"
                                  maxlength="2">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <h4>&nbsp;<br> &nbsp;</h4>
                              <button class="btn  btn-danger" style="float:right"
                                (click)="onRemoveJob(i)">
                                Retirer un métier
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <button class="btn  btn-appointment" (click)="onAddJob()">
                            Ajouter un métier
                          </button>
                        </div>


                        <div class="form-group different-gap">
                          <div class="row">
                            <div class="col-sm-9">
                                Ses centres d'intérêts
                              <input type="text" class="form-control"
                                [formControl]="applytoForm.controls['yourInterest']"
                                maxlength="100">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-9">
                              Ses activités extra-scolaires
                              <input type="text" class="form-control"
                                [formControl]="applytoForm.controls['practiceInterest']"
                                maxlength="100">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button class="btn  btn-appointment" (click)="nextTab(3)"
                          style="float:left; margin-left:0px">
                          Précédent
                        </button>
                        <button class="btn btn-appointment"
                          type="submit" (click)="onSubmit()"
                          style="margin-left:0px; float : right">Je postule</button>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>

            </md-tab-group>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
