<div>
  <main _ngcontent-c3="" class="main white-background" role="main" ng-reflect-class-base="main white-background">
    <div _ngcontent-c3="" class="container" ng-reflect-class-base="container">

      <div class="row">

        <div class="col-md-6"><img src="assets/images/adrep2.gif" /></div>
        <div class="col-md-6"><img src="assets/images/vocatis.gif" /></div>

      </div>

      <div class="row">

        <div class="col-md-6 align_left">
          <p>
            Depuis 1986, le CIDE a pour vocation d'apporter une aide concrète aux familles et aux jeunes à la recherche d'études secondaires ou supérieures.
          </p><p> Notre connaissance de l'enseignement privé, permet de sélectionner les établissements les plus adaptés au profil de chaque jeune.</p>
          <p> Les conseillers du CIDE vous aideront à construire votre projet d'études ou professionnel. Situé au coeur du quartier Latin l'équipe du CIDE vous recevra individuellement pour répondre aux nombreuses questions que vous vous posez sur tous les cursus d'études dans une ambiance d'écoute et de réflexion sur votre avenir.</p>

        </div>
        <div class="col-md-6  align_left"><p>
                                            VOCATIS se positionne comme un groupe media spécialisé dans l'orientation, la vie étudiante et la réussite professionnelle des individus, à travers quatre canaux d'information : les salons, Internet, l'édition et la presse.

</p>
        
        <p>VOCATIS :<br /> Studyrama, pour les jeunes - du collège à l'entrée dans la vie active -, et Vocatis, qui s'adresse à tous les actifs, pour réussir sa carrière professionnelle.
 </p>

<p>
Accéder au site web</p></div>

      </div>


      <div class="row">

        <div class="col-md-6"><img src="assets/images/adrep-2016.jpg" /></div>
        <div class="col-md-6">&nbsp;</div>

      </div>






    </div>
  </main>
</div>