 <header class="header">
        <nav class="main-navigation">
            <ul class="clearfix">
                <li class="parent-item haschild courses-menu">
                    <a href="#" class="ln-tr"><i class="fa fa-bars menu-holder"></i></a>
                    <ul class="clearfix">
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-user"></i></span>
                                <a href="login.html" class="ln-tr link">Connexion</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-download"></i></span>
                                <a href="#" class="ln-tr link">Les brochures des ecolesa</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-calendar-check-o"></i></span>
                                <a href="#" class="ln-tr link">Orientation</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-bullhorn"></i></span>
                                <a href="#" class="ln-tr link">Agenda des ecoles</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-bookmark"></i></span>
                                <a href="#" class="ln-tr link">Mes voeux / Inscriptions</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-inbox"></i></span>
                                <a href="#" class="ln-tr link">Commande du guide des écoles privees</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-share"></i></span>
                                <a href="#" class="ln-tr link">Reseaux sociaux</a>
                            </div>
                        </li><!-- end course menu item -->
                        <li class="course-menu-item col-md-3 col-sm-4">
                            <div class="single-item">
                                <span class="item-icon"><i class="fa fa-sign-out"></i></span>
                                <a href="#" class="ln-tr link">Déconnexion</a>
                            </div>
                        </li><!-- end course menu item -->
                    </ul>
                </li>
            </ul>
        </nav>
        <a href=""><img class="cide-logo" src="assets/img/cide-white.png" alt="CIDE Logo" /></a>
        <h1 class="sitename">Avec le CIDE, je trouve</h1>
    </header>