    <header class="header">
        <i class="fa fa-bars menu-holder"></i>
        <a href="index.html"><img class="cide-logo" src="assets/img/cide-white.png" alt="CIDE Logo" /></a>
        <h1 class="sitename">Avec le CIDE, je trouve</h1>

        <ul class="right-top-menu pull-right">
            <li><i class=" fa fa-file-text"></i></li>
            <li><i class="fa fa-bookmark"></i></li>
        </ul>
    </header>

    <div class="filter-form-holder ecole">

            <form class="form-inline searchform">
                    
                    <div class="filter-wrapper">
                        <i class="fa fa-filter filter-holder"></i>
                        <!-- <img src="assets/img/filter-open.jpg" class="filters" /> -->
                        <div class="advance-filter">
                            <ul>
                                <li><a><span class="caret"></span> Specialités</a>
                                    <ul>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-1" /><label for="filter-1">Accueil Handicapé, Dyslexie</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-2" /><label for="filter-2">Aides Financières - Bourse</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-3" /><label for="filter-3">Cours Francais Langue Etrangere - LFE</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-4" /><label for="filter-4">Enfant Precoces</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-5" /><label for="filter-5">Horaires Aménagés</label></li>
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Internat</a>
                                    <ul>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-6" /><label for="filter-6">si case Internat est cochée</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-7" /><label for="filter-7">Capacité</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-8" /><label for="filter-8">Internat sur Place</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-9" /><label for="filter-9">Internat externe</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-10" /><label for="filter-10">Résidence Etudiante</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-11" /><label for="filter-11">Internat de semaine</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-12" /><label for="filter-12">Internat Permanent</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-13" /><label for="filter-13">Internat Certains Weekend</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-14" /><label for="filter-14">Internat mixte</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-15" /><label for="filter-15">Internat filles</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-16" /><label for="filter-16">Internat garcon</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-17" /><label for="filter-17">Chambres individuelles</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-18" /><label for="filter-18">Chambres 2 a 4 lits</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-19" /><label for="filter-19">chambres 5 a 8 lits</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-20" /><label for="filter-20">Dortoirs</label></li>
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Stages</a>
                                    <ul>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-21" /><label for="filter-21">stage pre-rentree</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-22" /><label for="filter-22">stages petites vacances</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-23" /><label for="filter-23">stages de grandes vacances</label></li> 
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Resturation</a>
                                    <ul>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-24" /><label for="filter-24">self-service</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-25" /><label for="filter-25">Service a Table</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-26" /><label for="filter-26">Cafeteria</label></li> 
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Externat</a>
                                    <ul>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-27" /><label for="filter-27">demi-pension mixte</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-28" /><label for="filter-28">demi-pension garcons</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-29" /><label for="filter-29">demi-pension filles</label></li> 
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Statut</a>
                                    <ul>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-30" />
                                            <label for="filter-30">Section Européenne</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-31" />
                                            <label for="filter-31">Section bilingue</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-32" />
                                            <label for="filter-32">Section Sportive</label>
                                        <li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-33" />
                                            <label for="filter-33">Public</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-34" />
                                            <label for="filter-34">Prive</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-35" />
                                            <label for="filter-35">CCI</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-36" />
                                            <label for="filter-36">Sous Contrat D'association</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-37" />
                                            <label for="filter-37">Hors contrat</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-38" />
                                            <label for="filter-38">CFA</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-39" />
                                            <label for="filter-40">UFA</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-40" />
                                            <label for="filter-40">Reconnue par l'Etat</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-41" />
                                            <label for="filter-41">en convention avec l'Etat</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-42" />
                                            <label for="filter-42">Enseignement supérieur Libre</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-43" />
                                            <label for="filter-43">Enseignement supérieur</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-44" />
                                            <label for="filter-44">Enseignement supérieur technique</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-45" />
                                            <label for="filter-45">Sous contrat simple</label>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Ens. Confessionel</a>
                                    <ul>
                                        <li>a</li>
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Langues</a>
                                    <ul>
                                        <li><label class="select-custom" for="class">
                                                <select name="class" class="form-control" id="class">
                                                    <option value="" disabled selected hidden>LV1</option>
                                                    <option value="PS">Anglais</option>
                                                    <option value="MS">Arabe</option>
                                                    <option value="GS">Allemand</option>
                                                    <option value="GS">Chinois</option>
                                                </select>
                                            </label>
                                        </li>
                                        <li><label class="select-custom" for="class">
                                                <select name="class" class="form-control" id="class">
                                                    <option value="" disabled selected hidden>LV3</option>
                                                    <option value="PS">Anglais</option>
                                                    <option value="MS">Arabe</option>
                                                    <option value="GS">Allemand</option>
                                                    <option value="GS">Chinois</option>
                                                </select>
                                            </label></li>
                                        <li><label class="select-custom" for="class">
                                                <select name="class" class="form-control" id="class">
                                                    <option value="" disabled selected hidden>LV3</option>
                                                    <option value="PS">Anglais</option>
                                                    <option value="MS">Arabe</option>
                                                    <option value="GS">Allemand</option>
                                                    <option value="GS">Chinois</option>
                                                </select>
                                            </label>
                                        </li>
                                        <li><label class="select-custom" for="class">
                                                <select name="class" class="form-control" id="class">
                                                    <option value="" disabled selected hidden>LA - Langues Anciennes</option>
                                                    <option value="PS">Anglais</option>
                                                    <option value="MS">Arabe</option>
                                                    <option value="GS">Allemand</option>
                                                    <option value="GS">Chinois</option>
                                                </select>
                                            </label>
                                        </li>
                                        <li><label class="select-custom" for="class">
                                                <select name="class" class="form-control" id="class">
                                                    <option value="" disabled selected hidden>LR - Langues Regionales</option>
                                                    <option value="PS">Anglais</option>
                                                    <option value="MS">Arabe</option>
                                                    <option value="GS">Allemand</option>
                                                    <option value="GS">Chinois</option>
                                                </select>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Sections</a>
                                    <ul>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-51" /><label for="filter-51">Section Européenne</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-52" /><label for="filter-52">Section bilingue</label></li>
                                        <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-53" /><label for="filter-53">Section Sportive</label></li>
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Diplomes</a>
                                    <ul>
                                       <li><label class="select-custom" for="class">
                                                <select name="class" class="form-control" id="class">
                                                    <option value="" disabled selected hidden>Nom di diplome</option>
                                                </select>
                                            </label>
                                        </li> 
                                    </ul>
                                </li>
                                <li><a><span class="caret"></span> Options</a>
                                    <ul>
                                        <li><input type="text" name="" placeholder="Nom de L'option" class="form-control"></li>
                                    </ul>
                                </li>
                                <li><a><input type="checkbox" name="" class="checkbox filled-in" id="filter-54" /><label for="filter-54">Places Disponibles</label></a>
                                </li>
                            </ul>
                        </div>
                    </div>



                <h2 class="featured-title">Une école Maternelle / Primaire</h2>
                

                <div class="container">

                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            
                            <div class="form-wrap">

                                
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" />
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom d'etablissement" />
                                </div>

                                <!-- <div class="form-group"> -->
                                    <button class="btn btn-search"><i class="fa fa-search"></i></button>
                                <!-- </div> -->


                            </div><!-- .form-wrap -->
                        
                        </div><!-- .col-* -->
                
                    </div><!-- .row -->

                </div><!-- .container -->

            </form>

    </div><!-- .filter-form-holder -->

    <main class="main" role="main">
        
    <!--<div class="white-background">-->

            <div class="container">

                <div class="row"><div class="col-md-10 col-md-offset-1">
                
                    
                    <div class="compare-block  row  white-background" id="compare">

                        <div class="col-md-12">
                            
                            <div class="result-text">
                                <h3>Mon résultat pour: Classe PS - <span class="fa fa-map-marker"></span> Lyon</h3>
                                <p>Recherche Affine: Aides Financieres - Bourse / Lv1 Anglais / Place Disponibles <a href="#"><span class="fa fa-times"></span></a></p>
                            </div>

                        </div>

                        <div class="col-md-12 compare-table-wrap">
                            <div class="compare-table">
                                
                                <div class="content-compare-table">

                                    <div class="top-compare-table first">
                                        <img src="assets/img/cide-compare-table.png" alt="" width="145" />
                                    </div>

                                    <div class="item-compare-table">
                                        <ul class="compare-item class-cycle">
                                            <li class="title"><h5>Cycles & Classes</h5></li>
                                            <li><a class="subtitle" role="button" data-toggle="collapse" href=".ecole" aria-expanded="false" aria-controls="collapseExample">Ecole<span class="caret"></span></a>
                                                <div class="collapse in ecole">
                                                    <ul class="compare-item">
                                                      
                                                    </ul>
                                                </div>
                                            </li>
                                          
                                        </ul>

                                        


                                      
                                    </div>
                                </div>

                                <div class="content-compare-table">
                                    
                                    <div class="top-compare-table">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/img/cide-remove.png" width="16" /></button>
                                        <img src="assets/img/school-1.jpg" alt="" width="60" height="60" />    
                                        <h4 title="Lycée Saint-Charles">Lycée Saint-Charles</h4>
                                        
                                        <ul class="school-action">
                                            <li><a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                        </ul>
                                        <div class="col-md-10 col-md-offset-1">
                                            <button class="btn btn-appointment btn-block">Je Postuler</button>
                                        </div>
                                    </div>

                                    <div class="item-compare-table">

                                        <ul class="compare-item class-cycle center">
                                            <li class="title"><h5>&nbsp;</h5></li>
                                            <li><span class="subtitle">&nbsp;</span>
                                                <div class="collapse in ecole">
                                                    <ul class="compare-item">
                                                        
                                                        
                                                    </ul>
                                                </div>
                                            </li>
                                        
                                        </ul>

                                        


                                    </div>

                                </div>


                               

                            </div><!-- .compare-table -->

                        </div><!-- .col-* -->

                    </div>

                </div></div><!-- .row .col-* -->

            </div><!-- .container -->

            <div class="ad-holder">
                <img src="assets/img/ad.jpg" alt="Ad" />
            </div>

            <div class="survey-holder">

                <h4 class="survey-title">Sondage</h4>
                
                <p>Comment avez-vousconnu enseignement-prive.fr?</p>

                <p><label class="custom-radio"><input type="radio" name="survey"> <span>Le guide pratique des ecole privees</span></label></p>
                <p><label class="custom-radio"><input type="radio" name="survey"> <span>Un moteur de recherche sur internet</span></label></p>
                <p><label class="custom-radio"><input type="radio" name="survey"> <span>Un etablissement scolaire</span></label></p>
                <p><label class="custom-radio"><input type="radio" name="survey"> <span>Un centre d'information et d'orientation</span></label></p>
                <p><label class="custom-radio"><input type="radio" name="survey"> <span>Des amis</span></label></p>
                <p><label class="custom-radio"><input type="radio" name="survey"> <span>Une publication</span></label></p>

                <button type="button" class="btn btn-vote  btn-xs  btn-block">VOTE</button>

            </div>
    </main>