<h3 style="text-align:center;">Afin d’envoyer votre message, veuillez compléter les informations ci-dessous</h3>
<md-tab-group class="download-modal" #tabGroup>
  <md-tab label="Mes Coordonnées">
     <div role="tabpanel" style="width:95%; margin-left:2%">
         <form [formGroup]="sendMessageForm" class="brouchreCls test">
            <h3>Parents</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="select-custom">
                        <!--div style="margin-bottom:10px">
                            <span>Lien de Parenté*</span>
                        </div-->
                        <select name="" class="form-control"
                            [formControl]="sendMessageForm.controls['lienParent']">
                            <option value="" disabled selected hidden>Lien de Parenté</option>
                            <option value="Père">Père</option>
                            <option value="Mère">Mère</option>
                            <option value="Oncle">Oncle</option>
                            <option value="Tante">Tante</option>
                            <option value="Grand-Père">Grand-Père</option>
                            <option value="Grand-Mère">Grand-Mère</option>
                            <option value="Tuteur">Tuteur</option>
                            <option value="Tutrice">Tutrice</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--div style="margin-bottom:10px">
                        <span>Sexe*</span>
                    </div-->
                    <div class="form-group horizontal-radio clearfix">

                        <md-radio-group [formControl]="sendMessageForm.controls['title']"
                    style="border-color:white">
                            <md-radio-button value="m" class="rdmark">M</md-radio-button>
                            <md-radio-button value="ms" class="rdmark">Mme</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <div style="margin-bottom:10px">
                            <span>Nom de famille*</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nom"
                            [formControl]="sendMessageForm.controls['lastName']"
                            maxlength="25">
                    </div>
                </div>
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <div style="margin-bottom:10px">
                            <span>Prénom*</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Prénom"
                            [formControl]="sendMessageForm.controls['firstName']"
                            maxlength="25">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin-bottom:10px">
                            <span>Mél*</span>
                          <i class="fa fa-question-circle" aria-hidden="true" mdTooltip="Exemple : Abc@example.com" mdTooltipPosition="after"></i>
                        </div>
                        <input type="email" class="form-control" placeholder="Email"
                            [formControl]="sendMessageForm.controls['mel']">
                    </div>
                    <div class="col-sm-6">
                        <div style="margin-bottom:10px">
                            <span>Téléphone*</span>
                        </div>
                        <input type="text" class="form-control"
                            placeholder="Téléphone auquel je suis joignable"
                            [formControl]="sendMessageForm.controls['tel']"
                            maxlength="10">
                    </div>
                </div>
            </div>

            <h3>Elève</h3>
            <div class="row">
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <div style="margin-bottom:10px">
                            <span>Nom de famille*</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nom"
                            [formControl]="sendMessageForm.controls['childLastName']"
                            maxlength="25">
                    </div>
                </div>
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <div style="margin-bottom:10px">
                            <span>Prénom*</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Prénom"
                            [formControl]="sendMessageForm.controls['childFirstName']"
                            maxlength="25">
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-sm-12">
                    <div class="row"> -->
                        <div class="col-sm-6  col-xs-6">
                            <div class="select-custom">
                                <div style="margin-bottom:10px">
                                    <span>Classe actuelle*</span>
                                </div>
                                <select name="" class="form-control"
                                    [formControl]="sendMessageForm.controls['classe']">
                                    <option value="" disabled selected hidden>Classe</option>
                                    <option value="">&nbsp;Indifférent</option>
                                  <option value="ps" style="color:red">
                                    &nbsp;Classes maternelles
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().infant; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().infant[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="cp" style="color:red">
                                    &nbsp;Classes élémentaires
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().primary; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().primary[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().college; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().college[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="seconde_techno" style="color:red">
                                    &nbsp;Classes de seconde
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().seconde; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().seconde[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="premiere_es" style="color:red">
                                    &nbsp;Classes de première
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().premiere; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().premiere[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="terminale_s" style="color:red">
                                    &nbsp;Classes de terminale
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().terminal; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().terminal[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="Cursus international" style="color:red">
                                    &nbsp;Cursus international
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().international; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().international[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="seconde_sthr" style="color:red">
                                    &nbsp;STRH - Sciences et Technologies de l'hôtellerie et de la restauration
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().strh; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().strh[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="premiere_sti2s" style="color:red">
                                    &nbsp;ST2S - Sciences et Technologies de la santé et du social
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().st2s; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().st2s[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="premiere_std2a" style="color:red">
                                    &nbsp;STD2A - Sciences et Technologies du Design et des Arts Appliqués
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().std2a; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().std2a[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="premiere_sti2d" style="color:red">
                                    &nbsp;STI2D - Sciences et Technologies de l'Industrie et du Développement Durable
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().sti2d; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().sti2d[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="premiere_stmg" style="color:red">
                                    &nbsp;STMG - Sciences et Technologies du Management et de la Gestion
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().stmg; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().stmg[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="premiere_stl" style="color:red">
                                    &nbsp;STL - Sciences et Technologies de Laboratoire
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().stl; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().stl[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="premiere_stav" style="color:red">
                                    &nbsp;STAV - Sciences et Technologies de l'Agronomie et du Vivant (lycées agricoles)
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().stav; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().stav[i]">
                                    &nbsp;{{name}}
                                  </option>
                                  <option value="2ndeTMD" style="color:red">
                                    &nbsp;TMD - Techniques de la Musique et de la Danse
                                  </option>
                                  <option *ngFor="let name of helperService.getClassEcoleList().tmd; let i=index"
                                          [value]="helperService.getclassEcoleListToSendToApi().tmd[i]">
                                    &nbsp;{{name}}
                                  </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                                <div class="horizontal-radio">
                                    <div style="margin-bottom:18px">
                                        <span>Sexe</span>
                                    </div>
                                    <md-radio-group [formControl]="sendMessageForm.controls['childTitle']"
                                        style="border-color:white">
                                        <md-radio-button value="garçon" >Garçon</md-radio-button>
                                        <md-radio-button value="fille">Fille</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                </div> -->
            </div>


            <!--<div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Nom Etablissement Actuel"
                            [formControl]="sendMessageForm.controls['etablissement']"
                            maxlength="50">
                    </div>
                </div>
            </div>-->
            <!--div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <md-checkbox [formControl]="sendMessageForm.controls['copy']" >
                            Je souhaite recevoir un copie de votre message
                        </md-checkbox>
                    </div>
                </div>
            </div-->

            <div style="float : right">
                <button type="button" data-dismiss="modal" class="btn btn-highlighted"
                    (click)="onCancel()">Annuler</button>
                <a (click)="toSecondTab()" data-toggle="tab" class="btn btn-secondary">
                    Suivant
                </a>
            </div>

         </form>
    </div>
  </md-tab>

  <!--md-tab label="Profil Scolaire" id="tab2"-->
  <md-tab label="Mon Message" id="tab2">
    <div role="tabpanel">

        <!--<div class="form-group horizontal-radio clearfix">
            <md-radio-group [formControl]="sendMessageForm.controls['status']"
                style="border-color:white">
                <md-radio-button value="Privé" class="rdmark">Privé</md-radio-button>
                <md-radio-button value="Public" class="rdmark">Public</md-radio-button>
            </md-radio-group>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Niveau Actuel"
                        [formControl]="sendMessageForm.controls['niveauActuel']"
                        maxlength="25">
                </div>
            </div>
        </div>-->
        <div>
          &nbsp;
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom:10px">
                        <span>Sujet*</span>
                    </div>
                    <input type="text" class="form-control"
                        placeholder="Sujet" style="width:inherit"
                        [formControl]="sendMessageForm.controls['subject']"
                        maxlength="50">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom:10px">
                        <span>Message*</span>
                    </div>
                    <textarea placeholder="Message (1000 caractères max)" style="height:80px; width:inherit"
                      class="form-control" [formControl]="sendMessageForm.controls['message']" max="1000">
                    </textarea>
                </div>
            </div>
        </div>

        <div class="form-group captchaMargin">
            <div class="row">
                <div class="col-sm-12">
                    <div class="g-recaptcha" data-sitekey="6LdkaCIUAAAAAOHbgd3nOACP2g0gQLMJVv93CBpp"></div>
                </div>
            </div>
        </div>
		<div class="form-group checkboxEcolSecTab">
			<div class="row">
				<div class="col-sm-12">
					<md-checkbox [formControl]="sendMessageForm.controls['copy']" >
						Je souhaite recevoir un copie de ce message
					</md-checkbox>
				</div>
			</div>
		</div>
            <p class="note">
              Le CIDE et l'établissement scolaire sélectionné sont les seuls destinataires des informations communiquées.
              Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent
              (art. 34 de la loi "informatique et libertés" - Numéro de déclaration CNIL 1271917).
               Formulez votre demande par écrit au CIDE, 84, boulevard Saint-Michel 75006 Paris.
            </p>
            <!--div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <md-checkbox [formControl]="sendMessageForm.controls['copy']" >
                    Je souhaite recevoir un copie de ce message
                  </md-checkbox>
                </div>
              </div>
            </div-->
            <div style="float : right">
                <button type="button" data-dismiss="modal"
                    class="btn btn-highlighted"
                    (click)="onCancel()">Annuler</button>
                <button class="btn btn-secondary
                    close-download"
                    (click)="onSubmit()">Valider</button>
            </div>
        </div>
    </md-tab>
</md-tab-group>