<div class="white-background">
  <div fxLayout>
    <div fxFlex>
      <h2 class="brochure-title">Recherche de séjour linguistique</h2>
    </div>
  </div>
  <div fxLayout>
    <div fxFlex fxLayoutAlign="center">
      <form class="searchform">
        <div class="form-wrap" fxFlex>
          <div fxFlex>
            <div fxFlex>
              <div fxFlex>
                <div class="form-group">
                  <label class="select-custom" for="class">
                    <md-select placeholder="Destination" class="form-control" id="class">
                      <md-option value="" disabled selected hidden>Destination</md-option>
                      <md-option value="Allemagne">Allemagne</md-option>
                      <md-option value="Australie">Australie</md-option>
                      <md-option value="Canada">Canada</md-option>
                      <md-option value="Chine">Chine</md-option>
                      <md-option value="Espagne">Espagne</md-option>
                      <md-option value="Etats-unis">Etats-unis</md-option>
                      <md-option value="France">France</md-option>
                      <md-option value="Inde">Inde</md-option>
                      <md-option value="Irlande">Irlande</md-option>
                      <md-option value="Italie">Italie</md-option>
                      <md-option value="Malte">Malte</md-option>
                      <md-option value="Pays-bas">Pays-bas</md-option>
                      <md-option value="Royaume Uni">Royaume Uni</md-option>
                      <md-option value="Sri lanka">Sri lanka</md-option>
                    </md-select>
                  </label>
                </div>
              </div>

              <div fxFlex>
                <div class="form-group">
                  <label class="select-custom" for="class">
                    <md-select placeholder="Période" class="form-control" id="class">
                      <md-option value="" disabled selected hidden>Période</md-option>
                      <md-option value="janvier">janvier</md-option>
                      <md-option value="février">février</md-option>
                      <md-option value="mars">mars</md-option>
                      <md-option value="avril">avril</md-option>
                      <md-option value="mai">mai</md-option>
                      <md-option value="juin">juin</md-option>
                      <md-option value="juillet">juillet</md-option>
                      <md-option value="août">août</md-option>
                      <md-option value="septembre">septembre</md-option>
                      <md-option value="octobre">octobre</md-option>
                      <md-option value="novembre">novembre</md-option>
                      <md-option value="décembre">décembre</md-option>
                    </md-select>
                  </label>
                </div>
              </div>

              <div fxFlex>
                <div class="form-group">
                  <label class="select-custom" for="class">
                    <md-select placeholder="Langue" class="form-control" id="class">
                      <md-option value="" disabled selected hidden>Langue</md-option>
                      <md-option value="Allemand">Allemand</md-option>
                      <md-option value="Anglais">Anglais</md-option>
                      <md-option value="Arabe">Arabe</md-option>
                      <md-option value="Chinois">Chinois</md-option>
                      <md-option value="Coréen">Coréen</md-option>
                      <md-option value="Danois">Danois</md-option>
                      <md-option value="Espagnol">Espagnol</md-option>
                      <md-option value="Grec Moderne">Grec Moderne</md-option>
                      <md-option value="Hébreu">Hébreu</md-option>
                      <md-option value="Italien">Italien</md-option>
                      <md-option value="Japonais">Japonais</md-option>
                      <md-option value="Néerlandais">Néerlandais</md-option>
                      <md-option value="Persan">Persan</md-option>
                      <md-option value="Polonais">Polonais</md-option>
                      <md-option value="Portugais">Portugais</md-option>
                      <md-option value="Russe">Russe</md-option>
                      <md-option value="Suédois">Suédois</md-option>
                      <md-option value="Vietnamien">Vietnamien</md-option>
                    </md-select>
                  </label>
                </div>
              </div>
              <div fxFlex>
                <div class="form-group">
                  <label class="select-custom" for="class">
                    <md-select placeholder="Age" class="form-control" id="class">
                      <md-option value="" disabled selected hidden>Âge</md-option>
                      <md-option value="8">8</md-option>
                      <md-option value="9">9</md-option>
                      <md-option value="10">10</md-option>
                      <md-option value="11">11</md-option>
                      <md-option value="12">12</md-option>
                      <md-option value="13">13</md-option>
                      <md-option value="14">14</md-option>
                      <md-option value="15">15</md-option>
                      <md-option value="16">16</md-option>
                      <md-option value="17">17</md-option>
                      <md-option value="18">18</md-option>
                      <md-option value="19">19</md-option>
                      <md-option value="20">20</md-option>
                      <md-option value="21">21</md-option>
                      <md-option value="22">22</md-option>
                      <md-option value="23">23</md-option>
                      <md-option value="24">24</md-option>
                      <md-option value="25">25</md-option>
                      <md-option value="25>">25></md-option>
                    </md-select>
                  </label>
                </div>
              </div>
              <div fxFlex>
                <div class="form-group">
                  <label class="select-custom" for="class">
                    <md-select placeholder="Organisme" class="form-control" id="class">
                      <md-option value="" disabled selected hidden>Organisme</md-option>
                    </md-select>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div fxLayout class="linguistic-content holder-refine-search">
    <div class="checkbox-one-line" fxFlex fxLayoutAlign="center">
      <div fxLayout="column">
        <div>
          <span class="label-holder">Hébergement</span>
        </div>
        <div>
          <md-checkbox>Appartement</md-checkbox>
          <md-checkbox>Collectif</md-checkbox>
          <md-checkbox>Famille</md-checkbox>
          <md-checkbox>Résidence</md-checkbox>
          <label class="select-custom" for="class">
            <md-select placeholder="Type de séjour" class="form-control" id="class">
              <md-option value="Indifférent">Indifférent</md-option>
              <md-option value="Au pair">Au pair</md-option>
              <md-option value="Bénévolat">Bénévolat</md-option>
              <md-option value="Cours et découverte">Cours et découverte</md-option>
              <md-option value="Cours et sports">Cours et sports</md-option>
              <md-option value="Cours et thème">Cours et thème</md-option>
              <md-option value="Cours particuliers chez le professeur">Cours particuliers chez le professeur</md-option>
              <md-option value="Cours particuliers chez le professeur, voyage accompagné">Cours particuliers chez le professeur, voyage accompagné</md-option>
              <md-option value="Découverte sans cours">Découverte sans cours accompagné</md-option>
              <md-option value="Ecoles de langues">Ecoles de langues</md-option>
              <md-option value="Formation professionnelle">Formation professionnelle</md-option>
              <md-option value="Circuits aventure et découverte">Circuits aventure et découverte</md-option>
              <md-option value="Prépa cpge">Prépa cpge</md-option>
              <md-option value="Préparations aux examens étrangers">Préparations aux examens étrangers</md-option>
              <md-option value="Séjours avec parents">Séjours avec parents</md-option>
              <md-option value="Séjours studieux">Séjours studieux</md-option>
              <md-option value="Stage en entreprise">Stage en entreprise</md-option>
              <md-option value="Summer camp">Summer camp</md-option>
            </md-select>
          </label>
        </div>
      </div>
    </div>
  </div>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%">
    <div>
      <app-linguistic-trips></app-linguistic-trips>
    </div>
    <div>
      <app-linguistic-trips></app-linguistic-trips>
    </div>
    <div>
      <app-linguistic-trips></app-linguistic-trips>
    </div>
  </div>
</div>