<main class="main" role="main">

        <div class="white-background">

            <div class="container  linguistic">

                <div class="row">
                    <section class="col-md-12">
                        <h2 class="brochure-title">Recherche de séjour linguistique</h2>
                    </section>
                    <section class="col-md-12">
                        <form class="form-inline searchform">
                            <div class="form-wrap row">
                                
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>Destination</option>
                                                        <option value="Allemagne">Allemagne</option>
                                                        <option value="Australie">Australie</option>
                                                        <option value="Canada">Canada</option>
                                                        <option value="Chine">Chine</option>
                                                        <option value="Espagne">Espagne</option>
                                                        <option value="Etats-unis">Etats-unis</option>
                                                        <option value="France">France</option>
                                                        <option value="Inde">Inde</option>
                                                        <option value="Irlande">Irlande</option>
                                                        <option value="Italie">Italie</option>
                                                        <option value="Malte">Malte</option>
                                                        <option value="Pays-bas">Pays-bas</option>
                                                        <option value="Royaume Uni">Royaume Uni</option>
                                                        <option value="Sri lanka">Sri lanka</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div><!-- .col-* -->

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>Période</option>
                                                        <option value="janvier">janvier</option>
                                                        <option value="février">février</option>
                                                        <option value="mars">mars</option>
                                                        <option value="avril">avril</option>
                                                        <option value="mai">mai</option>
                                                        <option value="juin">juin</option>
                                                        <option value="juillet">juillet</option>
                                                        <option value="août">août</option>
                                                        <option value="septembre">septembre</option>
                                                        <option value="octobre">octobre</option>
                                                        <option value="novembre">novembre</option>
                                                        <option value="décembre">décembre</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div><!-- .col-* -->

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>Langue</option>
                                                        <option value="Allemand">Allemand</option>
                                                        <option value="Anglais">Anglais</option>
                                                        <option value="Arabe">Arabe</option>
                                                        <option value="Chinois">Chinois</option>
                                                        <option value="Coréen">Coréen</option>
                                                        <option value="Danois">Danois</option>
                                                        <option value="Espagnol">Espagnol</option>
                                                        <option value="Grec Moderne">Grec Moderne</option>
                                                        <option value="Hébreu">Hébreu</option>
                                                        <option value="Italien">Italien</option>
                                                        <option value="Japonais">Japonais</option>
                                                        <option value="Néerlandais">Néerlandais</option>
                                                        <option value="Persan">Persan</option>
                                                        <option value="Polonais">Polonais</option>
                                                        <option value="Portugais">Portugais</option>
                                                        <option value="Russe">Russe</option>
                                                        <option value="Suédois">Suédois</option>
                                                        <option value="Vietnamien">Vietnamien</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div><!-- .col-* -->
                                    </div><!-- .row -->
                                </div><!-- .col-* -->

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>Âge</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="25>">25></option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div><!-- .col-* -->
                                            
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>Organisme</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!-- .row -->
                                </div><!-- .col-* -->

                                <!-- <button class="btn btn-search"><i class="fa fa-search"></i></button> -->

                            </div><!-- .form-wrap -->
                        </form>
                    </section>
                </div><!-- .row -->

                <div class="row linguistic-content">

                    <div class="col-md-12  holder-refine-search">
                        <div class="checkbox-one-line">
                            <span class="label-holder">Hébergement</span><br />
                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-1" /><label for="filter-1">Appartement</label>
                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-2" /><label for="filter-2">Collectif</label>
                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-3" /><label for="filter-3">Famille</label>
                            <input type="checkbox" name="" class="checkbox filled-in" id="filter-4" /><label for="filter-4">Résidence</label>
                        </div><!-- -->

                        
                        <label class="select-custom" for="class"> Type de sejour<br />
                            <select name="class" class="form-control" id="class">
                                <!-- <option value="" disabled selected hidden>Organisme</option> -->
                                <option value="Indifférent">Indifférent</option>
                                <option value="Au pair">Au pair</option>
                                <option value="Bénévolat">Bénévolat</option>
                                <option value="Cours et découverte">Cours et découverte</option>
                                <option value="Cours et sports">Cours et sports</option>
                                <option value="Cours et thème">Cours et thème</option>
                                <option value="Cours particuliers chez le professeur">Cours particuliers chez le professeur</option>
                                <option value="Cours particuliers chez le professeur, voyage accompagné">Cours particuliers chez le professeur, voyage accompagné</option>
                                <option value="Découverte sans cours">Découverte sans cours accompagné</option>
                                <option value="Ecoles de langues">Ecoles de langues</option>
                                <option value="Formation professionnelle">Formation professionnelle</option>
                                <option value="Circuits aventure et découverte">Circuits aventure et découverte</option>
                                <option value="Prépa cpge">Prépa cpge</option>
                                <option value="Préparations aux examens étrangers">Préparations aux examens étrangers</option>
                                <option value="Séjours avec parents">Séjours avec parents</option>
                                <option value="Séjours studieux">Séjours studieux</option>
                                <option value="Stage en entreprise">Stage en entreprise</option>
                                <option value="Summer camp">Summer camp</option>
                            </select>
                        </label>

                    </div><!-- .col-* -->
                            
                    <div class="col-md-4">
                            
                        <div class="card  school-item  ">
<!--                             <div class="checkbox-custom">
                                <input type="checkbox" class="checkbox filled-in" id="school-3" />
                                <label for="school-3">&nbsp;</label>
                            </div>
 -->                            
                            <div class="school-carousel">
                                <div><img src="assets/img/cesacom_8.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_7.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_6.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_5.jpg" alt="School 1" /></div>
                            </div>
                            
                            <div class="content-detail">

                                <!-- <h3>Lycee Saint-Charles</h3>
                                <p>Lycee d'enseignement <br /> general Prive Catholique <br /> Sous contrat d'association</p> -->

                                <h3>Nom du séjour</h3>

                                <p>
                                    <label class="select-custom" for="class">Langue
                                        <select name="class" class="form-control" id="class">
                                            <option value="" disabled selected hidden>Langue</option>
                                            <option value="Allemand">Allemand</option>
                                            <option value="Anglais">Anglais</option>
                                            <option value="Arabe">Arabe</option>
                                            <option value="Chinois">Chinois</option>
                                            <option value="Coréen">Coréen</option>
                                            <option value="Danois">Danois</option>
                                            <option value="Espagnol">Espagnol</option>
                                            <option value="Grec Moderne">Grec Moderne</option>
                                            <option value="Hébreu">Hébreu</option>
                                            <option value="Italien">Italien</option>
                                            <option value="Japonais">Japonais</option>
                                            <option value="Néerlandais">Néerlandais</option>
                                            <option value="Persan">Persan</option>
                                            <option value="Polonais">Polonais</option>
                                            <option value="Portugais">Portugais</option>
                                            <option value="Russe">Russe</option>
                                            <option value="Suédois">Suédois</option>
                                            <option value="Vietnamien">Vietnamien</option>
                                        </select>
                                    </label>
                                </p>

                                <p><label>Age</label> de 8 a 25</p>
                                <p><label>Date de debut:</label> 12/06/2017<br />
                                    <label>Date de fin:</label> 18/06/2017
                                </p>

                                <p><label>Prix:</label> 200</p>

                                <p><label>Devise:</label> EUR</p>
                                
                                <p>
                                    <span class="label-holder">Hébergement</span><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-1" /><label for="school-1">Appartement</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-2" /><label for="school-2">Collectif</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-3" /><label for="school-3">Famille</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-4" /><label for="school-4">Résidence</label><br />
                                </p>

                                <p>
                                    <label class="select-custom" for="class"> Type de sejour<br />
                                        <select name="class" class="form-control" id="class">
                                            <!-- <option value="" disabled selected hidden>Organisme</option> -->
                                            <option value="Indifférent">Indifférent</option>
                                            <option value="Au pair">Au pair</option>
                                            <option value="Bénévolat">Bénévolat</option>
                                            <option value="Cours et découverte">Cours et découverte</option>
                                            <option value="Cours et sports">Cours et sports</option>
                                            <option value="Cours et thème">Cours et thème</option>
                                            <option value="Cours particuliers chez le professeur">Cours particuliers chez le professeur</option>
                                            <option value="Cours particuliers chez le professeur, voyage accompagné">Cours particuliers chez le professeur, voyage accompagné</option>
                                            <option value="Découverte sans cours">Découverte sans cours accompagné</option>
                                            <option value="Ecoles de langues">Ecoles de langues</option>
                                            <option value="Formation professionnelle">Formation professionnelle</option>
                                            <option value="Circuits aventure et découverte">Circuits aventure et découverte</option>
                                            <option value="Prépa cpge">Prépa cpge</option>
                                            <option value="Préparations aux examens étrangers">Préparations aux examens étrangers</option>
                                            <option value="Séjours avec parents">Séjours avec parents</option>
                                            <option value="Séjours studieux">Séjours studieux</option>
                                            <option value="Stage en entreprise">Stage en entreprise</option>
                                            <option value="Summer camp">Summer camp</option>
                                        </select>
                                    </label>
                                </p>


                                
                            </div><!-- .card-content -->

                        </div><!-- .card -->

                    </div><!-- .col-* -->

                    <div class="col-md-4">
                            
                        <div class="card  school-item  ">
<!--                             <div class="checkbox-custom">
                                <input type="checkbox" class="checkbox filled-in" id="school-3" />
                                <label for="school-3">&nbsp;</label>
                            </div>
 -->                            
                            <div class="school-carousel">
                                <div><img src="assets/img/cesacom_8.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_7.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_6.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_5.jpg" alt="School 1" /></div>
                            </div>
                            
                            <div class="content-detail">

                                <!-- <h3>Lycee Saint-Charles</h3>
                                <p>Lycee d'enseignement <br /> general Prive Catholique <br /> Sous contrat d'association</p> -->

                                <h3>Nom du séjour</h3>

                                <p>
                                    <label class="select-custom" for="class">Langue
                                        <select name="class" class="form-control" id="class">
                                            <option value="" disabled selected hidden>Langue</option>
                                            <option value="Allemand">Allemand</option>
                                            <option value="Anglais">Anglais</option>
                                            <option value="Arabe">Arabe</option>
                                            <option value="Chinois">Chinois</option>
                                            <option value="Coréen">Coréen</option>
                                            <option value="Danois">Danois</option>
                                            <option value="Espagnol">Espagnol</option>
                                            <option value="Grec Moderne">Grec Moderne</option>
                                            <option value="Hébreu">Hébreu</option>
                                            <option value="Italien">Italien</option>
                                            <option value="Japonais">Japonais</option>
                                            <option value="Néerlandais">Néerlandais</option>
                                            <option value="Persan">Persan</option>
                                            <option value="Polonais">Polonais</option>
                                            <option value="Portugais">Portugais</option>
                                            <option value="Russe">Russe</option>
                                            <option value="Suédois">Suédois</option>
                                            <option value="Vietnamien">Vietnamien</option>
                                        </select>
                                    </label>
                                </p>

                                <p><label>Age</label> de 8 a 25</p>
                                <p><label>Date de debut:</label> 12/06/2017<br />
                                    <label>Date de fin:</label> 18/06/2017
                                </p>

                                <p><label>Prix:</label> 200</p>

                                <p><label>Devise:</label> EUR</p>
                                
                                <p>
                                    <span class="label-holder">Hébergement</span><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-1" /><label for="school-1">Appartement</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-2" /><label for="school-2">Collectif</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-3" /><label for="school-3">Famille</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-4" /><label for="school-4">Résidence</label><br />
                                </p>

                                <p>
                                    <label class="select-custom" for="class"> Type de sejour<br />
                                        <select name="class" class="form-control" id="class">
                                            <!-- <option value="" disabled selected hidden>Organisme</option> -->
                                            <option value="Indifférent">Indifférent</option>
                                            <option value="Au pair">Au pair</option>
                                            <option value="Bénévolat">Bénévolat</option>
                                            <option value="Cours et découverte">Cours et découverte</option>
                                            <option value="Cours et sports">Cours et sports</option>
                                            <option value="Cours et thème">Cours et thème</option>
                                            <option value="Cours particuliers chez le professeur">Cours particuliers chez le professeur</option>
                                            <option value="Cours particuliers chez le professeur, voyage accompagné">Cours particuliers chez le professeur, voyage accompagné</option>
                                            <option value="Découverte sans cours">Découverte sans cours accompagné</option>
                                            <option value="Ecoles de langues">Ecoles de langues</option>
                                            <option value="Formation professionnelle">Formation professionnelle</option>
                                            <option value="Circuits aventure et découverte">Circuits aventure et découverte</option>
                                            <option value="Prépa cpge">Prépa cpge</option>
                                            <option value="Préparations aux examens étrangers">Préparations aux examens étrangers</option>
                                            <option value="Séjours avec parents">Séjours avec parents</option>
                                            <option value="Séjours studieux">Séjours studieux</option>
                                            <option value="Stage en entreprise">Stage en entreprise</option>
                                            <option value="Summer camp">Summer camp</option>
                                        </select>
                                    </label>
                                </p>
                            </div><!-- .card-content -->

                        </div><!-- .card -->

                    </div><!-- .col-* -->

                    <div class="col-md-4">
                            
                        <div class="card  school-item  ">
<!--                             <div class="checkbox-custom">
                                <input type="checkbox" class="checkbox filled-in" id="school-3" />
                                <label for="school-3">&nbsp;</label>
                            </div>
 -->                            
                            <div class="school-carousel">
                                <div><img src="assets/img/cesacom_8.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_7.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_6.jpg" alt="School 1" /></div>
                                <div><img src="assets/img/cesacom_5.jpg" alt="School 1" /></div>
                            </div>
                            
                            <div class="content-detail">

                                <!-- <h3>Lycee Saint-Charles</h3>
                                <p>Lycee d'enseignement <br /> general Prive Catholique <br /> Sous contrat d'association</p> -->

                                <h3>Nom du séjour</h3>

                                <p>
                                    <label class="select-custom" for="class">Langue
                                        <select name="class" class="form-control" id="class">
                                            <option value="" disabled selected hidden>Langue</option>
                                            <option value="Allemand">Allemand</option>
                                            <option value="Anglais">Anglais</option>
                                            <option value="Arabe">Arabe</option>
                                            <option value="Chinois">Chinois</option>
                                            <option value="Coréen">Coréen</option>
                                            <option value="Danois">Danois</option>
                                            <option value="Espagnol">Espagnol</option>
                                            <option value="Grec Moderne">Grec Moderne</option>
                                            <option value="Hébreu">Hébreu</option>
                                            <option value="Italien">Italien</option>
                                            <option value="Japonais">Japonais</option>
                                            <option value="Néerlandais">Néerlandais</option>
                                            <option value="Persan">Persan</option>
                                            <option value="Polonais">Polonais</option>
                                            <option value="Portugais">Portugais</option>
                                            <option value="Russe">Russe</option>
                                            <option value="Suédois">Suédois</option>
                                            <option value="Vietnamien">Vietnamien</option>
                                        </select>
                                    </label>
                                </p>

                                <p><label>Age</label> de 8 a 25</p>
                                <p><label>Date de debut:</label> 12/06/2017<br />
                                    <label>Date de fin:</label> 18/06/2017
                                </p>

                                <p><label>Prix:</label> 200</p>

                                <p><label>Devise:</label> EUR</p>
                                
                                <p>
                                    <span class="label-holder">Hébergement</span><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-1" /><label for="school-1">Appartement</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-2" /><label for="school-2">Collectif</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-3" /><label for="school-3">Famille</label><br />
                                    <input type="checkbox" name="" class="checkbox filled-in" id="school-4" /><label for="school-4">Résidence</label><br />
                                </p>

                                <p>
                                    <label class="select-custom" for="class"> Type de sejour<br />
                                        <select name="class" class="form-control" id="class">
                                            <!-- <option value="" disabled selected hidden>Organisme</option> -->
                                            <option value="Indifférent">Indifférent</option>
                                            <option value="Au pair">Au pair</option>
                                            <option value="Bénévolat">Bénévolat</option>
                                            <option value="Cours et découverte">Cours et découverte</option>
                                            <option value="Cours et sports">Cours et sports</option>
                                            <option value="Cours et thème">Cours et thème</option>
                                            <option value="Cours particuliers chez le professeur">Cours particuliers chez le professeur</option>
                                            <option value="Cours particuliers chez le professeur, voyage accompagné">Cours particuliers chez le professeur, voyage accompagné</option>
                                            <option value="Découverte sans cours">Découverte sans cours accompagné</option>
                                            <option value="Ecoles de langues">Ecoles de langues</option>
                                            <option value="Formation professionnelle">Formation professionnelle</option>
                                            <option value="Circuits aventure et découverte">Circuits aventure et découverte</option>
                                            <option value="Prépa cpge">Prépa cpge</option>
                                            <option value="Préparations aux examens étrangers">Préparations aux examens étrangers</option>
                                            <option value="Séjours avec parents">Séjours avec parents</option>
                                            <option value="Séjours studieux">Séjours studieux</option>
                                            <option value="Stage en entreprise">Stage en entreprise</option>
                                            <option value="Summer camp">Summer camp</option>
                                        </select>
                                    </label>
                                </p>
                            </div><!-- .card-content -->

                        </div><!-- .card -->

                    </div><!-- .col-* -->

                </div><!-- .row -->
            
            </div><!-- .container-fluid -->

        </div><!-- white -->

    </main>