 <div class="panel-body">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Articles Relatif à cet Etablissement  (lien ouvre l'article dans un onglet)</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Pertinence</th>
                            <th>Titre de L'article</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="pie" style="display: none;">1,0</span><svg class="peity" height="16" width="16"><circle cx="8" cy="8" r="8" fill="#1ab394"></circle></svg></td>
                            <td>Le Responsable Communication</td>
                            <td> <i class="fa fa-cogs"></i> Métier </td>
                        </tr>
                        <tr>
                            <td><span class="pie" style="display: none;">0.8,1.541</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.707512327600394 12.359963116253248 Z" fill="#1ab394"></path><path d="M 8 8 L 14.707512327600394 12.359963116253248 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                            <td>Les Diplomes de La Communication</td>
                            <td> <i class="fa fa-graduation-cap"></i> Formation </td>
                        </tr>
                        <tr>
                            <td><span class="pie" style="display: none;">0.5,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 15.140228937237136 11.60792609733645 Z" fill="#1ab394"></path><path d="M 8 8 L 15.140228937237136 11.60792609733645 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                            <td>Les Ecoles pour la Pub</td>
                            <td> <i class="fa fa-bank"></i> Ecole </td>
                        </tr>
                        <tr>
                            <td><span class="pie" style="display: none;">1,0</span><svg class="peity" height="16" width="16"><circle cx="8" cy="8" r="8" fill="#1ab394"></circle></svg></td>
                            <td>Le Responsable Communication</td>
                            <td> <i class="fa fa-cogs"></i> Métier </td>
                        </tr>
                        <tr>
                            <td><span class="pie" style="display: none;">0.8,1.541</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.707512327600394 12.359963116253248 Z" fill="#1ab394"></path><path d="M 8 8 L 14.707512327600394 12.359963116253248 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                            <td>Les Diplomes de La Communication</td>
                            <td> <i class="fa fa-graduation-cap"></i> Formation </td>
                        </tr>
                        <tr>
                            <td><span class="pie" style="display: none;">0.5,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 15.140228937237136 11.60792609733645 Z" fill="#1ab394"></path><path d="M 8 8 L 15.140228937237136 11.60792609733645 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                            <td>Les Ecoles pour la Pub</td>
                            <td> <i class="fa fa-bank"></i> Ecole </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>