<div class="tab-pane" id="enfant" *ngIf="canDisplay">
  <div class="container-fluid">      
    <div class="row">
      <section class="col-md-12">
        <h3>Enfant</h3>
      </section>
      <form [formGroup]="childrenForm">
        <section class="col-md-4">
          <div class="row">
            <div class="col-sm-6  col-xs-6">
              <div class="form-group">
                Nom de famille*
                <input type="text" class="form-control" placeholder="Nom"
                  [formControl]="childrenForm.controls['nom']" maxlength="25">
                <small *ngIf="childrenForm.controls['nom'].hasError('required') && 
                  childrenForm.controls['nom'].touched" 
                  class="mat-text-warn"> 
                  Nom Obligatoire
                </small>
              </div>
            </div>
            <div class="col-sm-6  col-xs-6">
              <div class="form-group">
                Prénom*
                <input type="text" class="form-control" placeholder="Prénom"
                  [formControl]="childrenForm.controls['prenom']" maxlength="25">
                <small *ngIf="childrenForm.controls['nom'].hasError('required') && 
                  childrenForm.controls['nom'].touched" 
                  class="mat-text-warn"> 
                  Prénom Obligatoire
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3  col-xs-6">
              <div class="form-group">
                Age*
                <input id="txtAge" type="number" class="form-control" max="50" min="1" placeholder="Age"
                  [formControl]="childrenForm.controls['age']"
                  pattern="[0-9]+" maxlength="2">
                <small *ngIf="childrenForm.controls['age'].hasError('required') && 
                  childrenForm.controls['age'].touched" 
                  class="mat-text-warn"> 
                  Age Obligatoire
                </small>
                <small *ngIf="childrenForm.controls['nom'].hasError('pattern') && 
                  childrenForm.controls['nom'].touched" 
                  class="mat-text-warn"> 
                  Seulement des chiffres
                </small>
              </div>
            </div>
            <div class="col-sm-3  hidden-xs">&nbsp;</div>
            <div class="col-sm-6  col-xs-6">
              <!--<div class="form-group">
                <div class="horizontal-radio">
                  <label class="custom-radio"><input type="radio" name="gender"> <span>Garçon</span></label>
                  <label class="custom-radio"><input type="radio" name="gender"> <span>Fille</span></label>
                </div>
              </div>-->
              <md-radio-group [formControl]="childrenForm.controls['gender']"
                style="border-color:white">
                <md-radio-button value="garçon">Garçon</md-radio-button>
                <md-radio-button value="fille">Fille</md-radio-button>
              </md-radio-group>
              <small *ngIf="childrenForm.controls['gender'].hasError('required') && 
                childrenForm.controls['gender'].touched" 
                class="mat-text-warn"> 
                Gender Obligatoire
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                Mél*
                <input type="email" class="form-control" placeholder="Mél"
                  [formControl]="childrenForm.controls['email']">
                <small *ngIf="childrenForm.controls['nom'].hasError('required') && 
                  childrenForm.controls['email'].touched" 
                  class="mat-text-warn"> 
                  Email Obligatoire
                </small>
                <small *ngIf="childrenForm.controls['email'].errors?.email && 
                  childrenForm.controls['email'].touched" 
                  class="mat-text-warn"> 
                  Email Invalide
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                Numéro de portable*
                <input type="text" class="form-control" placeholder="Portable"
                  [formControl]="childrenForm.controls['portable']"
                  pattern="[0-9]+" maxlength="10">
                <small *ngIf="childrenForm.controls['portable'].hasError('required') && 
                  childrenForm.controls['portable'].touched" 
                  class="mat-text-warn"> 
                  Numéro de Portable Obligatoire
                </small>
                <small *ngIf="childrenForm.controls['portable'].hasError('maxLength') && 
                  childrenForm.controls['portable'].touched" 
                  class="mat-text-warn"> 
                  Numéro de Portable Invalide (max 10)
                </small>
                <small *ngIf="childrenForm.controls['portable'].hasError('pattern') && 
                  childrenForm.controls['portable'].touched" 
                  class="mat-text-warn"> 
                  Numéro de Portable Invalide (Doit être des chiffres)
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                Adresse*
                <textarea class="form-control" placeholder="Adresse"
                  [formControl]="childrenForm.controls['adresse']"></textarea>
                <small *ngIf="childrenForm.controls['adresse'].hasError('required') && 
                  childrenForm.controls['adresse'].touched" 
                  class="mat-text-warn"> 
                  Adresse Obligatoire
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                Code postal*
                <input type="text" class="form-control" placeholder="Code postal"
                  [formControl]="childrenForm.controls['codepostal']" maxlength="5"
                  minlength="5">
                <small *ngIf="childrenForm.controls['codepostal'].hasError('required') && 
                  childrenForm.controls['codepostal'].touched" 
                  class="mat-text-warn"> 
                  Code Postal Obligatoire
                </small>
                <small *ngIf="childrenForm.controls['codepostal'].hasError('pattern') && 
                  childrenForm.controls['codepostal'].touched" 
                  class="mat-text-warn"> 
                  Code Postal Invalide (Doit être des chiffres)
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                Ville*
                <input type="text" class="form-control" placeholder="Ville"
                  [formControl]="childrenForm.controls['ville']" maxlength="30">
                <small *ngIf="childrenForm.controls['ville'].hasError('required') && 
                  childrenForm.controls['ville'].touched" 
                  class="mat-text-warn"> 
                  Ville Obligatoire
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="datepicker-holder">
                  Date de naissance*
                  <input type="date" id="birthdate" class="form-control" [mdDatepicker]="myDatepicker" [max]="maxDate"
                  placeholder="Date de naissance"
                  [formControl]="childrenForm.controls['datenaissance']">
                  <md-datepicker #myDatepicker></md-datepicker>
                  <small *ngIf="childrenForm.controls['datenaissance'].hasError('required') && 
                    childrenForm.controls['datenaissance'].touched" 
                    class="mat-text-warn"> 
                    Date de Naissance Obligatoire
                  </small>
                  <small *ngIf="childrenForm.controls['datenaissance'].hasError('date') && 
                    childrenForm.controls['datenaissance'].touched" 
                    class="mat-text-warn"> 
                    Date de Naissance invalide
                  </small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                Lieu de naissance*
                <input type="text" class="form-control" placeholder="Lieu"
                  [formControl]="childrenForm.controls['lieu']" maxlength="50">
                <small *ngIf="childrenForm.controls['lieu'].hasError('required') && 
                  childrenForm.controls['lieu'].touched" 
                  class="mat-text-warn"> 
                  Lieu Obligatoire
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn  btn-appointment terminer" type="submit"
              [disabled]="!childrenForm.valid"
              (click)="onSubmit()">
              Terminer</button>
          </div>
        </section><!-- .col-* -->
        <section class="col-md-8" *ngIf="canDisplay">
          <div class="wrap-enfant" formArrayName="freresoeur"
            *ngFor="let siblings of childrenForm.controls['freresoeur']['controls']; let i=index">
            <h4>Frère / Soeur {{ i + 1 }}</h4>
            <div class="form-group" [formGroupName]="i">
              <div class="row">
                <div class="col-for-radio">
                  <md-radio-group formControlName="gender"
                    style="border-color:white">
                    <md-radio-button value="Frère">Frère</md-radio-button>
                    <md-radio-button value="Soeur">Soeur</md-radio-button>
                  </md-radio-group>
                  <small *ngIf="childrenForm.controls['freresoeur']['controls'][i].controls.gender.hasError('required') && 
                    childrenForm.controls['freresoeur']['controls'][i].controls.gender.touched" 
                    class="mat-text-warn"> 
                    Gender Obligatoire
                  </small>
                </div>
                <div class="col-sm-2">
                  Age*
                  <input type="text" max="50" maxLength="2"
                    min="2" minLength="1" class="form-control gap-for-radio" 
                    placeholder="Age" formControlName="age" pattern="[0-9]+"/>
                  <small *ngIf="childrenForm.controls['freresoeur']['controls'][i].controls['age'].hasError('required') && 
                    childrenForm.controls['freresoeur']['controls'][i].controls['age'].touched" 
                    class="mat-text-warn"> 
                    Age Obligatoire
                  </small>
                  <small *ngIf="childrenForm.controls['freresoeur']['controls'][i].controls['age'].hasError('pattern') && 
                    childrenForm.controls['freresoeur']['controls'][i].controls['age'].touched" 
                    class="mat-text-warn"> 
                    Seulement des chiffres
                  </small>
                </div>
                <div class="col-sm-3">
                  Niveau d'étude*
                  <input type="text" 
                    class="form-control gap-for-radio" 
                    placeholder="Niveau d'étude"
                    formControlName="niveau">
                  <small *ngIf="childrenForm.controls['freresoeur']['controls'][i].controls['niveau'].hasError('required') && 
                    childrenForm.controls['freresoeur']['controls'][i].controls['niveau'].touched" 
                    class="mat-text-warn"> 
                    Niveau d'étude Obligatoire
                  </small>
                </div>
                <div class="col-sm-2">
                  <button class="btn  btn-danger" (click)="onRemoveChild(i)">Retirer un frère/soeur</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group clearfix">
            <button class="btn  btn-appointment" (click)="onAddChild()">Ajouter un frère/soeur</button>
          </div>
        </section>
      </form>
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</div><!-- .tab-pane -->