<div class="tab-pane" id="enfant">
  <div class="container-fluid">      
    <div class="row">
      <section class="col-md-12">
        <h3>Enfant</h3>
      </section>
      <section class="col-md-4">
        <div class="row">
          <div class="col-sm-6  col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
          </div>
          <div class="col-sm-6  col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3  col-xs-6">
            <div class="form-group">
              <input type="number" class="form-control" max="100" min="1" placeholder="Age">
            </div>
          </div>
          <div class="col-sm-3  hidden-xs">&nbsp;</div>
          <div class="col-sm-6  col-xs-6">
            <div class="form-group">
              <div class="horizontal-radio">
                <label class="custom-radio"><input type="radio" name="gender"> <span>Garçon</span></label>
                <label class="custom-radio"><input type="radio" name="gender"> <span>Fille</span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Mel">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Portable">
            </div>
          </div>
        </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <textarea class="form-control" placeholder="Adresse"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Code postal">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Ville">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="datepicker-holder">
                  <input type="text" class="form-control datepicker" placeholder="Date de naissance">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Lieu">
              </div>
            </div>
          </div>
          </section><!-- .col-* -->
          <section class="col-md-6">
            <div class="wrap-enfant">
              <h4>Frère / Sœur</h4>
              <div class="form-group">
                <div class="row">
                  <div class="col-for-radio">
                    <div class="gap-for-radio horizontal-radio clearfix">
                      <label class="custom-radio"><input type="radio" name="gender"> <span>Frère</span></label>
                      <label class="custom-radio"><input type="radio" name="gender"> <span>Sœur</span></label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <input type="number" max="120" min="1" class="form-control gap-for-radio" placeholder="Age" />
                    <!-- <div class="select-custom">
                        <select name="" class="form-control">
                            <option value="">Âge</option>
                        </select>
                    </div> -->
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control gap-for-radio" placeholder="Niveau d'étude">
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group clearfix">
                      <button class="btn  btn-inverse gap-for-radio"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter</button>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- wrap-enfant -->
          </section><!-- .col-* -->
          <section class="col-md-4">
            <div class="form-group">
              <button class="btn  btn-appointment">Terminer</button>
            </div>
          </section>
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .tab-pane -->