<div class="filter-form-holder ecole">

        <form class="form-inline searchform  school-page">

            <h2 class="featured-title">ÉCOLE <span class="sub-title">Maternelle / Primaire</span></h2>
            

            <div class="container">

                <div class="row">

                    <div class="col-md-11">
                        
                        <div class="form-wrap row">

                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-4  col-xs-6">
                                        <div class="form-group">
                                            <label class="select-custom" for="class">
                                                <select name="class" class="form-control" id="class">
                                                    <option value="" disabled selected hidden>Classe</option>
                                                    <option value="" selected>Classe</option>
                                                    <option value="">&nbsp;Indifférent</option>
                                                    <option value="" disabled style="color:red">
                                                        &nbsp;Classes maternelles
                                                    </option>
                                                    <option value="ps">&nbsp;&nbsp; (PS)</option>
                                                    <option value="ms">&nbsp;&nbsp;Moyenne section (MS)</option>
                                                    <option value="gs">&nbsp;&nbsp;Grande Section (GS)</option>
                                                    <option value="" disabled style="color:red">
                                                        &nbsp;Classes élémentaires
                                                    </option>
                                                    <option value="cp">&nbsp;&nbsp;Cours préparatoire (CP)</option>
                                                    <option value="ce1">&nbsp;&nbsp;Cours élémentaire 1er année(CE1)</option>
                                                    <option value="ce2">&nbsp;&nbsp;Cours élémentaire 2è année (CE2)</option>
                                                    <option value="cm1">&nbsp;&nbsp;Cours Moyen 1er année(CM1)</option>
                                                    <option value="cm2">&nbsp;&nbsp;Cours Moyen 2è année(CM2)</option>
                                                    <option value="6e">&nbsp;6ème</option>
                                                    <option value="cinquieme">&nbsp;5ème</option>
                                                    <option value="quatrieme">&nbsp;4ème</option>
                                                    <option value="troisieme">&nbsp;3ème</option>
                                                    <option value="seconde_techno">&nbsp;2nde générale et techno.</option>
                                                    <option value="seconde_probation">&nbsp;2nde de probation (ou méthodo.)</option>
                                                    <option value="premiere_es">&nbsp;1ere ES - Economique et Sociale</option>
                                                    <option value="premiere_l">&nbsp;1ere L - Littéraire</option>
                                                    <option value="premiere_s">&nbsp;1ere S - Scientifique</option>
                                                    <option value="terminale_s">&nbsp;Tle ES - Economique et Sociale</option>
                                                    <option value="terminale_l">&nbsp;Tle L - Littéraire</option>
                                                    <option value="terminale_s">&nbsp;Tle S - Scientifique</option>
                                                    <option value="CI">&nbsp;Cursus International</option>
                                                    <option value="BAC-I">&nbsp;Cursus Bac. International</option>
                                                    <option value="cursus_non_francophone">&nbsp;Cursus non francophone (GB-US)</option>
                                                    <option value="seconde_sthr">&nbsp;2nde spécifique STHR</option>
                                                    <option value="premiere_sthr">&nbsp;1ere d’adaptation STHR</option>
                                                    <option value="premiere_sthr">&nbsp;1ere STHR</option>
                                                    <option value="terminale_sthr">&nbsp;Terminale STHR</option>
                                                    <option value="seconde_techno">&nbsp;2nde générale et techno.</option>
                                                    <option value="premiere_sti2s">&nbsp;1ere d’adaptation STI2S</option>
                                                    <option value="premiere_st2s">&nbsp;1ere STI2S</option>
                                                    <option value="terminale_st2s">&nbsp;Terminale STI2S</option>
                                                    <option value="seconde_techno">&nbsp;2nde générale et techno.</option>
                                                    <option value="premiere_std2a">&nbsp;1ère STI2A</option>
                                                    <option value="terminale_std2a">&nbsp;Terminale STI2A</option>
                                                    <option value="seconde_techno">&nbsp;2nde générale et techno.</option>
                                                    <option value="premiere_sti2d">&nbsp;1ère STI2D</option>
                                                    <option value="terminale_sti2d">&nbsp;Terminale ST2D – Architecture et Construction</option>
                                                    <option value="terminale_sti2d">&nbsp;Terminale STI2D – Energie et Environnement</option>
                                                    <option value="terminale_sti2d">&nbsp;Termianale STI2D – Innovation Technologique et Eco-conception</option>
                                                    <option value="terminale_sti2d">&nbsp;Terminale STI2D – Systèmes D’Information Numérique</option>
                                                    <option value="seconde_techno">&nbsp;2nde générale et techno.</option>
                                                    <option value="premiere_stmg">&nbsp;1ère d’adaptation STMG</option>
                                                    <option value="premiere_stmg">&nbsp;1ère STMG</option>
                                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Gestion et Finance</option>
                                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Mercatique</option>
                                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Ressources Humaines et Communication</option>
                                                    <option value="terminale_stmg">&nbsp;Terminale STMG – Systèmes D’Information et de Gestion</option>
                                                    <option value="seconde_techno">&nbsp;2nde générale et techno.</option>
                                                    <option value="premiere_stl">&nbsp;1ère d’adaptation STL</option>
                                                    <option value="premiere_stl">&nbsp;1ère STL</option>
                                                    <option value="terminale_stl">&nbsp;Terminale STL – Biotechnologies</option>
                                                    <option value="terminale_stl">&nbsp;Terminale STL – Sciences Physiques et Chimiques en Laboratoire</option>
                                                    <option value="seconde_techno">&nbsp;2nde générale et techno.</option>
                                                    <option value="premiere_stav">&nbsp;1ère d’adaptation STAV</option>
                                                    <option value="premiere_stav">&nbsp;1ère STAV</option>
                                                    <option value="terminale_stav">&nbsp;Terminale STAV</option>
                                                    <option value="2ndeTMD">&nbsp;2nde spécifique TMD</option>
                                                    <option value="premiere_tmd">&nbsp;1ère d’adaptation TMD</option>
                                                    <option value="premiere_tmd">&nbsp;1ère TMD</option>
                                                    <option value="terminale_tmd">&nbsp;Terminale TMD - Danse</option>
                                                    <option value="terminale_tmd">&nbsp;Terminale TMD - Musique</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div><!-- .col-* -->

                                    <div class="col-md-4  col-xs-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Lieu" />
                                        </div>
                                    </div>

                                    <div class="col-md-4  col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nom d'etablissement" />
                                        </div>
                                    </div>
                                </div><!-- .row -->
                            </div><!-- .col-* -->
                            
                            <div class="col-md-1">
                            <!-- <div class="form-group"> -->
                                <button class="btn btn-search"><i class="fa fa-search"></i></button>
                            <!-- </div> -->
                            </div>


                        </div><!-- .form-wrap -->
                    
                    </div><!-- .col-* -->

                    <div class="col-md-1">
                        <div class="filter-wrapper">
                            <i class="fa fa-filter filter-holder" data-toggle="tooltip" data-placement="right" title="Affinez votre recherche avec plus de critères"></i>
                            
                            <div class="inline-text pull-right hidden-lg hidden-md hidden-sm visible-xs">
                                <i class="fa fa-filter"></i> Filtre avancé
                                <div class="switch  mobile">
                                    <input id="filter-trigger" class="cmn-toggle cmn-toggle-round" type="checkbox">
                                    <label for="filter-trigger"></label>
                                </div>
                            </div>
                            <!-- <img src="img/filter-open.jpg" class="filters" /> -->
                            <div class="advance-filter">
                                    <div (click)="closeFilter()">
                                            <button type="button" class="btn" style="color: #FFFFFF;
                                            margin: 10px;background-color:#D9534F !important">
                                                Fermer   <span class="fa-stack">
                                                        <i class="fa fa-close fa-stack-1x">
                                                            </i></span> 
                                                  </button>
                                                 </div>
                                <ul>

                                    <li><a>Specialités</a>
                                        <ul class="left-popup">
                                            <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-1" /><label for="filter-1">Accueil Handicapé, Dyslexie</label></li> -->
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-2" /><label for="filter-2">Aides Financières - Bourse</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-3" /><label for="filter-3">Cours Francais Langue Etrangere - LFE</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-4" /><label for="filter-4">Dispositif d'accueil pour élèves à haut potentiel (EIP)<!-- Enfant Precoces --></label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-5" /><label for="filter-5">Horaires Aménagés</label></li>
                                        </ul>
                                    </li>
                                    <li><a>Internat</a>
                                        <ul>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-6" /><label for="filter-6">si case Internat est cochée</label></li>
                                            <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-7" /><label for="filter-7">Capacité</label></li> -->
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-8" /><label for="filter-8">Internat sur Place</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-9" /><label for="filter-9">Internat externe</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-10" /><label for="filter-10">Résidence Etudiante</label></li>
                                            <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-11" /><label for="filter-11">Internat de semaine</label></li> -->
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-12" /><label for="filter-12">Internat Permanent</label></li>
                                            <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-13" /><label for="filter-13">Internat Certains Weekend</label></li> -->
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-14" /><label for="filter-14">Internat mixte</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-15" /><label for="filter-15">Internat filles</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-16" /><label for="filter-16">Internat garcon</label></li>
                                            <!-- <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-17" /><label for="filter-17">Chambres individuelles</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-18" /><label for="filter-18">Chambres 2 a 4 lits</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-19" /><label for="filter-19">chambres 5 a 8 lits</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-20" /><label for="filter-20">Dortoirs</label></li> -->
                                        </ul>
                                    </li>
                                    <li><a>Stages</a>
                                        <ul class="left-popup">
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-21" /><label for="filter-21">stage pre-rentree</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-22" /><label for="filter-22">stages petites vacances</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-23" /><label for="filter-23">stages de grandes vacances</label></li> 
                                        </ul>
                                    </li>
                                    <li><a>Restauration</a>
                                        <ul>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-24" /><label for="filter-24">self-service</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-25" /><label for="filter-25">Service a Table</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-26" /><label for="filter-26">Cafeteria</label></li> 
                                        </ul>
                                    </li>
                                    <li>
                                        <a><input type="checkbox" name="filter-61" class="checkbox filled-in" id="filter-61" /><label id="disponibles" for="filter-61">Externat</label></a>
                                        <!-- <ul>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-27" /><label for="filter-27">demi-pension mixte</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-28" /><label for="filter-28">demi-pension garcons</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-29" /><label for="filter-29">demi-pension filles</label></li> 
                                        </ul> -->
                                    </li>
                                    <li><a>Statut</a>
                                        <ul>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-33" />
                                                <label for="filter-33">Public</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-34" />
                                                <label for="filter-34">Prive</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-35" />
                                                <label for="filter-35">CCI</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-36" />
                                                <label for="filter-36">Sous Contrat D'association</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-37" />
                                                <label for="filter-37">Hors contrat</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-38" />
                                                <label for="filter-38">CFA</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-39" />
                                                <label for="filter-40">UFA</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-40" />
                                                <label for="filter-40">Reconnue par l'Etat</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-41" />
                                                <label for="filter-41">en convention avec l'Etat</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-42" />
                                                <label for="filter-42">Enseignement supérieur Libre</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-43" />
                                                <label for="filter-43">Enseignement supérieur</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-44" />
                                                <label for="filter-44">Enseignement supérieur technique</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="filter-45" />
                                                <label for="filter-45">Sous contrat simple</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a>Ens. Confessionel</a>
                                        <ul class="left-popup">
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="laic" />
                                                <label for="laic">Laic</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="" class="checkbox filled-in" id="confessionel" />
                                                <label for="confessionel">Confessionel</label>

                                                <div class="collapse" id="addConfessionel" aria-expanded="false">
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" name="" class="checkbox filled-in" id="catholique" />
                                                            <label for="catholique">Catholique</label>        
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="" class="checkbox filled-in" id="protestant" />
                                                            <label for="protestant">Protestant</label>        
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="" class="checkbox filled-in" id="musulman" />
                                                            <label for="musulman">Musulman</label>        
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="" class="checkbox filled-in" id="juif" />
                                                            <label for="juif">Juif</label>        
                                                        </li>
                                                        <!-- <li>
                                                            <input type="checkbox" name="" class="checkbox filled-in" id="boudhiste" />
                                                            <label for="boudhiste">Boudhiste</label>        
                                                        </li> -->
                                                    </ul>                                                  
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a>Langues</a>
                                        <ul>
                                            <li><label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>LV1</option>
                                                        <option value="Allemand">Allemand</option>
                                                        <option value="Anglais">Anglais</option>
                                                        <option value="Arabe">Arabe</option>
                                                        <option value="Chinois">Chinois</option>
                                                        <option value="Coréen">Coréen</option>
                                                        <option value="Danois">Danois</option>
                                                        <option value="Espagnol">Espagnol</option>
                                                        <option value="Grec Moderne">Grec Moderne</option>
                                                        <option value="Hébreu">Hébreu</option>
                                                        <option value="Italien">Italien</option>
                                                        <option value="Japonais">Japonais</option>
                                                        <option value="Néerlandais">Néerlandais</option>
                                                        <option value="Persan">Persan</option>
                                                        <option value="Polonais">Polonais</option>
                                                        <option value="Portugais">Portugais</option>
                                                        <option value="Russe">Russe</option>
                                                        <option value="Suédois">Suédois</option>
                                                        <option value="Vietnamien">Vietnamien</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li><label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>LV2</option>
                                                        <option value="Allemand">Allemand</option>
                                                        <option value="Anglais">Anglais</option>
                                                        <option value="Arabe">Arabe</option>
                                                        <option value="Chinois">Chinois</option>
                                                        <option value="Coréen">Coréen</option>
                                                        <option value="Danois">Danois</option>
                                                        <option value="Espagnol">Espagnol</option>
                                                        <option value="Grec Moderne">Grec Moderne</option>
                                                        <option value="Hébreu">Hébreu</option>
                                                        <option value="Italien">Italien</option>
                                                        <option value="Japonais">Japonais</option>
                                                        <option value="Néerlandais">Néerlandais</option>
                                                        <option value="Persan">Persan</option>
                                                        <option value="Polonais">Polonais</option>
                                                        <option value="Portugais">Portugais</option>
                                                        <option value="Russe">Russe</option>
                                                        <option value="Suédois">Suédois</option>
                                                        <option value="Vietnamien">Vietnamien</option>
                                                    </select>
                                                </label></li>
                                            <li><label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>LV3</option>
                                                        <option value="Allemand">Allemand</option>
                                                        <option value="Anglais">Anglais</option>
                                                        <option value="Arabe">Arabe</option>
                                                        <option value="Chinois">Chinois</option>
                                                        <option value="Coréen">Coréen</option>
                                                        <option value="Danois">Danois</option>
                                                        <option value="Espagnol">Espagnol</option>
                                                        <option value="Grec Moderne">Grec Moderne</option>
                                                        <option value="Hébreu">Hébreu</option>
                                                        <option value="Italien">Italien</option>
                                                        <option value="Japonais">Japonais</option>
                                                        <option value="Néerlandais">Néerlandais</option>
                                                        <option value="Persan">Persan</option>
                                                        <option value="Polonais">Polonais</option>
                                                        <option value="Portugais">Portugais</option>
                                                        <option value="Russe">Russe</option>
                                                        <option value="Suédois">Suédois</option>
                                                        <option value="Vietnamien">Vietnamien</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li><label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>LA - Langues Anciennes</option>
                                                        <option value="Grec">Grec</option>
                                                        <option value="Latin">Latin</option>
                                                    </select>
                                                </label>
                                            </li>
                                            <li><label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>LR - Langues Regionales</option>
                                                        <option value="Alsacien">Alsacien</option>
                                                        <option value="Auvergnat">Auvergnat</option>
                                                        <option value="Basque">Basque</option>
                                                        <option value="Breton">Breton</option>
                                                        <option value="Catalan">Catalan</option>
                                                        <option value="Corse">Corse</option>
                                                        <option value="Nicois">Nicois</option>
                                                        <option value="Occitan">Occitan</option>
                                                        <option value="Pays Mosel">Pays Mosel</option>
                                                        <option value="Provencal">Provencal</option>
                                                    </select>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a>Sections</a>
                                        <ul class="left-popup">
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-51" /><label for="filter-51">Section Européenne</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-52" /><label for="filter-52">Section Internationnale</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-53" /><label for="filter-53">Section bilingue</label></li>
                                            <li><input type="checkbox" name="" class="checkbox filled-in" id="filter-54" /><label for="filter-54">Section Sportive</label></li>
                                        </ul>
                                    </li>
                                    <li><a>Diplomes</a>
                                        <ul>
                                           <li><label class="select-custom" for="class">
                                                    <select name="class" class="form-control" id="class">
                                                        <option value="" disabled selected hidden>Nom du diplome</option>
                                                    </select>
                                                </label>
                                            </li> 
                                        </ul>
                                    </li>
                                    <li><a>Options</a>
                                        <ul class="left-popup">
                                            <li><input type="text" name="" placeholder="Nom de L'option" class="form-control"></li>
                                        </ul>
                                    </li>
                                    <li><a><input type="checkbox" name="filter-60" class="checkbox filled-in" id="filter-60" /><label id="disponibles" for="filter-60">Places Disponibles</label></a>
                                    </li>
                                </ul>
                                <!-- <img src="img/ads-filter.jpg" alt="ads" class="ad-filter" /> -->
                            </div><!-- .advance-filter -->
                        </div><!-- .filter-wrap -->
                    </div><!-- .col -->
            
                </div><!-- .row -->

            </div><!-- .container -->

        </form>

</div><!-- .filter-form-holder -->