 <div class="loader">
        <div class="loading">
            <img src="assets/img/cide-logo.png" alt="CIDE Logo" class="logo-loader" />
            <div class="bar">
                    <span></span>
            </div>
        </div>
    </div>

    <header class="header">
        <img class="cide-logo" src="assets/img/cide-logo.png" alt="CIDE Logo" />
        <h1 class="sitename">Je Recherche</h1>
    </header>

    <main class="main" role="main">

        <div class="col-4 content-holder content-1 do-animate">
            <a routerLink="/une-ecole">
                <img src="assets/img/primary-school.jpg" alt="Une Ecole" class="content-image" />
                <section class="text-holder">
                    <h2>Une école</h2>
                    <h3>Maternelle / Primaire</h3>
                </section>
            </a>
        </div> 

        <div class="col-4 content-holder content-2 do-animate">
            <a routerLink="/un-college">
            <img src="assets/img/secondary-school.jpg" alt="Un College" class="content-image" />
            <section class="text-holder">
                <h2>Un collège</h2>
                <h3>6ème-3ème</h3>
            </section>
            </a>
        </div> 

        <div class="col-4 content-holder content-3 do-animate">
            <a routerLink="/un-lycee">
            <img src="assets/img/high-school.jpg" alt="Un Lycee" class="content-image" />
            <section class="text-holder">
                <h2>Un lycée</h2>
                <h3>2nde-Tle</h3>
            </section>
            </a>
        </div> 

        <div class="col-6 content-holder content-4 do-animate">
            <a routerLink="/une-ecole">
            <img src="assets/img/linguistic-trips.jpg" alt="Un Sejour Linguistique" class="content-image" />
            <section class="text-holder">
                <h2>Un séjour linguistique<br />
                Un cours particulier</h2>
            </section>
            </a>
        </div> 

        <div class="col-6 content-holder content-5 do-animate">
             <a routerLink="/un-conseil">
                <img src="assets/img/advisor.jpg" alt="Un Consiel en orientation" class="content-image" />
                <section class="text-holder">
                    <h2>Un conseil en orientation <br /> &nbsp;</h2>
                </section>
            </a>
        </div> 

    </main>