<div class="cbp-item graphic brochure-item" >
    <div class="checkbox-custom">
        <input type="checkbox" id="download-1" name="school-1" class="checkbox filled-in" /><label for="download-1">&nbsp;</label>
    </div>
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <div class="image-wrap">
                <span class="vertical-helper"></span>
                <img src="assets/images/school-logo/lycee-francois-d-estaing.png" alt="" />
            </div>
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="{{ brochureData.brochure }}" class="btn-appointment btn red uppercase btn red uppercase" rel="nofollow"><i class="fa fa-download"></i> Télécharger</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">FDE - François D'estaing</div>
</div>