<div id="js-filters-juicy-projects" class="cbp-l-filters-button">
    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn dark btn-outline uppercase"> Tous
        <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".identity" class="cbp-filter-item btn dark btn-outline uppercase"> École
        <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".graphic" class="cbp-filter-item btn dark btn-outline uppercase"> Collège
        <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".web-design" class="cbp-filter-item btn dark btn-outline uppercase"> Lycée
        <div class="cbp-filter-counter"></div>
    </div>
</div>