<div class="tab-pane" id="documentations">
  <div class="container-fluid">
    <div class="row" *ngIf="showDownload; else noDoc">
      <section>
        <div >
          <h3>Documentations</h3>
          <ul class="files-to-download">
            <li *ngFor="let doc of docList; let i=index">
              <div class="col-md-6">
                <div class="col-md-10">
                  <div class="image-wrapper">
                    <img src="http://54.254.203.172/cideapi/{{brochureList[i].cycles[0].logo1}}"
                      alt="" *ngIf="showDownload"/>
                  </div>
                  <span style="width:65%">
                    <strong>{{doc.school.longName | schoolName}}</strong>
                  </span>
                </div>
                <div class="col-md-2">
                  <a href="" *ngIf="!showDownload; else show1"></a>
                  <ng-template #show1>
                    <a href="http://54.254.203.172/cideapi/{{brochureList[i].brochure}}" download="1.pdf" target="_self"
                      class="btn btn-appointment  download-brochure">
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                  </ng-template>
                </div>
              </div>

            </li>
          </ul>
        </div>

      </section><!-- .col-* -->
    </div><!-- .row -->
    <ng-template #noDoc>
      <div class="row">
        <h1 style="text-align : center">Il n'y a aucune documentation</h1>
      </div>
    </ng-template>
  </div><!-- .container-fluid -->
</div><!-- .tab-pane -->
