<div class="tab-pane" id="documentations">
  <div class="container-fluid">
    <div class="row" *ngIf="docList.length!=0 ; else noDoc">
      <section class="col-md-4">
        <div >
          <h3>Documentations</h3>
          <ul class="files-to-download">
            <li *ngFor="let doc of docList; let i=index">
              <div class="image-wrapper">
                <img src="assets/images/myaccount/lycee-francois-d-estaing.png" alt="" />
              </div>
              <p>
                <strong>{{doc.school.shortName}}</strong><br>{{doc.school.longName}}
              </p>
              <a href="" *ngIf="!showDownload; else show1"></a>
              <ng-template #show1>
                <a href="http://54.254.203.172/cideapi/{{brochureList[i].brochure}}" download="1.pdf" target="_self"
                  class="btn btn-appointment  download-brochure">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </a>
              </ng-template>
              
            </li>
          </ul>
        </div>
        
      </section><!-- .col-* -->
    </div><!-- .row -->
    <ng-template #noDoc>
      <div class="row">
        <h1 style="text-align : center">Il n'y a aucune documentation</h1>
      </div>
    </ng-template>
  </div><!-- .container-fluid -->
</div><!-- .tab-pane -->