<main class="main" role="main"> <div class="container-fluid school-detail">

<div class="school-detail-page">

        <div class="gray-bg dashbard-1">

            <div class="row wrapper border-bottom white-bg">

                <div style="cursor : pointer"
                    (click)="navigateBack()">
                    <button type="button" class="btn button-return">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                        Retourner à la liste
                    </button>
                </div>

                <div class="col-lg-1  col-xs-4" *ngIf="canDisplay">
                    <img src="http://54.254.203.172/cideapi/{{schoolData.cycles[0].logo1}}" 
                        class="img-responsive">
                </div>
                <div class="col-lg-5 col-xs-8">
                    <h2 class="school-short-name">{{schoolShortName}}</h2>
                    <h3 class="school-long-name">{{schoolLongName}}</h3>
                </div>
                <div class="col-lg-6  hidden-xs">
                    <h2></h2>
                    <img src="assets/images/etablissement/icons cesacom.png" height="50" class="img-responsive hidden-xs" />
                    <p>icones a definir - chaque icone represente un aspect important de l'ecole</p>
                </div>

            </div>

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row  hidden-xs">
                    <div class="col-lg-12 text-center">
                        <h1 class="dark">La vie à l'Ecole</h1>
                        <!--<p>in developping payment application for the banks below</p>-->
                    </div>
                </div>

                <div class="row">
					<div class="col-md-12 slickjs">
						<div><img src="assets/images/etablissement/cesacom_8.jpg" alt=""></div>
						<div><img src="assets/images/etablissement/cesacom_7.jpg" alt="ads" /></div>
						<div><img src="assets/images/etablissement/cesacom_6.jpg" alt="ads" /></div>
						<div><img src="assets/images/etablissement/cesacom_5.jpg" alt="ads" /></div>
					</div>
                    <!--<ul id="owl-apb-school" class="owl-carousel">
                        <li class="item"><img src="assets/images/etablissement/cesacom_8.jpg" alt=""></li>
                        <li class="item"><img src="assets/images/etablissement/cesacom_7.jpg" alt=""></li>
                        <li class="item"><img src="assets/images/etablissement/cesacom_6.jpg" alt=""></li>
                        <li class="item"><img src="assets/images/etablissement/cesacom_5.jpg" alt=""></li>
                    </ul>-->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox product-detail">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
<!-- 
                                        <div class="text-left  hidden-xs">
                                            <div class="btn-group">
                                                <button class="btn btn-success btn-outline btn-sm"><i class="fa fa-heart"></i> Ajoutez Aux Voeux </button>
                                                <button class="btn btn-primary btn-outline btn-sm"><i class="fa fa-send"></i> Candidatez </button>
                                                <button class="btn btn-warning btn-outline btn-sm"><i class="fa fa-cloud-download"></i> Telechargez la documentation </button>
                                                <button class="btn btn-success btn-outline btn-sm"><i class="fa fa-envelope"></i> Envoyez un message </button>
                                                <button class="btn btn-success btn-outline btn-sm"><i class="fa fa-comments-o"></i> Posez une question </button>
                                            </div>
                                        </div> -->
										<div class="text-left  hidden-xs">
                                            <div class="btn-group">
                                                <button class="btn btn-success btn-outline btn-sm"
                                                    (click)="addToWish()">
                                                    <i class="fa fa-heart"></i> Ajoutez Aux Voeux 
                                                </button>
                                                <button class="btn btn-primary btn-outline btn-sm"
                                                    (click)="applyTo()">
                                                    <i class="fa fa-send"></i> Candidatez 
                                                </button>
                                                <button class="btn btn-warning btn-outline btn-sm"
                                                    (click)="downloadBrochure()">
                                                    <i class="fa fa-cloud-download"></i> Telechargez la documentation 
                                                </button>
                                                <button class="btn btn-success btn-outline btn-sm">
                                                    <i class="fa fa-envelope"></i> Envoyez un message 
                                                </button>
                                                <button class="btn btn-success btn-outline btn-sm">
                                                    <i class="fa fa-comments-o"></i> Posez une question 
                                                </button>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="tabs-container customclass">

                                            <ul class="nav nav-tabs responsive">
                                                <li class="active"><a data-toggle="tab" href="#tab-1">L'essentiel</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-2">Formations</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-3">Evènements</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-4">FAQ</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-5">Video</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-6">Asso. Etudiants</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-7">Infos Pratique</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-8">Articles</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-9">Dans les Media</a></li>
                                            </ul>

                                            <div class="tab-content">

                                                <div id="tab-1" class="tab-pane active">
                                                    <app-etablissement-essentiel [schoolData]="schoolData"></app-etablissement-essentiel>
                                                </div><!-- /tab 1 -->
                                                <div id="tab-2" class="tab-pane">
                                                    <app-etablissement-formation [schoolDataRef]="schoolData"></app-etablissement-formation>
                                                </div><!-- /tab 2 -->
                                                <div id="tab-3" class="tab-pane">
                                                    <app-etablissement-evenement [schoolData]="schoolData"></app-etablissement-evenement>
                                                </div><!-- /tab 3 -->
                                                <div id="tab-4" class="tab-pane">
                                                    <app-etablissement-faq [schoolData]="schoolData"></app-etablissement-faq>
                                                </div><!--</tab 4>-->
                                                <div id="tab-5" class="tab-pane">
                                                    <app-etablissement-video [schoolData]="schoolData"></app-etablissement-video>
                                                </div><!-- /tab 5 -->
                                                <div id="tab-6" class="tab-pane">
                                                    <app-etablissement-asso [schoolData]="schoolData"></app-etablissement-asso>
                                                </div><!-- /.tab 6 -->
                                                <div id="tab-7" class="tab-pane">
                                                    <app-etablissement-info [schoolData]="schoolData"></app-etablissement-info>
                                                </div><!-- /.tab 7 -->
                                                <div id="tab-8" class="tab-pane">
                                                    <app-etablissement-articles [schoolData]="schoolData"></app-etablissement-articles>
                                                </div> 
                                                <div id="tab-9" class="tab-pane">
                                                    <app-etablissement-media [schoolData]="schoolData"></app-etablissement-media>
                                                </div><!-- /tab 9 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div></main>