<div>
  <main _ngcontent-c3="" class="main white-background" role="main" ng-reflect-class-base="main white-background">
    <div _ngcontent-c3="" class="container" ng-reflect-class-base="container">

      <div class="row">

        <div class="col-md-7 align_left">
          <p>
            Editeur : CIDE Association - Centre d'Information et de<br /> Documentation sur l'Enseignement<br /> Siège social : 84 boulevard Saint-Michel, 75006 Paris<br /> numéro SIRET 805 364 684 00029<br /> Directeur de la publication : Sandrine Giorgi <br /><i class="fa fa-phone" aria-hidden="true"></i> Tél. : 01 53 10 33 20 <br />numéro déclaration CNIL 1271917
          </p>
          
          <p> Copyright et Propriété intellectuelle : L’ensemble des éléments figurant sur le site sont protégés par les dispositions du Code de la Propriété Intellectuelle. En conséquence, toute reproduction de ceux-ci, totale ou partielle, sans notre accord préalable et écrit, est interdite. Il est formellement interdit de collecter et d’utiliser les informations disponibles sur le site à des fins commerciales. Cette interdiction s’étend notamment, sans que cette liste ne soit limitative, à tout élément rédactionnel figurant sur le site, à la présentation des écrans, aux logos, images, photos, de quelque nature qu’ils soient.</p>
        </div>
        <div class="col-md-5">&nbsp;</div>

      </div>






    </div>
  </main>
</div>