<div class="white-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="assets/images/payment/CIDE_logo.png" alt=""
             class="img-responsive logo-payment">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 online-payment-title">
        <h3>{{ 'TransactionInformation' | translate }}</h3>
      </div>

      <div class="col-md-12 online-payment-text-div">
        <div class="row" style="margin-top:30px">
          <div class="col-md-3 online-payment-text-right">
            <p *ngFor="let title of payment.informationPaymentTitle"
            class="online-payment-text-right">{{title}}</p>
          </div>
          <div class="col-md-4" style="padding : 0">
            <p *ngFor="let title of payment.informationPaymentValue"
              class="online-payment-text-bold">{{title}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 online-payment-title">
        <h3>{{ 'SecurePayment' | translate }}</h3>
      </div>
      <div class="col-md-12 online-payment-text-div justify-content-md-center ">
        <div class="row">
          <div class="col-md-2 " *ngFor="let title of paymentMethod.imgName">
            <img [src]="'assets/images/payment/'+title" alt="" (click)="onConfirm()"
                 style="width:40%;" class="img-responsive image-payment logo-payment-online ">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="padding : 0" *ngFor="let title of paymentMethod.title">
            <p class="online-payment-text-bold text-center" (click)="onConfirm()">
              {{title}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" class="text-center">
        <button class="btn btn-danger" type="button"
        (click)="onCancel()">
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
