

<div class="white-background">

  <section class="login-page fadeInDown-animation">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <h2 class="brochure-title">Mot de passe oublié</h2>
          <div class="login-form">
              <!-- <div class="login-title">
                  <span class="icon"><i class="fa fa-group"></i></span>
                  <span class="text">Login Area</span>
              </div> --><!-- End Title -->
              <form [formGroup]="forgotPasswordForm"  (ngSubmit)="onSubmit()" 
                id="login-form">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <div class="input">
                      <input type="text" id="login_username" class="username-input" 
                        placeholder="Nom d'utilisateur/Email"
                        [formControl]="forgotPasswordForm.controls['email']">
                      <small 
                        *ngIf="forgotPasswordForm.controls['email'].hasError('required') && 
                        forgotPasswordForm.controls['email'].touched" 
                        class="mat-text-warn"> 
                        Email Obligatoire
                      </small>
                      <small *ngIf="forgotPasswordForm.controls['email'].errors?.email && 
                        forgotPasswordForm.controls['email'].touched" 
                        class="mat-text-warn"> 
                        Email Invalide
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input clearfix">
                      <input type="submit" id="login_submit" class=" ln-tr btn-appointment" 
                        value="Envoyer" [disabled]="!forgotPasswordForm.valid">
                    </div>
                  </div>
                </div><!-- end row -->
              </form><!-- End form -->
            </div><!-- end login form -->

          </div><!-- end col-md-8/offset -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- End Login Page -->

</div><!-- .white-background -->