<div class="white-background">
  <section class="login-page fadeInDown-animation">
    <div class="container">
      <div fxLayout fxLayoutAlign="center" >
        <div fxFlex="66%">
          <h2 class="brochure-title">Mots de passe oublié</h2>
          <div class="login-form register">
            <form [formGroup]="forgotPasswordForm"  (ngSubmit)="onSubmit()">
              <div fxLayout="row" fxLayoutGap="5%">
                <div fxFlex>
                  <md-input-container style="width: 100%">
                    <input [formControl]="forgotPasswordForm.controls['email']" 
                      mdInput 
                      placeholder="Adresse mail" >
                  </md-input-container>
                  <small 
                    *ngIf="forgotPasswordForm.controls['email'].hasError('required') && 
                    forgotPasswordForm.controls['email'].touched" 
                    class="mat-text-warn"> 
                    Email required
                  </small>
                  <small *ngIf="forgotPasswordForm.controls['email'].errors?.email && 
                    forgotPasswordForm.controls['email'].touched" 
                    class="mat-text-warn"> 
                    Must be valid Email
                  </small>
                </div>
              </div>
              <div fxLayout>
                <div fxFlex>
                  <div class="input">
                    <input type="submit" 
                      id="reg_submit" 
                      class="submit-input" 
                      value="Se connecter"
                      [disabled]="!loginForm.valid">
                  </div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</div>