

<div class="white-background">

  <section class="login-page fadeInDown-animation">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <h2 class="brochure-title">Mot de passe oublié</h2>
          <div class="login-form">
              <!-- <div class="login-title">
                  <span class="icon"><i class="fa fa-group"></i></span>
                  <span class="text">Login Area</span>
              </div> --><!-- End Title -->
              <form [formGroup]="forgotPasswordForm"  (ngSubmit)="onSubmit()" 
                id="login-form">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <h4>email d'entrée<span class="err">*</span></h4>  
                    <div class="form-group">
                      <input type="text" class="form-control" 
                        placeholder="Répéter le mot de passe" (keypress)="clearMessage()"
                        [formControl]="forgotPasswordForm.controls['email']">
                      <small 
                        *ngIf="forgotPasswordForm.controls['email'].hasError('required') && 
                        forgotPasswordForm.controls['email'].touched" 
                        class="err">
                        email est requis
                      </small>
                      <small 
                        *ngIf="forgotPasswordForm.controls['email'].errors?.email" 
                        class="err">
                        l'email n'est pas correct
                      </small>
                      <small *ngIf="emailNotFound == true" class="err">
                        {{errorMessage}}
                      </small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input clearfix">
                      <input type="submit" id="login_submit" class="forgotBtn ln-tr btn-appointment btn-danger" 
                        value="Envoyer" [disabled]="!forgotPasswordForm.valid">
                    </div>
                  </div>
                </div><!-- end row -->
              </form><!-- End form -->
            </div><!-- end login form -->

          </div><!-- end col-md-8/offset -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- End Login Page -->

</div><!-- .white-background -->