<md-tab-group class="download-modal" #tabGroup>
  <md-tab label="Formulaire">
     <div role="tabpanel"  id="Formulaire" class="modal-download">
         <form [formGroup]="brochureForm">
            <p class="note">Pour télécharger les documentations demandées, veuillez saisir votre contact ainsi que le profile scolaire concerné</p>
            <h3>Parents</h3>
            <div class="form-group">
                <div class="select-custom">
                    <select name="" class="form-control"
                        [formControl]="brochureForm.controls['lienParent']">
                        <option value="" disabled selected hidden>Lien de Parenté</option>
                        <option value="Père">Père</option>
                        <option value="Mère">Mère</option>
                        <option value="Oncle">Oncle</option>
                        <option value="Tante">Tante</option>
                        <option value="Grand-Père">Grand-Père</option>
                        <option value="Grand-Mère">Grand-Mère</option>
                        <option value="Tuteur">Tuteur</option>
                        <option value="Tutrice">Tutrice</option>
                    </select>
                </div>
            </div>

            <div class="form-group horizontal-radio clearfix">
                <md-radio-group [formControl]="brochureForm.controls['title']"
              style="border-color:white">
                    <md-radio-button value="m" class="rdmark">M</md-radio-button>
                    <md-radio-button value="mrs" class="rdmark">Mlle</md-radio-button>
                    <md-radio-button value="ms" class="rdmark">Mme</md-radio-button>
                </md-radio-group>
            </div>

            
            <div class="row">
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nom"
                            [formControl]="brochureForm.controls['lastName']"
                            maxlength="25">
                    </div>
                </div>
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Prénom"
                            [formControl]="brochureForm.controls['firstName']"
                            maxlength="25">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email"
                    [formControl]="brochureForm.controls['mel']">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" 
                            placeholder="Téléphone auquel je suis joignable"
                            [formControl]="brochureForm.controls['tel']"
                            maxlength="10">
                    </div>
                </div>
            </div>

            <h3>Enfant</h3>
            <div class="row">
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nom"
                            [formControl]="brochureForm.controls['childLastName']"
                            maxlength="25">
                    </div>
                </div>
                <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Prénom"
                            [formControl]="brochureForm.controls['childFirstName']"
                            maxlength="25">
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-sm-12">
                    <div class="row"> -->
                        <div class="col-sm-3  col-xs-6">
                            <div class="form-group">
                                <input type="number" class="form-control" max="20" min="1" placeholder="Age"
                                    [formControl]="brochureForm.controls['childAge']"
                                    maxlength="2">
                            </div>
                        </div>
                        <div class="col-sm-3  hidden-xs">&nbsp;</div>
                    
                        <div class="col-sm-6  col-xs-6">
                            <div class="form-group">
                                <div class="horizontal-radio">
                                    <md-radio-group [formControl]="brochureForm.controls['childTitle']"
                                        style="border-color:white">
                                        <md-radio-button value="Garçon" class="rdmark">Garçon</md-radio-button>
                                        <md-radio-button value="Fille" class="rdmark">Fille</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                </div> -->
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Nom Etablissement Actuel"
                            [formControl]="brochureForm.controls['etablissement']"
                            maxlength="50">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group  col-sm-12  col-xs-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Ville"
                                [formControl]="brochureForm.controls['city']"
                                maxlength="50">
                        </div>
                    </div>
                </div>

                <div class="form-group  col-sm-12  col-xs-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="select-custom">
                                <select name="" class="form-control"
                                    [formControl]="brochureForm.controls['classe']">
                                    <option value="" disabled selected hidden>Classe</option>
                                    <optgroup label="Cycle 1 : Apprentissages Premiers">
                                        <option value="ps">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                        <option value="ms">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                        <option value="gs">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                    </optgroup>
                                    <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                        <option value="cp">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                        <option value="ce1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                        <option value="ce2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                    </optgroup>
                                    <optgroup label="Cycle 3 : Consolidation">
                                        <option value="cm1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                        <option value="cm2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                        <option value="6e">&nbsp;&nbsp;&nbsp;&nbsp;6ème</option>
                                    </optgroup>
                                    <optgroup label="Cycle 3 : Consolidation">
                                        <option value="sixieme">&nbsp;&nbsp;&nbsp;&nbsp;6ème</option>
                                    </optgroup>
                                    <optgroup label="Cycle 4 : Approfondissement">
                                        <option value="cinquieme">&nbsp;&nbsp;&nbsp;&nbsp;5ème</option>
                                        <option value="quatrieme">&nbsp;&nbsp;&nbsp;&nbsp;4ème</option>
                                        <option value="troisieme">&nbsp;&nbsp;&nbsp;&nbsp;3ème</option>
                                    </optgroup>
                                    <optgroup label="2nde">
                                        <option value="seconde_techno">&nbsp;&nbsp;&nbsp;&nbsp;2nde générale et techno.</option>
                                        <option value="seconde_probation">&nbsp;&nbsp;&nbsp;&nbsp;2nde de probation (ou méthodo.)</option>
                                    </optgroup>
                                    <optgroup label="1ere">
                                        <option value="premiere_es">&nbsp;&nbsp;&nbsp;&nbsp;1ere ES - Economique et Sociale</option>
                                        <option value="premiere_l">&nbsp;&nbsp;&nbsp;&nbsp;1ere L - Littéraire</option>
                                        <option value="premiere_s">&nbsp;&nbsp;&nbsp;&nbsp;1ere S - Scientifique</option>
                                    </optgroup>
                                    <optgroup label="Terminale">
                                        <option value="terminale_s">&nbsp;&nbsp;&nbsp;&nbsp;Tle ES - Economique et Sociale</option>
                                        <option value="terminale_l">&nbsp;&nbsp;&nbsp;&nbsp;Tle L - Littéraire</option>
                                        <option value="terminale_s">&nbsp;&nbsp;&nbsp;&nbsp;Tle S - Scientifique</option>
                                    </optgroup>
                                    <option value="CI">&nbsp;&nbsp;&nbsp;&nbsp;Cursus International</option>
                                    <option value="BAC-I">&nbsp;&nbsp;&nbsp;&nbsp;Cursus Bac. International</option>
                                    <option value="cursus_non_francophone">&nbsp;&nbsp;&nbsp;&nbsp;Cursus non francophone (GB-US)</option>
                                    <optgroup label="STHR - Hôtellerie et Restauration">
                                        <option value="seconde_sthr">&nbsp;&nbsp;&nbsp;&nbsp;2nde spécifique STHR</option>
                                        <option value="premiere_sthr">&nbsp;&nbsp;&nbsp;&nbsp;1ere d’adaptation STHR</option>
                                        <option value="premiere_sthr">&nbsp;&nbsp;&nbsp;&nbsp;1ere STHR</option>
                                        <option value="terminale_sthr">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STHR</option>
                                    </optgroup>
                                    <optgroup label="STI2S  - Sciences et Technologies de la Santé et du Social">
                                        <option value="seconde_techno">&nbsp;&nbsp;&nbsp;&nbsp;2nde générale et techno.</option>
                                        <option value="premiere_sti2s">&nbsp;&nbsp;&nbsp;&nbsp;1ere d’adaptation STI2S</option>
                                        <option value="premiere_st2s">&nbsp;&nbsp;&nbsp;&nbsp;1ere STI2S</option>
                                        <option value="terminale_st2s">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STI2S</option>
                                    </optgroup>
                                    <optgroup label="STID2A - Sciences et Technologies du Design et des Arts Appliqués">
                                        <option value="seconde_techno">&nbsp;&nbsp;&nbsp;&nbsp;2nde générale et techno.</option>
                                        <option value="premiere_std2a">&nbsp;&nbsp;&nbsp;&nbsp;1ère STI2A</option>
                                        <option value="terminale_std2a">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STI2A</option>
                                    </optgroup>
                                    <optgroup label="STI2D - Sciences et Technologies de l'Industrie et du Développement Durable">
                                        <option value="seconde_techno">&nbsp;&nbsp;&nbsp;&nbsp;2nde générale et techno.</option>
                                        <option value="premiere_sti2d">&nbsp;&nbsp;&nbsp;&nbsp;1ère STI2D</option>
                                        <option value="terminale_sti2d">&nbsp;&nbsp;&nbsp;&nbsp;Terminale ST2D – Architecture et Construction</option>
                                        <option value="terminale_sti2d">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STI2D – Energie et Environnement</option>
                                        <option value="terminale_sti2d">&nbsp;&nbsp;&nbsp;&nbsp;Termianale STI2D – Innovation Technologique et Eco-conception</option>
                                        <option value="terminale_sti2d">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STI2D – Systèmes D’Information Numérique</option>
                                    </optgroup>
                                    <optgroup label="STMG - Sciences et Technologies du Management et de la Gestion ">
                                        <option value="seconde_techno">&nbsp;&nbsp;&nbsp;&nbsp;2nde générale et techno.</option>
                                        <option value="premiere_stmg">&nbsp;&nbsp;&nbsp;&nbsp;1ère d’adaptation STMG</option>
                                        <option value="premiere_stmg">&nbsp;&nbsp;&nbsp;&nbsp;1ère STMG</option>
                                        <option value="terminale_stmg">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STMG – Gestion et Finance</option>
                                        <option value="terminale_stmg">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STMG – Mercatique</option>
                                        <option value="terminale_stmg">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STMG – Ressources Humaines et Communication</option>
                                        <option value="terminale_stmg">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STMG – Systèmes D’Information et de Gestion</option>
                                    </optgroup>
                                    <optgroup label="STL - Sciences et Technologies de Laboratoire">
                                        <option value="seconde_techno">&nbsp;&nbsp;&nbsp;&nbsp;2nde générale et techno.</option>
                                        <option value="premiere_stl">&nbsp;&nbsp;&nbsp;&nbsp;1ère d’adaptation STL</option>
                                        <option value="premiere_stl">&nbsp;&nbsp;&nbsp;&nbsp;1ère STL</option>
                                        <option value="terminale_stl">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STL – Biotechnologies</option>
                                        <option value="terminale_stl">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STL – Sciences Physiques et Chimiques en Laboratoire</option>
                                    </optgroup>
                                    <optgroup label="STAV - Sciences et Technologies de l'Agronomie et du Vivant">
                                        <option value="seconde_techno">&nbsp;&nbsp;&nbsp;&nbsp;2nde générale et techno.</option>
                                        <option value="premiere_stav">&nbsp;&nbsp;&nbsp;&nbsp;1ère d’adaptation STAV</option>
                                        <option value="premiere_stav">&nbsp;&nbsp;&nbsp;&nbsp;1ère STAV</option>
                                        <option value="terminale_stav">&nbsp;&nbsp;&nbsp;&nbsp;Terminale STAV</option>
                                    </optgroup>
                                    <optgroup label="TMD - Techniques de la Musique et de la Danse">
                                        <option value="2ndeTMD">&nbsp;&nbsp;&nbsp;&nbsp;2nde spécifique TMD</option>
                                        <option value="premiere_tmd">&nbsp;&nbsp;&nbsp;&nbsp;1ère d’adaptation TMD</option>
                                        <option value="premiere_tmd">&nbsp;&nbsp;&nbsp;&nbsp;1ère TMD</option>
                                        <option value="terminale_tmd">&nbsp;&nbsp;&nbsp;&nbsp;Terminale TMD - Danse</option>
                                        <option value="terminale_tmd">&nbsp;&nbsp;&nbsp;&nbsp;Terminale TMD - Musique</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <md-checkbox [formControl]="brochureForm.controls['copy']" >
                            Je souhaite recevoir un copie de votre message
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <button type="button" data-dismiss="modal" class="btn btn-highlighted"
                (click)="onCancel()">Annuler</button>
            <a (click)="toSecondTab()" data-toggle="tab" class="btn btn-secondary">
                Suivant
            </a>
         </form>
    </div>
  </md-tab>

  <md-tab label="ProfilScolaire" id="tab2">
    <div role="tabpanel"  id="ProfilScolaire" class="modal-download">
        <p class="note">Pour télécharger les documentations demandées, veuillez saisir votre contact ainsi que le profile scolaire concerné</p>

        <div class="form-group horizontal-radio clearfix">
            <md-radio-group [formControl]="brochureForm.controls['status']"
                style="border-color:white">
                <md-radio-button value="Privé" class="rdmark">Privé</md-radio-button>
                <md-radio-button value="Public" class="rdmark">Public</md-radio-button>
            </md-radio-group>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Niveau Actuel"
                        [formControl]="brochureForm.controls['niveauActuel']"
                        maxlength="25">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" 
                        placeholder="Niveau concerné par la demande"
                        [formControl]="brochureForm.controls['niveauConcern']"
                        maxlength="25">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <textarea placeholder="Information précise, pour mieux traiter votre demande" 
                        class="form-control" [formControl]="brochureForm.controls['info']"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="g-recaptcha" data-sitekey="6LdkaCIUAAAAAOHbgd3nOACP2g0gQLMJVv93CBpp"></div>
                </div>
            </div>
        </div>
            <p class="note">
              Le CIDE et l'établissement scolaire sélectionné sont les seuls destinataires des informations communiquées. 
              Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent 
              (art. 34 de la loi "informatique et libertés" - Numéro de déclaration CNIL 1271917).
               Formulez votre demande par écrit au CIDE, 84, boulevard Saint-Michel 75006 Paris.
            </p>
            <button type="button" data-dismiss="modal" 
                class="btn btn-highlighted"
                (click)="onCancel()">Annuler</button>
            <button class="btn btn-secondary 
                close-download"
                (click)="onSubmit()">Valider</button>

                <!--[disabled]="!brochureForm.valid"-->
        </div>
    </md-tab>
</md-tab-group>

