<header class="header">
        <i class="fa fa-bars menu-holder"></i>
        <a href="index.html"><img class="cide-logo" src="assets/img/cide-white.png" alt="CIDE Logo" /></a>
        <h1 class="sitename">Avec le CIDE, je trouve</h1>
    </header>

    <main class="main" role="main">
        
        <div class="container-fluid  conseil-centering">
                
            <h2 class="title-page">Le CIDE: Une equipe et des outils au service de l'orientation.</h2>

            <div *ngFor= "let package of packageData" class="conseil-item">
                
                <div class="hover-holder">
                    <img src="assets/img/image-1.jpg" class="img-responsive" alt="Entretien Conseils Pour Choisir Son Ecole" />
                    <div class="conseil-hover">
                        <h4>{{package.name}}</h4>                        
                        <span>{{package.description}}</span>
                    </div>
                </div>

                <h3 class="conseil-title  color-1  overload">{{package.subtitle}}</h3>
                
                <div class="conseil-content">
                    <div class="conseil-info"><span class="conseil-label">Duree:</span><br />{{package.durationText}}</div>
                    <div class="conseil-info"><span class="conseil-label">Public:</span><br />{{package.audience}}</div>

                    <div class="conseil-price">{{package.cost}}<sup>€</sup></div>

                     <a routerLink="/booking-appointment"  class="btn  btn-conseil  btn-block  color-1">Je Reserve Maintenant</a>
                </div>

            </div><!-- .conseil-item -->

        </div><!-- .container -->

    </main>