<div class="panel-body"> 
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row" *ngIf="schoolData.asso.length!=0; else noAsso">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Bureau des Eleves <small class="m-l-sm">rejoignez-nous!</small></h5>
                    </div>
                    <!--<div class="ibox-content">-->
                    <!--<h4 class="font-bold">-->
                    <!--Bureau des Eleves-->
                    <!--</h4>-->
                    <div class="ibox-content">
                        <div class="carousel slide" id="carousel0">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="image" class="img-responsive" src="assets/images/etablissement/vie_cesacom_2_B.png">
                                </div>
                                <div class="item">
                                    <img alt="image" class="img-responsive" src="assets/images/etablissement/B_People_Dancing_iStock_000015185676Small.jpg">
                                </div>
                                <div class="item ">
                                    <img alt="image" class="img-responsive" src="assets/images/etablissement/student-party-1.jpg">
                                </div>

                            </div>
                            <a data-slide="prev" href="http://secuplus.sg/etablissement/apb-etablissement.html#carousel0" class="left carousel-control">
                                <span class="icon-prev"></span>
                            </a>
                            <a data-slide="next" href="http://secuplus.sg/etablissement/apb-etablissement.html#carousel0" class="right carousel-control">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                    <strong>Notre Bureau des Eleves permet de s'eclater tout au long de l'annee.</strong>
                    <p>si vous nous cherchez on est au Starbucks d'en face. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p><strong>Nos Affiliations</strong></p>
                    <p><span class="label label-primary">ALUMNI</span> <span class="label label-info">APERO</span></p>
                    <p><strong>Nos Sponsors</strong></p>
                    <div class="lightBoxGallery">
                        <a href="http://secuplus.sg/etablissement/apb-etablissement.html" title="Image from Unsplash" data-gallery="" data-width="100"><img src="assets/images/etablissement/euro-rscg.png"></a>
                        <a href="http://secuplus.sg/etablissement/apb-etablissement.html" title="Image from Unsplash" data-gallery=""><img src="assets/images/etablissement/starbucksb.png"></a>

                    </div>
                    <!--</div>-->

                </div>
            </div>
        </div>
            
        <ng-template #noAsso>
            <div class="row">
                <h2 style="text-align:center">Il n'y a pas d'associations à afficher</h2>
            </div>
        </ng-template>
    </div>
</div> 