
<div class="modal-body">

    <h3>Je confirme ma demande de téléchargement des documentations suivantes:</h3>

    <ul class="files-to-download">
        <li *ngFor="let brochure of brochureList; let i=index">
            <img src="http://13.229.117.64/cideapi/{{brochure.logo1}}" alt="" width="20" />
            <span>{{ brochure.nom }} / Cycle : {{ brochure.cycle.nom }} </span>
            <span class="remove" (click)="onRemoveBrochure(i)"
              style="cursor:pointer">X</span>
            <!--<a class="remove">x</a>-->
        </li>
    </ul>

    <div *ngIf="brochureList[0]!==undefined" style="float : right">

      <a href="http://13.229.117.64/cideapi/{{brochureList[0].brochure}}" 
        class="btn btn-secondary" (click)="onSubmit()"
        download="1.pdf" target="_self">
        Télécharger
        <!--<button type="button" 
          data-dismiss="modal" 
          class="btn btn-secondary"
          (click)="onSubmit()">Télécharger
        </button>-->
      </a>

      <button type="button" style="float : right"
        data-dismiss="modal" 
        class="btn btn-highlighted"
        (click)="onCancel()">Annuler
      </button>
    </div>
      
</div><!-- .modal-body -->