<div class="panel-body">

  <div class="wrapper wrapper-content animated fadeInRight">
  
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  identity">
              <tbody>
                  <tr>
                      <td>
                          <strong>Nom Court</strong><br />
                          Moreau
                      </td>
                      <td>
                          <strong>Nombre D'Eleves</strong><br />
                          1000 
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Création</strong><br />
                          1832
                      </td>
                      <td>
                          <strong>Academie</strong><br />
                          
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Departement</strong><br />
                          
                      </td>
                      <td>
                          <strong>Tel</strong><br />
                          +33 598 776
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Website</strong><br />
                          www.website.com
                      </td>
                      <td>
                          <strong>Mél</strong><br />
                          nom@mél.com
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      

      <h4>Contacts</h4>

      <div class="table-responsive">
          
          <table class="table table-bordered  identity">
              <tbody>
                  <tr>
                      <td>
                          <strong>Titre</strong><br />
                          Mme.
                      </td>
                      <td>
                          <strong>Prénom</strong><br />
                          Anita
                      </td>
                      <td>
                          <strong>Nom</strong><br />
                          Lubies
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Fonction</strong><br />
                          Directeur
                      </td>
                      <td>
                          <strong>Dir. Cycles</strong><br />
                          Apprentissages Premiers
                      </td>
                      <td>&nbsp;
                      </td>
                  </tr>
              </tbody>
          </table>
          
      </div>

  </div><!-- .wrapper -->

</div><!-- .panel-body -->