<div class="panel-body">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-md-12">
        <legend>Labels &amp; Accréditations <span class="label label-primary">AACP</span>  <span class="label label-warning-light">EXTRA</span>  <span class="label label-success">SUPER</span>  <span class="label label-danger">AMBA</span>  <span class="label label-info">COOL</span></legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <legend>Statut &amp; Chiffres</legend>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Statut de l'Etablissement</th>
              <th>Date de Création</th>
              <th>Nombre d'Etudiants</th>
              <th>Hebergement</th>
              <th>Accueil Handicapés</th>
              <th>Code UAI</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Enseignement Supérieur Privé</td>
              <td>1985</td>
              <td>2 752</td>
              <td>Externat</td>
              <td>oui</td>
              <td>0755411Z</td>
            </tr>
            </tbody>
          </table>
        </div><!-- .table-responsive -->
      </div><!-- .col-* -->
    </div><!-- .row -->
    <div class="row wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <legend>Adresse</legend>
            <p>363 Bis rue des pyrenees</p>
            <p>75020 Paris</p>
            <p><i class="fa fa-phone"></i>  01 83 64 75 22</p>
            <button class="btn btn-primary btn-outline btn-sm pull-left">
              <i class="fa fa-map-marker"></i> Voir sur la carte
            </button>
          </div><!-- .ibox -->
        </div><!-- .col-* -->
        <div class="col-lg-6" style="display: inline">
          <!--<div class="ibox float-e-margins">-->
          <!--<div class="ibox-title">-->
          <!--<span class="label label-success pull-right">Cree en 1988</span>-->
          <legend>sur le Net</legend>
          <!--</div>-->
          <!--<div class="ibox-content">-->
          <!--<h3><i class="fa fa-at"></i> cesacom-info@gmail.com</h3>-->
          <!--<h3><i class="fa fa-star"></i> www.cesasom.com</h3>-->
          <!--<h3><i class="fa fa-facebook-square"></i> cesacomfacebook</h3>-->
          <!--<h3><i class="fa fa-twitter-square"></i> cesacomtwittter</h3>-->
          <!--<h3><i class="fa fa-instagram"></i> cesacominsta</h3>-->
          <div class="row">
            <div class="col-lg-4">
              <a class="btn btn-block btn-social btn-yahoo ">
                <span class="fa fa-envelope-o"></span> Email
              </a>
              <a class="btn btn-block btn-social btn-pinterest">
                <span class="fa fa-dribbble"></span> Web
              </a>
            </div><!-- .col-* -->
            <div class="col-lg-4">
              <a class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Facebook
              </a>
              <a class="btn btn-block btn-social btn-instagram">
                <span class="fa fa-instagram"></span> Instagram
              </a>
            </div><!-- .col-* -->
            <div class="col-lg-4">
              <a class="btn btn-block btn-social btn-linkedin">
                <span class="fa fa-linkedin"></span> LinkedIn
              </a>
              <a class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Twitter
              </a>
              <a class="btn btn-block btn-social btn-pinterest">
                <span class="fa fa-youtube"></span> Youtube
              </a>
            </div><!-- .col-* -->
          </div><!-- .row -->
        </div><!-- .col-* -->
      </div><!-- .row -->
      <div class="row">
          <div class="col-lg-12">
              <div class="ibox float-e-margins">
                  <!-- Form Name -->
                  <legend>Quelques mots</legend>
                  <div class="ibox float-e-margins">
                      Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                      Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                      Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                      Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                  </div>
                  <!-- Text input-->
              </div><!-- .ibox -->
          </div>
          <!--<div class="text-left">-->
          <!--<div class="btn-group">-->
          <!--<button class="btn btn-success btn-outline btn-sm"><i class="fa fa-graduation-cap"></i> Etablissement Privé </button>-->
          <!--<button class="btn btn-primary btn-outline btn-sm"><i class="fa fa-wheelchair"></i> Acceuil Handicapés </button>-->
          <!--<button class="btn btn-warning btn-outline btn-sm"><i class="fa fa-bank"></i> Depuis 1901 </button>-->
          <!--</div>-->
          <!--</div>-->
      </div><!-- .row -->
      <div class="row">
        <div class="col-md-12">
            <legend>Partenariats</legend>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
              <ul class="notes">
                <li>
                  <div style="background-color: white">
                    <h4 style="text-align: center">Ferrari</h4>
                    <img src="assets/images/etablissement/ferrari.png" style="margin-left: 50px">
                    <p>Ferrari nous prete des voitures le weekend.</p>
                  </div>
                </li>
                <li>
                  <div>
                    <h4 class="text-center">Microsoft</h4>
                    <img src="assets/images/etablissement/microsoft.png" style="margin-left: 50px">
                    <p>Microsoft sponsorise notre salle informatique.</p>
                  </div>
                </li>
                <li>
                  <div>
                    <h4 class="text-center">Cisco</h4>
                    <img src="assets/images/etablissement/cisco.png" style="margin-left: 50px">
                    <p>nous a paye le reseau pour visioner youtube pendant les cours.</p>
                  </div>
                </li>
              </ul>
            </div><!-- .wrapper -->
          </div><!-- .col-* -->
        </div><!-- .row -->
      </div><!-- .row -->
    </div><!-- /.row -->
  </div>
</div>