<div class="panel-body">

  <div class="wrapper wrapper-content animated fadeInRight">

      <div class="table-responsive">

          <table class="table table-stripped table-bordered  identity">
              <tbody>
                  <tr>
                      <td>
                          <strong>{{ 'ShortName' | translate }}</strong><br />
                          {{schoolData.shortName}}
                      </td>
                      <td>
                          <strong>{{ 'StudentNumber' | translate }}</strong><br />
                          {{schoolData.nbrStudents}}
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>{{ 'Address1' | translate }}</strong><br />
                          {{schoolData.address.ad1}}
                      </td>
                      <td>
                        <strong>{{ 'PostalCode' | translate }}</strong><br />
                        {{schoolData.address.postcode}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>{{ 'City' | translate }}</strong><br />
                          {{schoolData.address.city}}
                      </td>
                      <td>
                        <strong>{{ 'Department' | translate }}</strong><br />
                        {{schoolData.cycles[0].address.academy.department}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Tel</strong><br />
                          +33 {{schoolData.address.phoneNumber}}
                      </td>
                      <td>
                        <strong>{{ 'Academy' | translate }}</strong><br />
                        {{schoolData.cycles[0].address.academy.name}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <strong>{{ 'Creation' | translate }}</strong><br />
                        {{schoolData.creationYear}}
                    </td>
                      <td>
                          <strong>{{ 'Website' | translate }}</strong><br />
                          <a target="_blank" href="http://{{schoolData.url}}">{{schoolData.url}}</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div *ngIf="schoolData.contact!==undefined">
        <h4>Contacts</h4>

        <div class="table-responsive">

            <table class="table table-bordered  identity">
                <tbody>
                    <tr>
                        <td>
                            <strong>{{ 'Title' | translate }}</strong><br />
                            {{schoolData.contact.gender}}
                        </td>
                        <td>
                            <strong>{{ 'FirstName' | translate }}</strong><br />
                            {{schoolData.contact.firstName}}
                        </td>
                        <td>
                            <strong>{{ 'LastName' | translate }}</strong><br />
                            {{schoolData.contact.lastName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{ 'Function' | translate }}</strong><br />
                            {{schoolData.contact.job}}
                        </td>
                        <td>
                            <strong>Mail</strong><br />
                            {{schoolData.contact.email}}
                        </td>
                        <td>
                            <strong>Tél </strong><br />
                            {{schoolData.contact.tel}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
      </div>




  </div><!-- .wrapper -->

</div><!-- .panel-body -->
