<main class="main white-background" role="main">
  
  <h2 class="title-page">Mon Compte</h2>
  
  <div class="container-fluid  my-account">
    
    <md-tab-group #tabGroup>
      <md-tab label="Parents">
        <app-myaccount-parents (goToChild)="goToChild($event)"></app-myaccount-parents>
      </md-tab>
      <md-tab label="Elève">
        <app-myaccount-children></app-myaccount-children>
      </md-tab>
      <md-tab label="Documentations">
        <app-myaccount-documentations></app-myaccount-documentations>
      </md-tab>
      <md-tab label="Recherches">
        <app-myaccount-mysearch></app-myaccount-mysearch>
      </md-tab>
    </md-tab-group>
    
  </div>

</main>