.header {
    background: center bottom url("../../../assets/images/header-background.png") no-repeat;
    background-size: contain;
    padding: 15px 10px;
    position: relative; 
    background-color: #444;
}

.cide-logo {
    width: 220px;
    height: auto;
    float: left; 
}

.sitename {
    position: absolute;
    top: 46%;
    left: 53%;
    margin: 0 -111px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: tada;
    animation-delay: 6s;
    font-size: 24px; 
    color: #fff;
}

.header .social-media-list {
  float: right;
  padding-top: 22px; }

.header .social-media-list a {
  font-size: 14px;
  padding: 3px 5px;
  position: relative;
  overflow: hidden;
  height: auto;
  width: auto;
  transition: ease .5 all; }

/*.header .social-media-list a:after { content: ''; width: 100%; height: 100%; background: #00bc50; position: absolute; top: 120%; left: 0; display: block; transition: ease .5 all; z-index: -1; opacity: 0; }*/
.header .social-media-list a:hover {
  background: #00bc50; }

.header .social-media-list a:hover i {
  -webkit-animation: TextSprite .25s forwards;
  -moz-animation: TextSprite .25s forwards;
  -ms-animation: TextSprite .25s forwards;
  -o-animation: TextSprite .25s forwards;
  animation: TextSprite .25s forwards; }

.header .social-media-list.in-header {
  position: absolute;
  right: 14px;
  top: 78px;
  padding-top: 0; }

.header .social-media-list.in-header li {
  margin: 0 2px; }

  .social-media-list {
  list-style: none;
  padding-left: 0; }

.social-media-list li {
  display: inline-block;
  margin: 0 7px; }

.social-media-list a {
  color: #fff;
  font-size: 18px; }