

<md-tab-group>
  <md-tab label="New mail">
    <div style="background-color : grey; padding-left:30%">
      <form [formGroup]="mailForm">
        <div class="row">
          <md-input-container>
            <input [formControl]="mailForm.controls['sender']" 
              mdInput placeholder="Expéditeur">
          </md-input-container>
        </div>
        <div class="row">
          <md-input-container>
            <input [formControl]="mailForm.controls['receiver']" 
              mdInput placeholder="Destinataire">
          </md-input-container>
        </div>
        <div class="row">
          <md-input-container>
            <input [formControl]="mailForm.controls['subject']" 
              mdInput placeholder="Sujet">
          </md-input-container>
        </div>
        <div class="row">
          <md-input-container>
            <input [formControl]="mailForm.controls['message']" 
              mdInput placeholder="Message">
          </md-input-container>
        </div>
        <div class="row">
          <md-select placeholder="Mail Type"
            [formControl]="mailForm.controls['mailType']" >
            <md-option *ngFor="let option of mailType" [value]="option">
              {{option}}
            </md-option>
          </md-select>
        </div>
        <div class="row">
          <md-select placeholder="Rank"
            [formControl]="mailForm.controls['rank']" >
            <md-option *ngFor="let option of rank" [value]="option">
              {{option}}
            </md-option>
          </md-select>
        </div>
        <div class="row">
          <button class="btn btn-primary" (click)="onSubmit()">Click me!</button>
        </div>
      </form>
    </div>
  </md-tab>
  <md-tab label="Liste des mails">
    <md-select placeholder="Mail type">
      <md-option *ngFor="let type of mailType" value="'type'"
        (click)="clickOnSelect(type)">
        {{type}}
      </md-option>
    </md-select>
    <ngx-datatable class="material"
                [columnMode]="'flex'"
                [rowHeight]="'auto'"
                [headerHeight]="50"
                [sorts]="[{prop: 'shortName', dir: 'asc'}]"
               [rows]="mailList" >

      <ngx-datatable-column name="Short Name" [flexGrow]="7">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'sender' }}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.senderProperty.sender}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="School Long Name" [flexGrow]="14" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'Mail Type'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.senderProperty.mailType}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Certifier" [flexGrow]="8" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'Receiver'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.recipientProperty[0].recipient }} - <br>
            <div *ngIf="row.certifier?.addresses[0]?.city!==null"><span class="data-column">{{ row.certifier?.addresses[0]?.city.cityName }}</span></div>

        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="RNCP Code" [flexGrow]="8" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'Message'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.message }}
        </ng-template>
      </ngx-datatable-column>

      <!--<ngx-datatable-column name="RNCP Level" [flexGrow]="8" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'rncpLevel'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.rncpLevel }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="RNCP Level Europe" [flexGrow]="9" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'rncpLevelEurope'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.europeanLevel }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="NFS Code" [flexGrow]="9" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'nfsCode'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngFor="let nfsCode of row.nfsCode">
            {{ nfsCode }} 
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Publication Date" [flexGrow]="8" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'publicationDate'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.publishedDate | date:'dd/MM/y' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Expiration Date" [flexGrow]="8" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'expirationDate'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.expiredDate | date:'dd/MM/y' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Mgt ADMTC" [flexGrow]="8" [sortable]="false">
          <ng-template let-column="column"
                      ngx-datatable-header-template>
              {{ 'MgtADMTC'}}
          </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.isAdmtcManagement ? 'YES': 'NO' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Certifier Contract" [flexGrow]="11" [sortable]="false">
        <ng-template let-column="column" 
          ngx-datatable-header-template>
          {{ 'CertifierContract'}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.certifierContract?.createdAt | date:'dd/MM/y'}} 
        </ng-template>
      </ngx-datatable-column>-->
    </ngx-datatable>

  </md-tab>
</md-tab-group>

        