<md-tab-group *ngIf="schoolDataToDisplay!=[]">
    <md-tab [label]="cycle.cycle.nom"
        *ngFor="let cycle of schoolDataToDisplay; let i=index">
            <div class="panel-body-course">
                
                <div class="wrapper wrapper-content animated fadeInRight">
                    
                    <div class="table-responsive">

                    <table class="table table-stripped table-bordered  identity  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Nom Cycle</strong><br />
                                    {{cycle.cycle.nom}}
                                </td>
                                <td>
                                    <strong>Adresse 1</strong><br />
                                    {{cycle.address.ad1}}
                                </td>
                                <td>
                                    <strong>Adresse 2</strong><br />
                                    {{cycle.address.ad2}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>CP</strong><br />
                                    {{cycle.address.postalcode}}
                                </td>
                                <td>
                                    <strong>Ville</strong><br />
                                    {{cycle.address.city}}
                                </td>
                                <td>
                                    <strong>Pays</strong><br />
                                    {{cycle.address.country}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Academie</strong><br />
                                    {{cycle.address.academy}}
                                </td>
                                <td>
                                    <strong>Departement</strong><br />
                                    {{cycle.address.departementName}}
                                </td>
                                <td>
                                    <strong>Region</strong><br />
                                    {{cycle.address.region}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Tel</strong><br />
                                    +33 {{cycle.address.phoneNumber}}
                                </td>
                                <td>
                                    <strong>Url Web</strong><br />
                                    <a href="#">{{cycle.address.url}}</a>
                                </td>
                                <td>
                                    <strong>Mél</strong><br />
                                    <a href="mailto:{{cycle.address.email}}">{{cycle.address.email}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                    <h4>Specificités</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Horaires Aménagés</strong><br />
                                    <span *ngIf="cycle.specifications.flexibleTimeFrame.value; else cycle1">Oui</span>
                                    <ng-template #cycle1><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Enfant Precoces</strong><br />
                                    <span *ngIf="cycle.specifications.advanced.value; else cycle2">Oui</span>
                                    <ng-template #cycle2><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Aides Financières - Bourse</strong><br />
                                    <span *ngIf="cycle.specifications.finance.value; else cycle3">Oui</span>
                                    <ng-template #cycle3><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Cours Francais Langue Etrangere - LFE</strong><br />
                                    <span *ngIf="cycle.specifications.foreignFrench.value; else cycle4">Oui</span>
                                    <ng-template #cycle4><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Accueil Handicapé, Dyslexie</strong><br />
                                    <span *ngIf="cycle.specifications.handicapped.value; else cycle5">Oui</span>
                                    <ng-template #cycle5><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Moyens d'acces</strong><br />
                                    {{cycle.specifications.transports}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Internat</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Capacité</strong><br />
                                    {{cycle.boarding.capacity}}
                                </td>
                                <td>
                                    <strong>Internat sur Place</strong><br />
                                    <span *ngIf="cycle.boarding.onSite.value; else cycle7">Oui</span>
                                    <ng-template #cycle7><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Internat externe</strong><br />
                                    <span *ngIf="cycle.boarding.notOnSite.value; else cycle8">Oui</span>
                                    <ng-template #cycle8><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Résidence Étudiante</strong><br />
                                    <span *ngIf="cycle.boarding.residence.value; else cycle9">Oui</span>
                                    <ng-template #cycle9><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Internat de semaine</strong><br />
                                    <span *ngIf="cycle.boarding.weekdays.value; else cycle10">Oui</span>
                                    <ng-template #cycle10><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Internat Permanent</strong><br />
                                    <span *ngIf="cycle.boarding.fulltime.value; else cycle11">Oui</span>
                                    <ng-template #cycle11><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Internat Certains Weekend</strong><br />
                                    <span *ngIf="cycle.boarding.someWeekEnds.value; else cycle12">Oui</span>
                                    <ng-template #cycle12><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Internat mixte</strong><br />
                                    <span *ngIf="cycle.boarding.mixed.value; else cycle13">Oui</span>
                                    <ng-template #cycle13><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Internat filles</strong><br />
                                    <span *ngIf="cycle.boarding.girls.value; else cycle14">Oui</span>
                                    <ng-template #cycle14><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Internat garcon</strong><br />
                                    <span *ngIf="cycle.boarding.boys.value; else cycle15">Oui</span>
                                    <ng-template #cycle15><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Chambres individuelles</strong><br />
                                    <span *ngIf="cycle.boarding.individual.value; else cycle16">Oui</span>
                                    <ng-template #cycle16><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Chambres 2 a 4 lits</strong><br />
                                    <span *ngIf="cycle.boarding['2to4'].value; else cycle17">Oui</span>
                                    <ng-template #cycle17><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>chambres 5 a 8 lits</strong><br />
                                    <span *ngIf="cycle.boarding['5to8'].value; else cycle18">Oui</span>
                                    <ng-template #cycle18><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Dortoirs</strong><br />
                                    <span *ngIf="cycle.boarding.dormitories.value; else cycle19">Oui</span>
                                    <ng-template #cycle19><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Prix</strong><br />
                                    {{cycle.boarding.cost}}€
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Stages</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Organisation du cursus</strong><br />
                                    {{cycle.extraCuriculumn.courseOrganization}}
                                </td>
                                <td>
                                    <strong>Stage pré-rentrée</strong><br />
                                    <span *ngIf="cycle.extraCuriculumn.preIntakeTraining.value; else cycle20">Oui</span>
                                    <ng-template #cycle20><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Stages petites vacances</strong><br />
                                    <span *ngIf="cycle.extraCuriculumn.smallHolidaysTraining.value; else cycle21">Oui</span>
                                    <ng-template #cycle21><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>stages de grandes vacances</strong><br />
                                    <span *ngIf="cycle.extraCuriculumn.bigHolidaysTraining.value; else cycle22">Oui</span>
                                    <ng-template #cycle22><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h4>Restaurantion</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Self-service</strong><br />
                                    <span *ngIf="cycle.canteen.selfService.value; else cycle23">Oui</span>
                                    <ng-template #cycle23><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Service à Table</strong><br />
                                    <span *ngIf="cycle.canteen.serviceAtTable.value; else cycle24">Oui</span>
                                    <ng-template #cycle24><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Cafeteria</strong><br />
                                    <span *ngIf="cycle.canteen.cafeteria.value; else cycle25">Oui</span>
                                    <ng-template #cycle25><span>Non</span></ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Externat</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Externat</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension']; else cycle26">Oui</span>
                                    <ng-template #cycle26><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>demi-pension mixte</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension_mixte']; else cycle27">Oui</span>
                                    <ng-template #cycle27><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>demi-pension garcons</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension_boys']; else cycle28">Oui</span>
                                    <ng-template #cycle28><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>demi-pension filles</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension_girls']; else cycle29">Oui</span>
                                    <ng-template #cycle29><span>Non</span></ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Autorisations</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Lien contact</strong><br />
                                    <!--+33 {{cycle.autoContact}}-->
                                    +33 0123456789
                                </td>
                                <td>
                                    <strong>Priorite Web</strong><br />
                                    <!--<a href="#">{{cycle.autoWebsite}}</a>-->
                                    <a >www.website.fr</a>
                                </td>
                                <td>
                                    <strong>Autorisation Web 1</strong><br />
                                    <span *ngIf="cycle.autorisations.autorization1; else cycle30">Oui</span>
                                    <ng-template #cycle30><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Autorisation Web 1</strong><br />
                                    <span *ngIf="cycle.autorisations.autorization1; else cycle31">Oui</span>
                                    <ng-template #cycle31><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Mailing List</strong><br />
                                    <span *ngIf="cycle.autorisations.autorization2; else cycle32">Oui</span>
                                    <ng-template #cycle32><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Stat Mail Fiche Consultee</strong><br />
                                    <span *ngIf="cycle.autorisations.ficheLink; else cycle33">Oui</span>
                                    <ng-template #cycle33><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Stat envoi immediat</strong><br />
                                    <span *ngIf="cycle.autorisations.immediate; else cycle34">Oui</span>
                                    <ng-template #cycle34><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Stat envoi quotidient</strong><br />
                                    <span *ngIf="cycle.autorisations.daily; else cycle35">Oui</span>
                                    <ng-template #cycle35><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong>Stat envoi hebdo</strong><br />
                                    <span *ngIf="cycle.autorisations.weekly; else cycle36">Oui</span>
                                    <ng-template #cycle36><span>Non</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Stat envoi mensuel</strong><br />
                                    <span *ngIf="cycle.autorisations.monthly; else cycle37">Oui</span>
                                    <ng-template #cycle37><span>Non</span></ng-template>
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Statut</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Statut 1</strong><br />
                                    <span *ngFor="let status of cycle.status1">
                                        {{status}}<br>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Statut 2</h5>
                    <table class="table table-stripped table-bordered">
                        <tbody>
                                <!--<tr>
                                    <td>Sous Contrat D'association<br /> Oui</td>
                                    <td>Hors contrat<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>CFA<br /> Oui</td>
                                    <td>UFA<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>Reconnue par l'Etat<br /> Oui</td>
                                    <td>en convention avec l'Etat<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>Enseignement superieur Libre<br /> Oui</td>
                                    <td>Enseignement superieur<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>Enseignement superieur technique<br /> Non</td>
                                    <td>Sous contrat simple<br /> Non</td>
                                </tr>-->
                            <tr>
                                <td>
                                    <span *ngFor="let status of cycle.status2">
                                        {{status}}<br>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Statut 3</h5>
                    <table class="table table-stripped table-bordered">
                        <tbody>
                                <!--<tr>
                                    <td>Laique<br /> Non</td>
                                    <td>Confessionel<br /> Oui, Catholique</td>
                                </tr>  -->
                            <tr>
                                <td>
                                    <span *ngFor="let status of cycle.status3">
                                        {{status}}<br>
                                    </span>
                                </td>
                            </tr>            
                        </tbody>
                    </table>
                </div>
            </div><!-- .wrapper -->

        </div><!-- .panel-body -->
    </md-tab>
</md-tab-group>

        

