<div class="panel-body-course">
    
    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="table-responsive">

          <table class="table table-stripped table-bordered  identity  formation-table">
              <tbody>
                  <tr>
                      <td>
                          <strong>Nom Cycle</strong><br />
                          Moreau
                      </td>
                      <td>
                          <strong>Adr 1</strong><br />
                          
                      </td>
                      <td>
                          <strong>Adr 2</strong><br />
                          
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>CP</strong><br />
                          1832
                      </td>
                      <td>
                          <strong>Ville</strong><br />
                          
                      </td>
                      <td>
                          <strong>Pays</strong><br />
                          FR
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Academie</strong><br />
                          Versailles
                      </td>
                      <td>
                          <strong>Departement</strong><br />
                          Essone
                      </td>
                      <td>
                          <strong>Region</strong><br />
                          Ile de France
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Tel</strong><br />
                          +33 598 776
                      </td>
                      <td>
                          <strong>Url Web</strong><br />
                          <a href="#">website.com</a>
                      </td>
                      <td>
                          <strong>Mél</strong><br />
                          <a href="mailto:nom@mel.com">nom@mel.com</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    
        <h4>Specificites</h4>
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  specification  formation-table">
              <tbody>
                  <tr>
                      <td>
                          <strong>Horaires Aménagés</strong><br />
                          Oui,
                      </td>
                      <td>
                          <strong>Enfant Precoces</strong><br />
                          Oui,
                      </td>
                      <td>
                          <strong>Aides Financières - Bourse</strong><br />
                          Oui,
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Cours Francais Langue Etrangere - LFE</strong><br />
                          Oui,
                      </td>
                      <td>
                          <strong>Accueil Handicapé, Dyslexie</strong><br />
                          Non,
                      </td>
                      <td>
                          <strong>Moyens d'acces</strong><br />
                          
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>


      <h4>Internat</h4>
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  specification  formation-table">
              <tbody>
                  <tr>
                      <td>
                          <strong>Internat</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong>Capacité</strong><br />
                          1000
                      </td>
                      <td>
                          <strong>Commentaires Internat</strong><br />
                          
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Internat sur Place</strong><br />
                          Oui,
                      </td>
                      <td>
                          <strong>Internat externe</strong><br />
                          Oui, 
                      </td>
                      <td>
                          <strong>Résidence Étudiante</strong><br />
                          Oui, 
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Internat de semaine</strong><br />
                          Oui,
                      </td>
                      <td>
                          <strong>Internat Permanent</strong><br />
                          Oui, 
                      </td>
                      <td>
                          <strong>Internat Certains Weekend</strong><br />
                          Oui, 
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Internat mixte</strong><br />
                          Oui,
                      </td>
                      <td>
                          <strong>Internat filles</strong><br />
                          Oui,
                      </td>
                      <td>
                          <strong>Internat garcon</strong><br />
                          Non,
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Chambres individuelles</strong><br />
                          Non,
                      </td>
                      <td>
                          <strong>Chambres 2 a 4 lits</strong><br />
                          Non,
                      </td>
                      <td>
                          <strong>chambres 5 a 8 lits</strong><br />
                          Non,
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Dortoirs</strong><br />
                          Non,
                      </td>
                      <td>
                          <strong>&nbsp;</strong><br />
                          
                      </td>
                      <td>
                          <strong>&nbsp;</strong><br />
                          
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>


      <h4>Stages</h4>
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  specification  formation-table">
              <tbody>
                  <tr>
                      <td>
                          <strong>Organisation du cursus</strong><br />
                          
                      </td>
                      <td>
                          <strong>stage pre-rentree</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong>stages petites vacances</strong><br />
                          Oui
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>stages de grandes vacances</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong></strong><br />
                          
                      </td>
                      <td>
                          <strong></strong><br />
                          
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <h4>Restaurantion</h4>
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  specification  formation-table">
              <tbody>
                  <tr>
                      <td>
                          <strong>self-service</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong>Service a Table</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong>Cafeteria</strong><br />
                          Non
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>


      <h4>Externat</h4>
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  specification  formation-table">
              <tbody>
                  <tr>
                      <td>
                          <strong>Externat</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong>demi-pension mixte</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong>demi-pension garcons</strong><br />
                          Oui
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>demi-pension filles</strong><br />
                          &nbsp;
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>


      <h4>Autorisations</h4>
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  specification  formation-table">
              <tbody>
                  <tr>
                      <td>
                          <strong>Lien contact</strong><br />
                          +33 598 776
                      </td>
                      <td>
                          <strong>Priorite Web</strong><br />
                          <a href="#">Website.com</a>
                      </td>
                      <td>
                          <strong>Autorisation Web 1</strong><br />
                          Oui
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Autorisation Web 2</strong><br />
                          Oui
                      </td>
                      <td>
                          <strong>Mailing List</strong><br />
                          Non
                      </td>
                      <td>
                          <strong>Stat Mail Fiche Consultee</strong><br />
                          Oui
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Stat envoi immediat</strong><br />
                          Non
                      </td>
                      <td>
                          <strong>Stat envoi quotien</strong><br />
                          Non
                      </td>
                      <td>
                          <strong>Stat envoi hebdo</strong><br />
                          Oui
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <strong>Stat envoi mensuel</strong><br />
                          &nbsp;
                      </td>
                      <td>
                          <strong></strong><br />
                          
                      </td>
                      <td>
                          <strong></strong><br />
                          
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>


      <h4>Statut</h4>
      <div class="table-responsive">

          <table class="table table-stripped table-bordered  specification">
              <tbody>
                  <tr>
                      <td>
                          <strong>Statut 1</strong><br />
                          Public
                      </td>
                  </tr>
              </tbody>
          </table>

          <h5>Statut 2</h5>
          <table class="table table-stripped table-bordered">
              <tbody>
                      <tr>
                          <td>Sous Contrat D'association<br /> Oui</td>
                          <td>Hors contrat<br /> Oui</td>
                      </tr>
                      <tr>
                          <td>CFA<br /> Oui</td>
                          <td>UFA<br /> Oui</td>
                      </tr>
                      <tr>
                          <td>Reconnue par l'Etat<br /> Oui</td>
                          <td>en convention avec l'Etat<br /> Oui</td>
                      </tr>
                      <tr>
                          <td>Enseignement superieur Libre<br /> Oui</td>
                          <td>Enseignement superieur<br /> Oui</td>
                      </tr>
                      <tr>
                          <td>Enseignement superieur technique<br /> Non</td>
                          <td>Sous contrat simple<br /> Non</td>
                      </tr>
              
              </tbody>
          </table>

          <h5>Statut 3</h5>
          <table class="table table-stripped table-bordered">
              <tbody>
                      <tr>
                          <td>Laique<br /> Non</td>
                          <td>Confessionel<br /> Oui, Catholique</td>
                      </tr>              
              </tbody>
          </table>
      </div>


    </div><!-- .wrapper -->

</div><!-- .panel-body -->