<md-tab-group *ngIf="schoolDataToDisplay!=[]">
    <md-tab [label]="cycle.cycle.nom"
        *ngFor="let cycle of schoolDataToDisplay; let i=index">
            <div class="panel-body-course">
                
                <div class="wrapper wrapper-content animated fadeInRight">
                    <h4>Contact</h4>
                    <div class="table-responsive">

                    <table class="table table-stripped table-bordered  identity  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'CycleName' | translate }}</strong><br />
                                    {{cycle.cycle.nom}}
                                </td>
                                <td>
                                    <strong>{{ 'Address1' | translate }}</strong><br />
                                    {{cycle.address.ad1}}
                                </td>
                                <td>
                                    <strong>{{ 'Address2' | translate }}</strong><br />
                                    {{cycle.address.ad2}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'Title' | translate }}</strong><br />
                                    {{cycle.contact.gender}}
                                </td>
                                <td>
                                    <strong>{{ 'FirstName' | translate }}</strong><br />
                                    {{cycle.contact.firstName}}
                                </td>
                                <td>
                                    <strong>{{ 'LastName' | translate }}</strong><br />
                                    {{cycle.contact.lastName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'Function' | translate }}</strong><br />
                                    {{cycle.contact.job}}
                                </td>
                                <td>
                                    <strong>Mail</strong><br />
                                    {{cycle.contact.email}}
                                </td>
                                <td>
                                    <strong>Tél</strong><br />
                                    {{cycle.contact.phone}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                    <h4>Specificités</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'ArrangedSchedules' | translate }}</strong><br />
                                    <span *ngIf="cycle.specifications.flexibleTimeFrame.value; else cycle1">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle1><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'EarlyChild' | translate }}</strong><br />
                                    <span *ngIf="cycle.specifications.advanced.value; else cycle2">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle2><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'FinancialHelpScholarship' | translate }}</strong><br />
                                    <span *ngIf="cycle.specifications.finance.value; else cycle3">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle3><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'LFE' | translate }}</strong><br />
                                    <span *ngIf="cycle.specifications.foreignFrench.value; else cycle4">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle4><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'HandicappedHomeDyslexia' | translate }}</strong><br />
                                    <span *ngIf="cycle.specifications.handicapped.value; else cycle5">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle5><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'Access' | translate }}</strong><br />
                                    {{cycle.specifications.transports}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Internat</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'Capacity' | translate }}</strong><br />
                                    {{cycle.boarding.capacity}}
                                </td>
                                <td>
                                    <strong>{{ 'BoardingSchoolOnSite' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.onSite.value; else cycle7">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle7><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'ExternalBoardingSchool' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.notOnSite.value; else cycle8">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle8><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'StudentResidence' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.residence.value; else cycle9">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle9><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'WeekBoardingSchool' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.weekdays.value; else cycle10">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle10><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'PermanantBoardingSchool' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.fulltime.value; else cycle11">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle11><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'SomeWeekendBoardingSchool' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.someWeekEnds.value; else cycle12">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle12><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'MixtBoardingSchool' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.mixed.value; else cycle13">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle13><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'GirlBoardingSchool' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.girls.value; else cycle14">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle14><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'BoyBoardingSchool' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.boys.value; else cycle15">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle15><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'InduvidualRoom' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.individual.value; else cycle16">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle16><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ '2At4Bed' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding['2to4'].value; else cycle17">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle17><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ '3At5Bed' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding['5to8'].value; else cycle18">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle18><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'Dormitory' | translate }}</strong><br />
                                    <span *ngIf="cycle.boarding.dormitories.value; else cycle19">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle19><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'Price' | translate }}</strong><br />
                                    {{cycle.boarding.cost}}€
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>{{ 'Internship' | translate }}</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'CursusOrganization' | translate }}</strong><br />
                                    {{cycle.extraCuriculumn.courseOrganization}}
                                </td>
                                <td>
                                    <strong>{{ 'PreEntryInternship' | translate }}</strong><br />
                                    <span *ngIf="cycle.extraCuriculumn.preIntakeTraining.value; else cycle20">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle20><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'SmallHolidayInternship' | translate }}</strong><br />
                                    <span *ngIf="cycle.extraCuriculumn.smallHolidaysTraining.value; else cycle21">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle21><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'BigHolidayInternship' | translate }}</strong><br />
                                    <span *ngIf="cycle.extraCuriculumn.bigHolidaysTraining.value; else cycle22">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle22><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h4>{{ 'Restoration' | translate }}</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'SelfService' | translate }}</strong><br />
                                    <span *ngIf="cycle.canteen.selfService.value; else cycle23">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle23><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'TableService' | translate }}</strong><br />
                                    <span *ngIf="cycle.canteen.serviceAtTable.value; else cycle24">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle24><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'Cafeteria' | translate }}</strong><br />
                                    <span *ngIf="cycle.canteen.cafeteria.value; else cycle25">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle25><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>{{ 'Externship' | translate }}</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'Externship' | translate }}</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension']; else cycle26">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle26><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'MixtHalfPension' | translate }}</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension_mixte']; else cycle27">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle27><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'BoyHalfPension' | translate }}</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension_boys']; else cycle28">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle28><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'GirlHalfPension' | translate }}</strong><br />
                                    <span *ngIf="cycle.externat['demi-pension_girls']; else cycle29">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle29><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>{{ 'Permissions' | translate }}</h4>
                <div class="table-responsive">

                    <table class="table table-stripped table-bordered  specification  formation-table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>{{ 'ContactLink' | translate }}</strong><br />
                                    +33 {{cycle.contactLink}}
                                </td>
                                <td>
                                    <strong>{{ 'WebPriority' | translate }}</strong><br />
                                    <a href="{{cycle.link}}">{{cycle.link}}</a>
                                </td>
                                <td>
                                    <strong>{{ 'WebPermission1' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.autorization1; else cycle30">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle30><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'WebPermission1' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.autorization1; else cycle31">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle31><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'MailingList' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.autorization2; else cycle32">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle32><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'StatMailFiche' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.ficheLink; else cycle33">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle33><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'StatSendsImmediate' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.immediate; else cycle34">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle34><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'StatSendsDaily' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.daily; else cycle35">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle35><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong>{{ 'StatSendsWeekly' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.weekly; else cycle36">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle36><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>{{ 'StatSendsMonthly' | translate }}</strong><br />
                                    <span *ngIf="cycle.autorisations.monthly; else cycle37">{{ 'Yes' | translate }}</span>
                                    <ng-template #cycle37><span>{{ 'No' | translate }}</span></ng-template>
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                                <td>
                                    <strong></strong><br />
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Statut</h4>
                <div class="table-responsive">

                    <h5>Statut 1</h5>
                    <table class="table table-stripped table-bordered  specification">
                        <tbody>
                            <tr>
                                <td>
                                    <span *ngFor="let status of cycle.status1">
                                        {{status}}<br>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Statut 2</h5>
                    <table class="table table-stripped table-bordered">
                        <tbody>
                                <!--<tr>
                                    <td>Sous Contrat D'association<br /> Oui</td>
                                    <td>Hors contrat<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>CFA<br /> Oui</td>
                                    <td>UFA<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>Reconnue par l'Etat<br /> Oui</td>
                                    <td>en convention avec l'Etat<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>Enseignement superieur Libre<br /> Oui</td>
                                    <td>Enseignement superieur<br /> Oui</td>
                                </tr>
                                <tr>
                                    <td>Enseignement superieur technique<br /> Non</td>
                                    <td>Sous contrat simple<br /> Non</td>
                                </tr>-->
                            <tr>
                                <td>
                                    <span *ngFor="let status of cycle.status2">
                                        {{status}}<br>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Statut 3</h5>
                    <table class="table table-stripped table-bordered">
                        <tbody>
                                <!--<tr>
                                    <td>Laique<br /> Non</td>
                                    <td>Confessionel<br /> Oui, Catholique</td>
                                </tr>  -->
                            <tr>
                                <td>
                                    <span *ngFor="let status of cycle.status3">
                                        {{status}}<br>
                                    </span>
                                </td>
                            </tr>            
                        </tbody>
                    </table>
                </div>
            </div><!-- .wrapper -->

        </div><!-- .panel-body -->
    </md-tab>
</md-tab-group>

        

