<div id="main-container" class="main-container-media">
			<header id="header" class="row">
				<div class="col-md-6">
					<h2 class="">Les Écoles de Commerce en Article</h2>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<p class="wrapper"><input type="text" name="search" class="" placeholder="Tapez votre recherche"></p>
				</div>
			</header><!-- /header -->

			<section class="images-section">
				<div class="row">
					<div class="col-sm-6 media1">
						<img src="images/media-1.png">
						<p>Summer camps international campus</p>
					</div>
					<div class="col-sm-6">
						<div class="media2">
							<img src="images/media-2.png" alt="">
							<p>L'enseignement bilingue</p>
						</div>
						<div class="media3">
							<img src="images/media-3.png" alt="">
							<p>Les sejours linguistiques</p>
						</div>
					</div>
				</div>

				<div class="little-articles">
					<div class="little-article">
						<span class="badge">14:11</span>
						<h3>Sejours en famille avec cours collectifs</h3>
						<img src="images/media-1.png" alt="">
					</div>
					<div class="little-article">
						<span class="badge">04:09</span>
						<h3>Summer camps international campus</h3>
						<img src="images/media-2.png" alt="">
					</div>
					<div class="little-article">
						<span class="badge">04:07</span>
						<h3>L'immersion totale c'est l'accueil chez l'habitant</h3>
						<img src="images/media-3.png" alt="">
					</div>
					<div class="little-article">
						<span class="badge">04:05</span>
						<h3>Il sont tres variables en fonc</h3>
						<img src="images/media-1.png" alt="">
					</div>
					<div class="little-article">
						<span class="badge">04:03</span>
						<h3>Les organismes les moins onereux ne sont donc</h3>
						<img src="images/media-2.png" alt="">
					</div>
				</div>

				<div class="controllers">
					<span class="badge"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
    				<span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
				</div>
			</section>
 
		</div>
