<div class="white-background">

    <div class="container  documentation">

        <div class="row">
            <section class="col-md-12">
                <h2 class="brochure-title">Je télécharge une ou plusieurs documentations d'école</h2>
            </section>
            <section class="col-md-12">

                <form class="form-inline searchform">
                    <div class="form-wrap row">
                        
                        <section class="col-md-11">

                            <div class="row">

                                <div class="col-md-11">
                                    <div class="row">
                                        <form [formGroup]="searchForm">
                                            <div class="col-md-4  col-xs-6">
                                                <div class="form-group">
                                                    <label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class"
                                                            [formControl]="searchForm.controls['classe']">
                                                            <option value="" disabled selected hidden>Classe</option>
                                                            <option value="">&nbsp;Indifférent</option>
															<option value="" disabled style="color:red">
                                                                &nbsp;Classes maternelles
                                                            </option>
                                                            <option value="ps">&nbsp;Petite section (PS)</option>
                                                            <option value="ms">&nbsp;Moyenne section (MS)</option>
                                                            <option value="gs">&nbsp;Grande Section (GS)</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;Classes élémentaires
                                                            </option>
                                                            <option value="cp">&nbsp;Cours préparatoire (CP)</option>
                                                            <option value="ce1">&nbsp;Cours élémentaire 1er année(CE1)</option>
                                                            <option value="ce2">&nbsp;Cours élémentaire 2è année (CE2)</option>
                                                            <option value="cm1">&nbsp;Cours Moyen 1er année(CM1)</option>
                                                            <option value="cm2">&nbsp;Cours Moyen 2è année(CM2)</option>
                                                            <option value="6e">&nbsp;6ème</option>
															<option value="cinquieme">&nbsp;5ème</option>
                                                            <option value="quatrieme">&nbsp;4ème</option>
                                                            <option value="troisieme">&nbsp;3ème</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;Classes de seconde
                                                            </option>
                                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                                            <option value="seconde_probation">&nbsp;2nde de probation (ou méthodologique)</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;Classes de première
                                                            </option>
                                                            <option value="premiere_es">&nbsp;1ere ES - Economique et Sociale</option>
                                                            <option value="premiere_l">&nbsp;1ere L - Littéraire</option>
                                                            <option value="premiere_s">&nbsp;1ere S - Scientifique</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;Classes de terminale
                                                            </option>
                                                            <option value="terminale_s">&nbsp;Tle ES - Economique et Sociale</option>
                                                            <option value="terminale_l">&nbsp;Tle L - Littéraire</option>
                                                            <option value="terminale_s">&nbsp;Tle S - Scientifique</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;Cursus international
                                                            </option>
                                                            <option value="CI">&nbsp;Cursus International</option>
                                                            <option value="BAC-I">&nbsp;Cursus Bac. International</option>
                                                            <option value="cursus_non_francophone">&nbsp;Cursus non francophone (GB-US)</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;STRH - Sciences et Technologies de l'hôtellerie et de la restauration
                                                            </option>
                                                            <option value="seconde_sthr">&nbsp;2nde spécifique STHR</option>
                                                            <option value="premiere_sthr">&nbsp;1ere d’adaptation STHR</option>
                                                            <option value="premiere_sthr">&nbsp;1ere STHR</option>
                                                            <option value="terminale_sthr">&nbsp;Terminale STHR</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;ST2S - Sciences et Technologies de la santé et du social
                                                            </option>
                                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                                            <option value="premiere_sti2s">&nbsp;1ere d’adaptation ST2S</option>
                                                            <option value="premiere_st2s">&nbsp;1ere ST2S</option>
                                                            <option value="terminale_st2s">&nbsp;Terminale STIS</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;STD2A - Sciences et Technologies du Design et des Arts Appliqués
                                                            </option>
                                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                                            <option value="premiere_std2a">&nbsp;1ère STI2A</option>
                                                            <option value="terminale_std2a">&nbsp;Terminale STI2A</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;STI2D - Sciences et Technologies de l'Industrie et du Développement Durable
                                                            </option>
                                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                                            <option value="premiere_sti2d">&nbsp;1ère STI2D</option>
                                                            <option value="terminale_sti2d">&nbsp;Terminale ST2D – Architecture et Construction</option>
                                                            <option value="terminale_sti2d">&nbsp;Terminale STI2D – Energie et Environnement</option>
                                                            <option value="terminale_sti2d">&nbsp;Termianale STI2D – Innovation Technologique et Eco-conception</option>
                                                            <option value="terminale_sti2d">&nbsp;Terminale STI2D – Systèmes D’Information Numérique</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;STMG - Sciences et Technologies du Management et de la Gestion
                                                            </option>
                                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                                            <option value="premiere_stmg">&nbsp;1ère d’adaptation STMG</option>
                                                            <option value="premiere_stmg">&nbsp;1ère STMG</option>
                                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Gestion et Finance</option>
                                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Mercatique</option>
                                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Ressources Humaines et Communication</option>
                                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Systèmes D’Information et de Gestion</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;STL - Sciences et Technologies de Laboratoire
                                                            </option>
                                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                                            <option value="premiere_stl">&nbsp;1ère d’adaptation STL</option>
                                                            <option value="premiere_stl">&nbsp;1ère STL</option>
                                                            <option value="terminale_stl">&nbsp;Terminale STL – Biotechnologies</option>
                                                            <option value="terminale_stl">&nbsp;Terminale STL – Sciences Physiques et Chimiques en Laboratoire</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;STAV - Sciences et Technologies de l'Agronomie et du Vivant (lycées agricoles)
                                                            </option>
                                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                                            <option value="premiere_stav">&nbsp;1ère d’adaptation STAV</option>
                                                            <option value="premiere_stav">&nbsp;1ère STAV</option>
                                                            <option value="terminale_stav">&nbsp;Terminale STAV</option>
                                                            <option value="" disabled style="color:red">
                                                                &nbsp;TMD - Techniques de la Musique et de la Danse
                                                            </option>
                                                            <option value="2ndeTMD">&nbsp;2nde spécifique TMD</option>
                                                            <option value="premiere_tmd">&nbsp;1ère d’adaptation TMD</option>
                                                            <option value="premiere_tmd">&nbsp;1ère TMD</option>
                                                            <option value="terminale_tmd">&nbsp;Terminale TMD - Danse</option>
                                                            <option value="terminale_tmd">&nbsp;Terminale TMD - Musique</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4  col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Lieu" 
                                                        [formControl]="searchForm.controls['lieu']" 
                                                        [mdAutocomplete]="auto"
                                                        (keyup)="filterLieu($event)"/>
                                                    <md-autocomplete #auto="mdAutocomplete">
                                                        <md-option disabled *ngIf="options['regions'].length!=0">Régions</md-option>
                                                        <md-option *ngFor="let option of options.regions" [value]="option">
                                                            &nbsp;{{ option }}
                                                        </md-option>
                                                        <md-option disabled *ngIf="options['departements'].length!=0">Départements</md-option>
                                                        <md-option *ngFor="let option of options.departements" [value]="option.departmentName">
                                                            &nbsp;{{ option.departmentName }} ({{option.departmentNumber}})
                                                        </md-option>
                                                        <md-option disabled *ngIf="options['villes'].length!=0">Villes</md-option>
                                                        <md-option *ngFor="let option of options.villes" [value]="option.cityName">
                                                            &nbsp;{{ option.cityName }}
                                                        </md-option>
                                                    </md-autocomplete>
                                                </div>
                                            </div>

                                            <div class="col-md-4  col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nom d'etablissement" 
                                                        [formControl]="searchForm.controls['etablissement']"
                                                        [mdAutocomplete]="autoSchool"
                                                        (keyup)="filterSchool($event)"/>
                                                    
                                                    <md-autocomplete #autoSchool="mdAutocomplete">
                                                    <md-option *ngFor="let school of schoolsOptions" 
                                                            [value]="school.longName">
                                                            {{ school.longName }}
                                                        </md-option>
                                                    </md-autocomplete>
                                                </div>
                                            </div>

                                        </form>
                                    </div><!-- .row -->
                                </div><!-- .col-* -->
                                
                                <div class="col-md-1">
                                    <button class="btn btn-search" (click)="onSubmitSearch()"
                                        [disabled]="searchForm.controls['etablissement'].value.length==0 && 
                                        (searchForm.controls['lieu'].value.length==0 || 
                                        searchForm.controls['classe'].value.length==0)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div><!-- -->

                            </div><!-- .row -->

                        </section><!-- .col-* -->

                        <section class="col-md-1">
                            <button type="button" 
                                class="btn btn-secondary btn-lg  pull-right btn-download btn-block" 
                                data-toggle="modal" 
                                (click)="brochDialog()"
                                [disabled]="downloadList.length==0">
                                <i class="fa fa-download"></i>
                            </button>
                        </section><!-- .col-* -->

                    </div><!-- .form-wrap -->
                </form><!-- .col-* -->

            </section>
            
        </div><!-- .row -->

        <div class="row brochure-content">
            <div id="js-grid-juicy-projects" class="row">
                
                <div *ngFor="let brochure of listBrochuresFiltered" >
                    <div *ngFor="let cycle of brochure.cycles" class="graphic brochure-item col-md-3">
                        <div class="checkbox-custom">
                            <md-checkbox (click)="onCheckbox(cycle._id)" class="download"></md-checkbox>
                            <label for="download">&nbsp;</label>
                        </div>
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <div class="image-wrap">
                                    <span class="vertical-helper"></span>
                                    <img src="http://54.254.203.172/cideapi/{{cycle.logo1}}" alt="" />
                                </div>
                            </div>
                            <!--<div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="../../assets/brochure/1.pdf" download="1.pdf" target="_self"
                                            class="btn-appointment btn red uppercase btn red uppercase"
                                            rel="nofollow"> <i class="fa fa-download"></i>
                                        Télécharger
                                        </a>
                                    </div>
                                </div>
                            </div>-->
                            <div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
                                        <a class="btn-appointment btn red uppercase btn red uppercase"
                                            (click)="onDownloadBrochure(brochure._id, cycle._id)"
                                            rel="nofollow"> <i class="fa fa-download"></i>
                                            Télécharger
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
						<div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">
							{{brochure.shortName}}
						</div>
						<div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">
							Nom du Cycle : {{cycle.cycle.nom}}
						</div>
                    </div><!-- end second for -->
              
                </div><!-- end first for -->

            </div>

        </div><!-- .row -->
        <div *ngIf="listBrochuresFiltered.length==0" class="row">
            <p style="width:100%;
                text-align:center; font-size : 35px">Il n'y a pas de documentation pour cette recherche.</p>
        </div>
    
    </div><!-- .container-fluid -->

</div>

