<div class="white-background">

    <div class="container  documentation">

        <div class="row">
            <section class="col-md-12">
                <h2 class="brochure-title">Je télécharge une ou plusieurs documentations d'école</h2>
            </section>
            <section class="col-md-12">

                <form class="form-inline searchform">
                    <div class="form-wrap row">
                        
                        <section class="col-md-10">

                            <div class="row">

                                <div class="col-md-11">
                                    <div class="row">
                                        <form [formGroup]="searchForm">
                                            <div class="col-md-4  col-xs-6">
                                                <div class="form-group">
                                                    <label class="select-custom" for="class">
                                                        <select name="class" class="form-control" id="class"
                                                            [formControl]="searchForm.controls['classe']">
                                                            <option value="" disabled selected hidden>Classe</option>
                                                            <optgroup label="Cycle 1 : Apprentissages Premiers">
                                                                <option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                                                <option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                                                <option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                                            </optgroup>
                                                            <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                                <option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                                                <option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                                                <option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                                            </optgroup>
                                                            <optgroup label="Cycle 3 : Consolidation">
                                                                <option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                                                <option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                                                <option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</option>
                                                            </optgroup>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4  col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Lieu" 
                                                        [formControl]="searchForm.controls['lieu']" 
                                                        [mdAutocomplete]="auto"
                                                        (keyup)="filterLieu($event)"/>
                                                    <md-autocomplete #auto="mdAutocomplete">
                                                        <md-option *ngFor="let option of options" [value]="option.cityName">
                                                            {{ option.cityName }}
                                                        </md-option>
                                                    </md-autocomplete>
                                                </div>
                                            </div>

                                            <div class="col-md-4  col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nom d'etablissement" 
                                                        [formControl]="searchForm.controls['etablissement']"
                                                        [mdAutocomplete]="autoSchool"
                                                        (keyup)="filterSchool($event)"/>
                                                    
                                                    <md-autocomplete #autoSchool="mdAutocomplete">
                                                    <md-option *ngFor="let school of schoolsOptions" 
                                                            [value]="school.longName">
                                                            {{ school.longName }}
                                                        </md-option>
                                                    </md-autocomplete>
                                                </div>
                                            </div>

                                        </form>
                                    </div><!-- .row -->
                                </div><!-- .col-* -->
                                
                                <div class="col-md-1">
                                    <button class="btn btn-search" (click)="onSubmitSearch()"
                                        [disabled]="searchForm.controls['etablissement'].value.length==0 && 
                                        (searchForm.controls['lieu'].value.length==0 || 
                                        searchForm.controls['classe'].value.length==0)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div><!-- -->

                            </div><!-- .row -->

                        </section><!-- .col-* -->

                        <section class="col-md-2">
                            <button type="button" 
                                class="btn btn-secondary btn-lg  pull-right btn-download btn-block" 
                                data-toggle="modal" 
                                (click)="brochDialog()"
                                [disabled]="downloadList.length==0">
                                <i class="fa fa-download"></i>
                            </button>
                        </section><!-- .col-* -->

                    </div><!-- .form-wrap -->
                </form><!-- .col-* -->

            </section>
            <section class="holder-modal">
                <!-- <button type="button" class="btn btn-secondary btn-lg  pull-right btn-download" data-toggle="modal" data-target="#download-popup"><i class="fa fa-download"></i></button> -->

                <div class="modal fade" id="download-popup" tabindex="-1" role="dialog" aria-labelledby="apply-popup">
                    <div class="modal-dialog modal-download" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#tab1" data-toggle="tab">Formulaire</a></li>
                                    <li><a href="#tab2" data-toggle="tab">Profil Scolaire</a></li>
                                </ul>

                                    <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        <p class="note">Pour télécharger les documentations demandées, veuillez saisir votre contact ainsi que le profile scolaire concerné</p>

                                        <h3>Parents</h3>

                                        <div class="form-group">
                                            <div class="select-custom">
                                                <select name="" class="form-control">
                                                    <option value="" disabled selected hidden>Lien de Parenté</option>
                                                    <option value="">Père</option>
                                                    <option value="">Mère</option>
                                                    <option value="">Oncle</option>
                                                    <option value="">Tante</option>
                                                    <option value="">Grand-Père</option>
                                                    <option value="">Grand-Mère</option>
                                                    <option value="">Tuteur</option>
                                                    <option value="">Tutric</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group horizontal-radio clearfix">
                                            <label class="custom-radio"><input type="radio" name="gender"> <span>Mme</span></label>
                                            <label class="custom-radio"><input type="radio" name="gender"> <span>Melle</span></label>
                                            <label class="custom-radio"><input type="radio" name="gender"> <span>M.</span></label>
                                        </div>

                                        
                                        <div class="row">
                                            <div class="col-sm-6  col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nom">
                                                </div>
                                            </div>
                                            <div class="col-sm-6  col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Prénom">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Téléphone auquel je suis joignable">
                                                </div>
                                            </div>
                                        </div>

                                        <h3>Enfant</h3>
                                        <div class="row">
                                            <div class="col-sm-6  col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nom">
                                                </div>
                                            </div>
                                            <div class="col-sm-6  col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Prénom">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!-- <div class="col-sm-12">
                                                <div class="row"> -->
                                                    <div class="col-sm-3  col-xs-6">
                                                        <div class="form-group">
                                                            <input type="number" class="form-control" max="120" min="1" placeholder="Age">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3  hidden-xs">&nbsp;</div>
                                                
                                                    <div class="col-sm-6  col-xs-6">
                                                        <div class="form-group">
                                                            <div class="horizontal-radio">
                                                                <label class="custom-radio"><input type="radio" name="gender"> <span>Garçon</span></label>
                                                                <label class="custom-radio"><input type="radio" name="gender"> <span>Fille</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- </div>
                                            </div> -->
                                        </div>


                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Nom Etablissement Actuel">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="form-group  col-sm-12  col-xs-6">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control" placeholder="Ville">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group  col-sm-12  col-xs-6">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="select-custom">
                                                            <select name="" class="form-control">
                                                                <option value="" disabled selected hidden>Classe</option>
                                                                <optgroup label="Cycle 1 : Apprentissages Premiers">
                                                                    <option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                                                    <option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                                                    <option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                                                </optgroup>
                                                                <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                                    <option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                                                    <option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                                                    <option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                                                </optgroup>
                                                                <optgroup label="Cycle 3 : Consolidation">
                                                                    <option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                                                    <option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                                                    <option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="checkbox" id="school-1" class="checkbox" /><label for="school-1">Je souhaite recevoir un copie de votre message</label>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" data-dismiss="modal" class="btn btn-highlighted">Annuler</button>
                                        <a href="#tab2" data-toggle="tab" class="btn btn-secondary">Suivant</a>

                                    </div><!-- .tab-pane -->

                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                        <p class="note">Pour télécharger les documentations demandées, veuillez saisir votre contact ainsi que le profile scolaire concerné</p>

                                        <div class="form-group horizontal-radio clearfix">
                                            <label class="custom-radio"><input type="radio" name="public"><span>Privé</span></label>
                                            <label class="custom-radio"><input type="radio" name="public"><span>Public</span></label>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Niveau Actuel">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Niveau concerné par la demande">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <textarea placeholder="Information précise, pour mieux traiter votre demande" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="g-recaptcha" data-sitekey="6LdkaCIUAAAAAOHbgd3nOACP2g0gQLMJVv93CBpp"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="note">
                                        Le CIDE et l'établissement scolaire sélectionné sont les seuls destinataires des informations communiquées. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "informatique et libertés" - Numéro de déclaration CNIL 1271917). Formulez votre demande par écrit au CIDE, 84, boulevard Saint-Michel 75006 Paris.
                                        </p>

                                        <button type="button" data-dismiss="modal" class="btn btn-highlighted">Annuler</button>
                                        <button class="btn btn-secondary close-download">Valider</button>

                                    </div><!-- .tab-pane -->

                                </div><!-- .tab-content -->

                            </div><!-- .modal-body -->
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div><!-- modal -->


                <div class="modal fade" id="download-file" tabindex="-1" role="dialog" aria-labelledby="apply-popup">
                    <div class="modal-dialog modal-download" role="document">
                        <div class="modal-content">
                            <div class="modal-body">

                                <h3>Je confirme ma demande de téléchargement des documentations suivantes:</h3>

                                <ul class="files-to-download">
                                    <li>
                                        <img src="assets/images/school-logo/lycee-francois-d-estaing.png" alt="" width="20" />
                                        <span>FDE - Nom de la documentation.pdf</span>
                                        <a class="remove">x</a>
                                    </li>
                                    <li>
                                        <img src="assets/images/school-logo/montplaisir.jpeg" alt="" width="20" />
                                        <span>MNT - Nom de la documentation.pdf</span>
                                        <a class="remove">x</a>
                                    </li>
                                    <li>
                                        <img src="assets/images/school-logo/renasup-scalia-person.png" alt="" width="20" />
                                        <span>RSE - Nom de la documentation.pdf</span>
                                        <a class="remove">x</a>
                                    </li>
                                </ul>

                                <button type="button" data-dismiss="modal" class="btn btn-highlighted">Annuler</button>
                                <button type="button" data-dismiss="modal" class="btn btn-secondary">Télécharger</button>

                            </div><!-- .modal-body -->
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div><!-- modal -->
            </section>
        </div><!-- .row -->

        <div class="row brochure-content">
            <div id="js-grid-juicy-projects" class="row">
                
                <div *ngFor="let brochure of listBrochuresFiltered" class="graphic brochure-item col-md-3">
                    <div class="checkbox-custom">
                        <md-checkbox (click)="onCheckbox(brochure._id)" class="download"></md-checkbox>
                        <label for="download">&nbsp;</label>
                    </div>
                    <div class="cbp-caption">
                        <div>
                            <div class="image-wrap">
                                <span class="vertical-helper"></span>
                                <img src="assets/images/school-logo/lycee-francois-d-estaing.png" alt="" />
                            </div>
                        </div>
                        <!--<div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <a href="../../assets/brochure/1.pdf" download="1.pdf" target="_self"
                                        class="btn-appointment btn red uppercase btn red uppercase"
                                        rel="nofollow"> <i class="fa fa-download"></i>
                                    Télécharger
                                    </a>
                                </div>
                            </div>
                        </div>-->
                         <div>
                            <div>
                                <div>
                                    <a href="http://54.254.203.172/cideapi/{{brochure.brochure}}" download="brochure.pdf" target="_self"
                                        class="btn-appointment btn red uppercase btn red uppercase"
                                        rel="nofollow"> <i class="fa fa-download"></i>
                                        Télécharger
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">FDE - François D'estaing</div>

                </div>

            </div>

        </div><!-- .row -->
    
    </div><!-- .container-fluid -->

</div>

