<div *ngIf="canDisplay">
  <div class="tab-pane" id="parents">
    <div class="container-fluid">
      <div class="row">
        <form [formGroup]="parentAccountForm">
          <div class="row">
            <section class="col-md-6" formArrayName="parents" *ngFor="let parent of parentAccountForm.controls['parents']['controls']; let i = index">
              <div [formGroupName]="i">
                <!-- <h3 *ngIf="!onMobile">Parents</h3>
                <br *ngIf="onMobile" /> -->
      
                <div class="form-group">
                  <div class="select-custom">
                    Lien de parenté<span class="err">*</span>  
                    <md-select placeholder="Lien de Parenté" class="form-control" formControlName="lienParent">
                      <md-option *ngFor="let lientparent of lienparents" [value]="lientparent">
                        {{ lientparent }}
                      </md-option>
                    </md-select>
                    <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.lienParent.hasError('required') &&
                                  parentAccountForm.controls['parents']['controls'][i].controls.lienParent.touched" class="mat-text-warn err">
                    Lien de Parenté Obligatoire
                  </small>
                  </div>
                </div>
                Titre<span class="err">*</span> 
                <div class="form-group horizontal-radio clearfix">
                  <md-radio-group formControlName="titre">
                    <md-radio-button value="ms">Mme</md-radio-button>
                    <md-radio-button value="m">M</md-radio-button>
                  </md-radio-group>
                  <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.titre.hasError('required') &&
                                                            parentAccountForm.controls['parents']['controls'][i].controls.titre.touched"
                    class="mat-text-warn err">
                  Titre Obligatoire
                </small>
                </div>
      
      
                <div class="row">
                  <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                      Nom de famille <span class="err">*</span>
                      <input type="text" class="form-control" placeholder="Nom" formControlName="nom" maxlength="25">
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.nom.hasError('required') &&
                                                            parentAccountForm.controls['parents']['controls'][i].controls.nom.touched"
                        class="mat-text-warn err">
                      Nom Obligatoire
                    </small>
                    </div>
                  </div>
                  <div class="col-sm-6  col-xs-6">
                    <div class="form-group">
                      Prénom<span class="err">*</span>
                      <input type="text" class="form-control" placeholder="Prénom" formControlName="prenom" maxlength="25">
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.prenom.hasError('required') &&
                                                            parentAccountForm.controls['parents']['controls'][i].controls.prenom.touched"
                        class="mat-text-warn err">
                      Prénom Obligatoire
                    </small>
                    </div>
                  </div>
                </div>
      
      
                <div class="form-group">
                  <div class="row">
      
                    <div class="col-sm-12">
                      Profession<span class="err">*</span> 
                      <input type="text" class="form-control" placeholder="Profession / Secteur d'activité" formControlName="job" maxlength="25">
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.job.hasError('required') &&
                                                                    parentAccountForm.controls['parents']['controls'][i].controls.job.touched"
                        class="mat-text-warn err">
                      Profession Obligatoire
                    </small>
                    </div>
                  </div>
                </div>
      
                <div class="form-group">
                  Mél<span class="err">*</span>
                  <i class="fa fa-question-circle" aria-hidden="true" mdTooltip="Exemple : Abc@example.com" mdTooltipPosition="after"></i>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
                  <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.email.hasError('required') &&
                                                            parentAccountForm.controls['parents']['controls'][i].controls.email.touched"
                    class="mat-text-warn err">
                  Email Obligatoire
                </small>
                  <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.email.errors?.email &&
                                                            parentAccountForm.controls['parents']['controls'][i].controls.email.touched"
                    class="mat-text-warn err">
                  Email Invalide
                </small>
                </div>
      
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      Numéro de portable<span class="err">*</span>
                      <i class="fa fa-question-circle" aria-hidden="true" mdTooltip="Doit contenir 10 chiffres" mdTooltipPosition="after"></i>
                      <input type="text" class="form-control" placeholder="Téléphone auquel je suis joignable" formControlName="portable" pattern="[0-9]+"
                        maxlength="10">
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.portable.hasError('required') &&
                                                                    parentAccountForm.controls['parents']['controls'][i].controls.portable.touched"
                        class="mat-text-warn err">
                      Numéro de Portable Obligatoire
                    </small>
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.portable.hasError('maxlength') &&
                                                                    parentAccountForm.controls['parents']['controls'][i].controls.portable.touched"
                        class="mat-text-warn err">
                      Numéro de Portable Invalide (max 10)
                    </small>
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.portable.hasError('pattern') &&
                                                                    parentAccountForm.controls['parents']['controls'][i].controls.portable.touched"
                        class="mat-text-warn err">
                      Numéro de Portable Invalide (Doit être des chiffres)
                    </small>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  Adresse<span class="err">*</span>
                  <input class="form-control" placeholder="Adresse" formControlName="adresse1">
                    <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.adresse1.hasError('required') &&
                    parentAccountForm.controls['parents']['controls'][i].controls.adresse1.touched" class="mat-text-warn err">
                    Adresse obligatoire
                  </small>
                </div>

                <div class="row">
                  <div class="col-sm-4  col-xs-6">
                    <div class="form-group">
                      Code postal<span class="err">*</span>
                      <input type="text" class="form-control" placeholder="Code Postal" [min]="5"
                        formControlName="codepostal"
                        pattern="[0-9 ]+" maxlength="5" minlength="5"/>
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.codepostal.hasError('maxLength') &&
                        parentAccountForm.controls['parents']['controls'][i].controls.codepostal.touched"
                        class="mat-text-warn err">
                        Code Postal Invalide (Max 5)
                      </small>
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.codepostal.hasError('min') &&
                        parentAccountForm.controls['parents']['controls'][i].controls.codepostal.touched"
                        class="mat-text-warn err">
                        Code Postal Invalide (MIN 5)
                      </small>
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.codepostal.hasError('pattern') &&
                        parentAccountForm.controls['parents']['controls'][i].controls.codepostal.touched"
                        class="mat-text-warn err">
                        Code Postal Invalide (Doit être des chiffres)
                      </small>
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.codepostal.hasError('required') &&
                        parentAccountForm.controls['parents']['controls'][i].controls.codepostal.touched"
                        class="mat-text-warn err">
                        Code Postal obligatoire
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-4  col-xs-6">
                    <div class="form-group">
                      Ville<span class="err">*</span>
                      <input type="text" class="form-control" placeholder="Ville"
                        formControlName="ville"
                        maxlength="30"/>
                        <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.ville.hasError('maxLength') &&
                        parentAccountForm.controls['parents']['controls'][i].controls.ville.touched"
                        class="mat-text-warn err">
                        Ville Invalide (Max 30)
                      </small>
                      <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.ville.hasError('required') &&
                        parentAccountForm.controls['parents']['controls'][i].controls.ville.touched"
                        class="mat-text-warn err">
                        Ville obligatoire
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-4  col-xs-6">
                    <div class="form-group">
                      Pays
                      <select class="form-control" formControlName="pays">
                        <option value="France" selected>France</option>
                        <option [value]="pays" *ngFor="let pays of country">{{pays}}</option>
                      </select>
                    </div>
                  </div>
                </div>
      
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="select-custom">
                        Horaires pour me contacter<span class="err">*</span> 
                        <select name="" class="form-control" formControlName="horaireJoignable">
                        <option value="" disabled selected hidden>Horaires pour me contacter</option>
                        <option value="9h-12h">9h-12h</option>
                        <option value="12h-14h">12h-14h</option>
                        <option value="14h-18h">14h-18h</option>
                        <option value="18h-20h">18h-20h</option>
                      </select>
                        <small *ngIf="parentAccountForm.controls['parents']['controls'][i].controls.horaireJoignable.hasError('required') &&
                                                                parentAccountForm.controls['parents']['controls'][i].controls.horaireJoignable.touched"
                          class="mat-text-warn err">
                        Horaire obligatoire
                      </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <!-- <div class="form-group clearfix">
                <button class="btn  btn-danger margin-0 pull-right" (click)="onRemoveParent(i)" *ngIf="parentAccountForm.controls['parents']['controls'].length==2">
                Retirer un parent
              </button>
              </div>
      
              <div class="form-group clearfix">
                <button class="btn  btn-appointment margin-0 pull-right" (click)="onAddParent()" *ngIf="parentAccountForm.controls['parents']['controls'].length==1">
                  <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un parent
                </button>
              </div> -->
      
            </section>
          </div>
          <!-- .row -->
      
      
        </form>
      </div>
      <div class="row">
        <div class="form-group clearfix" style="margin-left:10px">
          <button class="btn  btn-appointment parentButton" (click)="onAddParent()"
            *ngIf="parentAccountForm.controls['parents']['controls'].length==1">
            <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un parent
          </button>
          <button class="btn btn-appointment parentButton" type="submit" (click)="onSubmit()" style="float:right" [disabled]="!parentAccountForm.valid">Passer à l'élève</button>
        </div>

      </div>
    </div>
  </div>
</div>
