.contact-roles{
  margin-left: 0px;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
//   background-color: #9D9E9E;
  border : 1px solid #424242;
  padding-left: 5px;
  padding-right: 5px;
}
.margin7{
  margin-top: 7px;
  text-align: center;
}
.ou{
  margin-left: -30px;
  margin-right: -30px;
}
.newSearchdiv      
    {
    position: absolute;
    margin-top: 40px;
    margin-left: 13px;
    }
.delete-role{
  margin-left:5px;
  cursor: pointer;
}

.advancedFilterCenter{
  text-align: center;
}

.advancedFilterPadding{
  padding-top:15px
}

label{
  font-weight : normal;
}

.checkbox[type="checkbox"].filled-in:not(:checked) + label:after {
  height: 10px;
  width: 10px;
}


