<div class="top-compare-table">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/images/cide-remove.png" width="16" /></button>
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/images/cide-remove.png" width="16" /></button>
    <img src="assets/images/school-1.jpg" alt="" width="60" height="60" />    
    <h4 title="Lycée Saint-Charles">Lycée Saint-Charles</h4>
    
    <ul class="school-action">
        <li><a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
    </ul>
    <div class="col-md-10 col-md-offset-1">
        <button class="btn btn-appointment btn-block">Je Postuler</button>
    </div> -->
    <div class="card  school-item">
        <ul class="school-action">
            <li><a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
        </ul>
        
        <img src="assets/images/school-1.jpg" alt="School 1" />
        
        <div class="card-content">
            <h3>Lycee Saint-Charles</h3>
            <p>Lycee d'enseignement <br /> general Prive Catholique <br />Sous contrat d'association</p>
            <address>1 rue du Brouage<br /> 02300 Chauny<br /> Tel: 03 23 52 10 50</address>

            <!-- <a href="apb-prive-etablissement.html" class="btn btn-highlighted btn-block">Détail de l'école</a> -->
            <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#apply-compare-popup">Postuler</button>
            <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#apply-compare-popup">Postuler</button> -->
        </div><!-- .card-content -->

    </div><!-- .card -->
</div>

<div class="item-compare-table">

    <ul class="compare-item class-cycle center">
        <li class="title"><h5>&nbsp;</h5></li>
        <li><span class="subtitle">&nbsp;</span>
            <div class="collapse in ecole">
                <ul class="compare-item">
                    <li>PS - MS - GS</li>
                    <li></li>
                </ul>
            </div>
        </li>
        <li><span class="subtitle">&nbsp;</span>
            <div class="collapse in college">
                <ul class="compare-item">
                    <li>PS - MS - GS</li>
                    <li></li>
                </ul>
            </div>
        </li>
        <li><span class="subtitle">&nbsp;</span></li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in language">
                <ul class="compare-item">
                    <li>English</li>
                    <li>Germany</li>
                    <li>Italian</li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in specialities">
                <ul class="compare-item">
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in internat">
                <ul class="compare-item">
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in stages">
                <ul class="compare-item">
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in restauration">
                <ul class="compare-item">
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in externat">
                <ul class="compare-item">
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in status">
                <ul class="compare-item">
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle">
        <li class="title"><h5>Laic</h5></li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in section">
                <ul class="compare-item">
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5></li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5></li>
    </ul>

    <ul class="compare-item center class-cycle">
        <li class="title"><h5>&nbsp;</h5></li>
    </ul>

</div>