

<div class="item-compare-table">

    <ul class="compare-item class-cycle center"
        *ngIf="compareListFilter[0]">
        <li class="title"><h5>&nbsp;</h5></li>
        <li><span class="subtitle">&nbsp;</span>
            <div class="collapse in ecole">
                <ul class="compare-item">
                    <li>{{ schoolDataToDisplay.cycles[0].cycle.classes[0].className }}</li>
                    <li>{{ schoolDataToDisplay.cycles[1].cycle.classes[0].className }}</li>
                </ul>
            </div>
        </li>
        <li><span class="subtitle">&nbsp;</span>
            <div class="collapse in college">
                <ul class="compare-item">
                    <li>{{ schoolDataToDisplay.cycles[2].cycle.classes[0].className }}</li>
                    <li>{{ schoolDataToDisplay.cycles[3].cycle.classes[0].className }}</li>
                </ul>
            </div>
        </li>
        <!--<li><span class="subtitle">&nbsp;</span>
            <div class="collapse in college">
                <ul class="compare-item">
                    <li>{{ schoolDataToDisplay.cycles[4].cycle.classes[0].className }}</li>
                    <li>{{ schoolDataToDisplay.cycles[5].cycle.classes[0].className }}</li>
                </ul>
            </div>
        </li>-->
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[1]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in language">
                <ul class="compare-item">
                    <li>{{ schoolDataToDisplay.cycles[0].cycle.language.lv1.comment }}</li>
                    <li>{{ schoolDataToDisplay.cycles[0].cycle.language.lv2.comment }}</li>
                    <li>{{ schoolDataToDisplay.cycles[0].cycle.language.lv3.comment }}</li>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[2]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in specialities">
                <ul class="compare-item">
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.specifications.handicaped.value; else field1">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field1>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.specifications.finance.value; else field2">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field2>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.specifications.foreignFrench.value; else field3">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field3>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.specifications.advanced.value; else field4">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field4>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.specifications.flexibleTimeframe.value; else field5">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field5>
                        <li >&nbsp;</li>
                    </ng-template>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[3]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in internat">
                <ul class="compare-item">
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.onSite.value; else field6">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field6>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.notOnSite.value; else field7">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field7>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.residence.value; else field8">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field8>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.weekdays.value; else field9">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field9>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.fulltime.value; else field10">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field10>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.someWeekEnds.value; else field11">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field11>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.mixed.value; else field12">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field12>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.girls.value; else field13">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field13>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.boys.value; else field14">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field14>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.individual.value; else field15">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field15>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding['2to4'].value; else field16">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field16>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding['5to8'].value; else field17">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field17>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.boarding.dormitories.value; else field18">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field18>
                        <li >&nbsp;</li>
                    </ng-template>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[4]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in stages">
                <ul class="compare-item">
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.extraCuriculumn.preIntakeTraining.value; else field19">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field19>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.extraCuriculumn.smallHolidaysTraining.value; else field20">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field20>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.extraCuriculumn.bigHolidaysTraining.value; else field21">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field21>
                        <li >&nbsp;</li>
                    </ng-template>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[5]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in restauration">
                <ul class="compare-item">
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.canteen.selfService.value; else field22">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field22>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.canteen.serviceAtTable.value; else field23">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field23>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.canteen.cafetaria.value; else field24">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field24>
                        <li >&nbsp;</li>
                    </ng-template>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[6]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in externat">
                <ul class="compare-item">
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.externat['demi-pension_mixte'].value; else field25">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field25>
                        <li >&nbsp;</li>
                    </ng-template>
                   <li *ngIf="schoolDataToDisplay.cycles[0].cycle.externat['demi-pension_gars'].value; else field26">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field26>
                        <li >&nbsp;</li>
                    </ng-template>
                    <li *ngIf="schoolDataToDisplay.cycles[0].cycle.externat['demi-pension_fille'].value; else field27">
                        <img width="20" src="assets/images/cide-true.png">
                    </li>
                    <ng-template #field27>
                        <li >&nbsp;</li>
                    </ng-template>
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[7]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in status">
                <ul class="compare-item">
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li>&nbsp;</li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                    <li><img width="20" src="assets/images/cide-true.png"></li>
                </ul>
            </div>
        </li>
    </ul>


    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[8]">
        <li class="title"><h5>Laic</h5></li>
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[9]">
        <li class="title"><h5>&nbsp;</h5>
            <div class="collapse in section">
                <ul class="compare-item">
                    <li>{{ schoolDataToDisplay.cycles[0].cycle.sections.europieanSections[0] }}</li>
                    <li>{{ schoolDataToDisplay.cycles[0].cycle.sections.bilangualSections[0] }}</li>
                    <li>{{ schoolDataToDisplay.cycles[0].cycle.sections.sportSections[0] }}</li>    
                </ul>
            </div>
        </li>
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[10]">
        <li>{{ schoolDataToDisplay.cycles[0].cycle.classes[0].diplomas.name }}</li> 
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[11]">
        <li>{{ schoolDataToDisplay.cycles[0].cycle.classes[0].options[0].name }}</li>    
    </ul>

    <ul class="compare-item center class-cycle"
        *ngIf="compareListFilter[12]">
        <li *ngIf="schoolDataToDisplay.cycles[0].cycle.availableSeat.availableSeat.value; else field28">
            <img width="20" src="assets/images/cide-true.png">
        </li>
        <ng-template #field28>
            <li >&nbsp;</li>
        </ng-template>
    </ul>

</div>