        <div [class]="tripData.class">
            <div *ngFor="let image of tripData.images">
                <img src="assets/images/linguistic/{{image}}" alt="School 1" />
            </div>
        </div>
      
      <div class="content-detail">
          <h3>{{ 'TraverName' | translate }}</h3>

          <p><label>{{ 'Language' | translate }} : </label> {{tripData.language.name}}</p>

          <p><label>{{ 'Age' | translate }}</label> {{ 'From' | translate }} {{tripData.minAge}} {{ 'To' | translate }} {{tripData.maxAge}}</p>
          <p><label>{{ 'StartingDate' | translate }} :</label> {{tripData.startDate | shorten:10}}<br />
              <label>{{ 'EndingDate' | translate }} :</label> {{tripData.endDate | shorten:10}}
          </p>

          <p><label>{{ 'Price' | translate }}:</label> {{tripData.price}}</p>

          <p><label>{{ 'Devise' | translate }}:</label> {{tripData.currency}}</p>
          
          <p>
            <span class="label-holder">{{ 'Accomodation' | translate }}</span><br />
            <input type="checkbox" name="" class="checkbox filled-in" id="school-1" [checked]="tripData.place.apartment" disabled />
            <label for="school-1">{{ 'Apartment' | translate }}</label><br />
            <input type="checkbox" name="" class="checkbox filled-in" id="school-2" [checked]="tripData.place.common" disabled/>
            <label for="school-2">{{ 'Collectiv' | translate }}</label><br />
            <input type="checkbox" name="" class="checkbox filled-in" id="school-3" [checked]="tripData.place.family" disabled/>
            <label for="school-3">{{ 'Family' | translate }}</label><br />
            <input type="checkbox" name="" class="checkbox filled-in" id="school-4" [checked]="tripData.place.residence" disabled/>
            <label for="school-4">{{ 'Residence' | translate }}</label><br />
          </p>

          <p><label>{{ 'TravelType' | translate }} : </label> {{tripData.linguistic.name}}</p>


          
      </div>
