<main class="main" role="main">
        
        <div class="modal fade" id="apply-popup" tabindex="-1" role="dialog" aria-labelledby="apply-popup">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>CLASSE</th>
                                    <th>Lv1</th>
                                    <th>Lv2</th>
                                    <th>Lv3</th>
                                    <th>OPTION</th>
                                    <th>JE CHOISIS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PS</td>
                                    <td>Anglais</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>Pâte à modeler</td>
                                    <td><input type="checkbox" name="" class="checkbox filled-in" id="choose-1" /><label for="choose-1">&nbsp;</label></td>
                                </tr>
                                <tr>
                                    <td>MS</td>
                                    <td>Anglais</td>
                                    <td>Espagnol</td>
                                    <td>-</td>
                                    <td>Piano</td>
                                    <td><input type="checkbox" name="" class="checkbox filled-in" id="choose-2" /><label for="choose-2">&nbsp;</label></td>
                                </tr>
                                <tr>
                                    <td>GS</td>
                                    <td>Anglais</td>
                                    <td>Espagnol</td>
                                    <td>Allemand</td>
                                    <td>-</td>
                                    <td><input type="checkbox" name="" class="checkbox filled-in" id="choose-3" /><label for="choose-3">&nbsp;</label></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <section class="col-md-6"><button class="btn btn-lg btn-block btn-register" data-dismiss="modal">J'ENREGISTRE POUR PLUS TARD</button></section>
                            <section class="col-md-6"><button class="btn btn-lg btn-block btn-appointment close-class">J'INCRIS MON ENFANT</button></section>
                        </div><!-- .row --> 
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- modal -->

        <div class="modal fade" id="confirm-popup" tabindex="-1" role="dialog" aria-labelledby="apply-popup">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="img/cide-vote.png" class="icon" alt="Vote" width="140" />
                        <p><strong>Nous transmettons votre dossier au lycee Excellensia Sa direction vous contactera dans les meilliuers delais</strong></p>
                        <p>Nous venons de vous envoyer un mel de confimation</p>
                        <button class="btn btn-lg btn-block btn-appointment" data-dismiss="modal">J'AI COMPRIS</button>
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- modal -->

            <div class="container">

                <div class="row"><div class="col-md-10 col-md-offset-1">
                
                    <div class="list-schools  row  white-background">

                        <div class="col-md-12">
                            
                            <div class="result-text">
                                <h3>Mon résultat pour: Classe PS - <span class="fa fa-map-marker"></span> Lyon</h3>
                                <p>Recherche Affine: Aides Financieres - Bourse / Lv1 Anglais / Place Disponibles <a href="#"><span class="fa fa-times"></span></a></p>
                                
                                
                                <!-- <input type="checkbox" class="checkbox filled-in" id="test1" />
                                <label for="test1" class="">Tout sélectionner</label> -->
                            </div>

                            <!-- <a href="compare-mode.html" class="compare-button">Compare Mode <span class="fa fa-chevron-right"></span></a> -->
                            
                            <div class="compare-holder">
                                <!-- Mode de Comparaison
                                <div class="switch">
                                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                                    <label for="cmn-toggle-1"></label>
                                </div><br /> -->
                                <!-- <a href="compare-mode.html#compare" class="btn btn-appointment pull-right hide link-btn">Je Compare</a> -->
                                <!-- Button trigger modal -->
                                <button type="button" disabled class="btn btn-appointment pull-right popup-btn btn-compare" data-toggle="modal" data-target="#filter-popup">Je Compare</button>

                                <div class="popup-compare animated fadeOut">
                                    <p>Comparez les ecoles de votre choix pour mieux choisir en 2 étapes:</p>
                                    <ol>
                                        <li>Sélectionnez les écoles ( 4 maximum)</li>
                                        <li>Choisissez les critères à comparer</li>
                                    </ol>
                                </div>
                            </div>
 
                            
                            <div class="modal fade" id="filter-popup" tabindex="-1" role="dialog" aria-labelledby="filter-popup">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h3>Ce que vous voulez compare?</h3>

                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-1" /><label for="compare-1">Spécialités</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-2" /><label for="compare-2">Internat</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-3" /><label for="compare-3">Période</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-4" /><label for="compare-4">Restauration</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-5" /><label for="compare-5">Externat</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-6" /><label for="compare-6">Statut</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-7" /><label for="compare-7">Ens. confessionel</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-8" /><label for="compare-8">Langues</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-9" /><label for="compare-9">Sections</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-10" /><label for="compare-10">Diplômés</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-11" /><label for="compare-11">Options</label>
                                            </div><!-- .filter-option -->
                                            <div class="filter-option">
                                                <input type="checkbox" name="" class="checkbox filled-in compare-checkbox" id="compare-12" /><label for="compare-12">Places disponibles</label>
                                            </div><!-- .filter-option -->

                                            <a href="compare-mode.html" disabled class="btn btn-appointment btn-compare-popup btn-block btn-lg">Je Compare</a>

                                            <!-- <a href="compare-mode.html#compare" class="btn btn-filter-pop-up btn-block btn-lg ">Je Comparer</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .modal -->

                        </div><!-- .col-* -->
                        
                        
                        
                        

                    </div><!-- .list-schools -->


                </div></div><!-- .row .col-* -->

            </div><!-- .container -->

    </main>