<div class="landing-page-2">

    <div class="main" role="main">

    <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <pattern id="ecole-inactive" patternUnits="userSpaceOnUse" x="150" y="140" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/ecole-inactive.png" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="college-inactive" patternUnits="userSpaceOnUse" x="100" y="30" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/college-inactive.png" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="lycee-inactive" patternUnits="userSpaceOnUse" x="69" y="20" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/lycee-inactive.png" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="internat-inactive" patternUnits="userSpaceOnUse" x="-216" y="35" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/internat-inactive.png" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="enseignement-inactive" patternUnits="userSpaceOnUse" x="-82" y="-120" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/enseignement-inactive.png" x="0" y="0" width="500" height="334" />
            </pattern>
             <pattern id="sejour-inactive" patternUnits="userSpaceOnUse" x="80" y="-24" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/sejour-inactive.png" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="orientation-inactive" patternUnits="userSpaceOnUse" x="110" y="-93" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/orientation-inactive.png" x="0" y="0" width="500" height="334" />
            </pattern>

          </defs>
        </svg>

        <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <pattern id="ecole-active" patternUnits="userSpaceOnUse" x="150" y="140" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/ecole.jpg" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="college-active" patternUnits="userSpaceOnUse" x="164" y="30" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/college.jpg" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="lycee-active" patternUnits="userSpaceOnUse" x="69" y="20" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/lycee.jpg" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="internat-active" patternUnits="userSpaceOnUse" x="-216" y="35" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/internat.jpg" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="enseignement-active" patternUnits="userSpaceOnUse" x="-82" y="-120" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/enseignement.jpg" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="sejour-active" patternUnits="userSpaceOnUse" x="80" y="-24" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/sejour.jpg" x="0" y="0" width="500" height="334" />
            </pattern>
            <pattern id="orientation-active" patternUnits="userSpaceOnUse" x="110" y="-93" width="500" height="334">
                <image xlink:href="assets/images/new-landing-page-2/orientation.jpg" x="0" y="0" width="500" height="334" />
            </pattern>
          </defs>
        </svg>
        
            <div fxFlex>
                    <div id="tabwheel"></div>
                    <div class="wheel-content">
                        <div class="ecole-content  content-holder   animated "  data-image="assets/images/new-landing-page-2/ecole.jpg">
                            
                            <h2>ÉCOLE</h2>
                            <h3>Maternelle / Primaire</h3>
                            
                            <div class="form-wrap">

                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <form [formGroup]="searchForm" 
                                            (ngSubmit)="onSubmitSearch('ecole')">
                                            <div fxFlex="30">
                                                <div class="form-group">
                                                    <label class="select-custom" for="class">
                                                        <md-select placeholder="Classe" 
                                                            class="form-control" 
                                                            id="class"
                                                            [formControl]="searchForm.controls['classe']">
                                                            <!--<option value="" disabled selected hidden>Classe</option>-->
                                                            <md-optgroup label="Cycle 1 : Apprentissages Premiers">
                                                                <md-option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</md-option>
                                                                <md-option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</md-option>
                                                                <md-option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</md-option>
                                                            </md-optgroup>
                                                            <md-optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                                <md-option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</md-option>
                                                                <md-option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</md-option>
                                                                <md-option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</md-option>
                                                            </md-optgroup>
                                                            <md-optgroup label="Cycle 3 : Consolidation">
                                                                <md-option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</md-option>
                                                                <md-option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</md-option>
                                                                <md-option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                    </label>
                                                </div>
                                            </div>

                                            <div fxFlex="30">
                                                <!-- <md-input-container> -->
                                                    <input placeholder="Lieu" class="form-control" 
                                                        (keyup)="filterLieu($event)"
                                                        [mdAutocomplete]="auto"
                                                        [formControl]="searchForm.controls['lieu']">
                                                <!-- </md-input-container> -->

                                                <md-autocomplete #auto="mdAutocomplete">
                                                <md-option *ngFor="let option of options" [value]="option.cityName">
                                                    {{ option.cityName }}
                                                </md-option>
                                                </md-autocomplete>
                                            </div>

                                            <div fxFlex="30">
                                                <!-- <md-input-container> -->
                                                    <input placeholder="Nom d'établissement" 
                                                        class="form-control"
                                                        [mdAutocomplete]="autoSchool"
                                                        (keyup)="filterSchool($event)"
                                                        [formControl]="searchForm.controls['etablissement']">
                                                <!-- </md-input-container> -->
                                                <md-autocomplete #autoSchool="mdAutocomplete">
                                                <md-option *ngFor="let school of schoolsOptions" 
                                                    [value]="school.longName">
                                                    {{ school.longName }}
                                                </md-option>
                                                </md-autocomplete>
                                            </div>
                                            <div fxFlex="10">
                                                <button class="btn btn-search" type="submit"
                                                    [disabled]="searchForm.controls['etablissement'].value.length==0 && 
                                                    (searchForm.controls['lieu'].value.length==0 || 
                                                    searchForm.controls['classe'].value.length==0)">
                                                <i class="fa fa-search"></i>
                                                <!-- Search -->
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                            </div><!-- .form-wrap -->
                        </div><!-- .content-holder -->

                        <div class="college-content content-holder  animated" data-image="assets/images/new-landing-page-2/college.jpg">
                            
                            <h2>COLLEGE</h2>
                            <h3>6ème-3ème</h3>
                            
                            <div class="form-wrap">

                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <form [formGroup]="searchForm" 
                                            (ngSubmit)="onSubmitSearch('college')">
                                            <div fxFlex="30">
                                                <div class="form-group">
                                                    <label class="select-custom" for="class">
                                                        <md-select placeholder="Classe" 
                                                            class="form-control" id="class"
                                                            [formControl]="searchForm.controls['classe']">
                                                            <!--<option value="" disabled selected hidden>Classe</option>-->
                                                            <md-optgroup label="Cycle 1 : Apprentissages Premiers">
                                                                <md-option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</md-option>
                                                                <md-option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</md-option>
                                                                <md-option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</md-option>
                                                            </md-optgroup>
                                                            <md-optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                                <md-option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</md-option>
                                                                <md-option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</md-option>
                                                                <md-option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</md-option>
                                                            </md-optgroup>
                                                            <md-optgroup label="Cycle 3 : Consolidation">
                                                                <md-option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</md-option>
                                                                <md-option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</md-option>
                                                                <md-option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                    </label>
                                                </div>
                                            </div>

                                            <div fxFlex="30">
                                                <!-- <md-input-container> -->
                                                    <input placeholder="Lieu" class="form-control" 
                                                        (keyup)="filterLieu($event)"
                                                        [mdAutocomplete]="auto"
                                                        [formControl]="searchForm.controls['lieu']">
                                                <!-- </md-input-container> -->

                                                <md-autocomplete #auto="mdAutocomplete">
                                                <md-option *ngFor="let option of options" [value]="option.cityName">
                                                    {{ option.cityName }}
                                                </md-option>
                                                </md-autocomplete>
                                            </div>

                                            <div fxFlex="30">
                                                <!-- <md-input-container> -->
                                                    <input placeholder="Nom d'établissement" class="form-control"
                                                        [mdAutocomplete]="autoSchool"
                                                        (keyup)="filterSchool($event)"
                                                        [formControl]="searchForm.controls['etablissement']">
                                                <!-- </md-input-container> -->
                                                <md-autocomplete #autoSchool="mdAutocomplete">
                                                <md-option *ngFor="let school of schoolsOptions" [value]="school.longName">
                                                    {{ school.longName }}
                                                </md-option>
                                                </md-autocomplete>
                                            </div>
                                            <div fxFlex="10">
                                                <button class="btn btn-search" type="submit"
                                                        [disabled]="searchForm.controls['etablissement'].value.length==0 && 
                                                        (searchForm.controls['lieu'].value.length==0 || 
                                                        searchForm.controls['classe'].value.length==0)">
                                                    <i class="fa fa-search"></i>
                                                    <!-- Search -->
                                                    </button>
                                            </div>
                                        </form>
                                    
                                    </div><!-- flex-layout -->
                                
                            </div><!-- .form-wrap -->

                        </div><!-- .content-holder -->

                        <div class="lycee-content  content-holder   animated" data-image="assets/images/new-landing-page-2/lycee.jpg">
                            <h2>UN LYCÉE</h2>
                            <h3>2nde-Terminale</h3>

                            <div class="form-wrap">

                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <form [formGroup]="searchForm" 
                                            (ngSubmit)="onSubmitSearch('lycee')">
                                            <div fxFlex="30">
                                                <div class="form-group">
                                                    <label class="select-custom" for="class">
                                                        <md-select placeholder="Classe" 
                                                            class="form-control" id="class"
                                                            [formControl]="searchForm.controls['classe']">
                                                            <!--<option value="" disabled selected hidden>Classe</option>-->
                                                            <md-optgroup label="Cycle 1 : Apprentissages Premiers">
                                                                <md-option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</md-option>
                                                                <md-option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</md-option>
                                                                <md-option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</md-option>
                                                            </md-optgroup>
                                                            <md-optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                                <md-option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</md-option>
                                                                <md-option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</md-option>
                                                                <md-option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</md-option>
                                                            </md-optgroup>
                                                            <md-optgroup label="Cycle 3 : Consolidation">
                                                                <md-option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</md-option>
                                                                <md-option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</md-option>
                                                                <md-option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                    </label>
                                                </div>
                                            </div>

                                            <div fxFlex="30">
                                                <!-- <md-input-container> -->
                                                    <input placeholder="Lieu" class="form-control" 
                                                        (keyup)="filterLieu($event)"
                                                        [mdAutocomplete]="auto"
                                                        [formControl]="searchForm.controls['lieu']">
                                                <!-- </md-input-container> -->

                                                <md-autocomplete #auto="mdAutocomplete">
                                                <md-option *ngFor="let option of options" [value]="option.cityName">
                                                    {{ option.cityName }}
                                                </md-option>
                                                </md-autocomplete>
                                            </div>

                                            <div fxFlex="30">
                                                <!-- <md-input-container> -->
                                                    <input placeholder="Nom d'établissement" class="form-control"
                                                        [mdAutocomplete]="autoSchool"
                                                        (keyup)="filterSchool($event)"
                                                        [formControl]="searchForm.controls['etablissement']">
                                                <!-- </md-input-container> -->
                                                <md-autocomplete #autoSchool="mdAutocomplete">
                                                <md-option *ngFor="let school of schoolsOptions" [value]="school.longName">
                                                    {{ school.longName }}
                                                </md-option>
                                                </md-autocomplete>
                                            </div>

                                            <div fxFlex="10">
                                                <button class="btn btn-search" type="submit"
                                                            [disabled]="searchForm.controls['etablissement'].value.length==0 && 
                                                            (searchForm.controls['lieu'].value.length==0 || 
                                                            searchForm.controls['classe'].value.length==0)">
                                                <i class="fa fa-search"></i>
                                                <!-- Search -->
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                
                            </div><!-- .form-wrap -->
                        </div><!-- .content-holder -->

                        <div class="internat-content" data-image="assets/images/new-landing-page-2/internat.jpg"></div>
                        <div class="enseignement-content" data-image="assets/images/new-landing-page-2/enseignement.jpg"></div>
                        <div class="linguistic-content" data-image="assets/images/new-landing-page-2/sejour.jpg"></div>
                        <div class="orientation-content" data-image="assets/images/new-landing-page-2/orientation.jpg"></div>
                    </div>
            </div>

        </div>
</div>