<div class="panel-body">
    <div class="row">
        <script type="text/javascript" src="./APB PRIVE - ETABLISSEMENT_files/js"></script>

        <div class="row">
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Google Map</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            Position de L'Etablissement sur la carte Google.
                        </p>
                        <img src="assets/images/etablissement/cesacom map.png" width="550">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Acces par Transport</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            info Transports
                        </p>
                        <p>
                            Metro / Bus sauf jours de greve
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>