<main class="main landingPage1Bg" role="main">


    <div class="landingpage__wrapper" *ngIf="!onMobile">


        <div class="landingpage__additional-content  holder-4  do-animate  one-column-mobile" data-background="./assets/images/new-landingpage/orientation.jpg">
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/conseil')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/orientation.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Orientation entretien-<br />bilans</h2>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
        </div>
        
        <div class="landingpage__additional-content  holder-1  do-animate  have-form" data-background="./assets/images/new-landingpage/ecole.jpg">
            <div class="landingpage__image-holder  ">
                <a>
                    <img class="landingpage__image" src="./assets/images/new-landingpage/ecole.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>École</h2>
                        <h3>Maternelle / Primaire</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->

            <div class="form-wrap row  animated fadeOut" style="margin-bottom:200px">

                <form [formGroup]="searchForm" 
                    (ngSubmit)="onSubmitSearch('ecole')" >
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="select-custom" for="class">
                                        <select name="class" class="form-control" id="class"
                                            [formControl]="searchForm.controls['classe']">
                                            <option value="" disabled selected hidden>Classe</option>
                                            <option value="Indifférent">&nbsp;Indifférent</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Classes maternelles
                                            </option>
                                            <option value="ps">&nbsp;Petite section (PS)</option>
                                            <option value="ms">&nbsp;Moyenne section (MS)</option>
                                            <option value="gs">&nbsp;Grande Section (GS)</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Classes élémentaires
                                            </option>
                                            <option value="cp">&nbsp;Cours préparatoire (CP)</option>
                                            <option value="ce1">&nbsp;Cours élémentaire 1er année(CE1)</option>
                                            <option value="ce2">&nbsp;Cours élémentaire 2è année (CE2)</option>
                                            <option value="cm1">&nbsp;Cours Moyen 1er année(CM1)</option>
                                            <option value="cm2">&nbsp;Cours Moyen 2è année(CM2)</option>
                                        </select>
                                    </label>
                                </div>
                            </div><!-- .col-* -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" 
                                    (keyup)="filterLieu($event)"
                                    [mdAutocomplete]="auto"
                                    [formControl]="searchForm.controls['lieu']"/>

                                    <md-autocomplete #auto="mdAutocomplete">
                                        <md-option disabled *ngIf="options['regions'].length!=0">Régions</md-option>
                                        <!-- <md-option [value]="options.regions"
                                        *ngIf="options['regions'].length!=0">{{ options.regions }}</md-option>    -->
                                        <md-option *ngFor="let option of options.regions; let i = index" [value]="option.region"
                                            (click)="onSelectLieu('R', i)">
                                            &nbsp;&nbsp;{{ option.region }}
                                        </md-option>
                                        <md-option disabled *ngIf="options['departements'].length!=0">Départements</md-option>
                                        <md-option *ngFor="let option of options.departements; let i=index" [value]="option.departmentNumber+' '+option.departmentName"
                                            (click)="onSelectLieu('D', i)">
                                            &nbsp;&nbsp;{{option.departmentNumber}} {{option.departmentName}}
                                        </md-option>
                                        <md-option disabled *ngIf="options['villes'].length!=0">Villes</md-option>
                                        <md-option *ngFor="let option of options.villes; let i=index" [value]="option.postcode+' '+option.cityName"
                                            (click)="onSelectLieu('V', i)">
                                            &nbsp;&nbsp; {{option.postcode}} {{ option.cityName }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                        placeholder="Nom d'etablissement" 
                                        [mdAutocomplete]="autoSchool"
                                        (keyup)="filterSchool($event)"
                                        [formControl]="searchForm.controls['etablissement']"/>
                                    
                                    <md-autocomplete #autoSchool="mdAutocomplete">
                                        <md-option *ngFor="let school of schoolsOptions" 
                                            [value]="school.longName">
                                            {{ school.longName }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .col-* -->
                    
                    <div class="col-md-1">
                    <!-- <div class="form-group"> -->
                        <button class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    <!-- </div> -->
                    </div>
                </form>

            </div><!-- .form-wrap -->
        </div>
        
        <div class="landingpage__additional-content  holder-2  do-animate" data-background="./assets/images/new-landingpage/internat.jpg">
            <div class="landingpage__image-holder">
                <a>
                    <img class="landingpage__image" src="./assets/images/new-landingpage/internat.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Internat</h2>
                        <h3>&nbsp;</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->

            <div class="form-wrap row  animated fadeOut">

                <form [formGroup]="searchForm" 
                    (ngSubmit)="onSubmitSearch('internat')">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="select-custom" for="class">
                                        <select name="class" class="form-control" id="class"
											[formControl]="searchForm.controls['classe']" >
											<!--<option value="" disabled selected hidden>Classe</option>-->
											<option value="" selected hidden>Classe</option>
                                            <option value="Indifférent">&nbsp;Indifférent</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Classes maternelles
                                            </option>
                                            <option value="ps">&nbsp;Petite section (PS)</option>
                                            <option value="ms">&nbsp;Moyenne section (MS)</option>
                                            <option value="gs">&nbsp;Grande Section (GS)</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Classes élémentaires
                                            </option>
                                            <option value="cp">&nbsp;Cours préparatoire (CP)</option>
                                            <option value="ce1">&nbsp;Cours élémentaire 1er année(CE1)</option>
                                            <option value="ce2">&nbsp;Cours élémentaire 2è année (CE2)</option>
                                            <option value="cm1">&nbsp;Cours Moyen 1er année(CM1)</option>
                                            <option value="cm2">&nbsp;Cours Moyen 2è année(CM2)</option>
                                            <option value="6e">&nbsp;6ème</option>
                                            <option value="cinquieme">&nbsp;5ème</option>
                                            <option value="quatrieme">&nbsp;4ème</option>
                                            <option value="troisieme">&nbsp;3ème</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Classes de seconde
                                            </option>
                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                            <option value="seconde_probation">&nbsp;2nde de probation (ou méthodologique)</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Classes de première
                                            </option>
                                            <option value="premiere_es">&nbsp;1ere ES - Economique et Sociale</option>
                                            <option value="premiere_l">&nbsp;1ere L - Littéraire</option>
                                            <option value="premiere_s">&nbsp;1ere S - Scientifique</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Classes de terminale
                                            </option>
                                            <option value="terminale_s">&nbsp;Tle ES - Economique et Sociale</option>
                                            <option value="terminale_l">&nbsp;Tle L - Littéraire</option>
                                            <option value="terminale_s">&nbsp;Tle S - Scientifique</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;Cursus international
                                            </option>
                                            <option value="CI">&nbsp;Cursus International</option>
                                            <option value="BAC-I">&nbsp;Cursus Bac. International</option>
                                            <option value="cursus_non_francophone">&nbsp;Cursus non francophone (GB-US)</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;STRH - Sciences et Technologies de l'hôtellerie et de la restauration
                                            </option>
                                            <option value="seconde_sthr">&nbsp;2nde spécifique STHR</option>
                                            <option value="premiere_sthr">&nbsp;1ere d’adaptation STHR</option>
                                            <option value="premiere_sthr">&nbsp;1ere STHR</option>
                                            <option value="terminale_sthr">&nbsp;Terminale STHR</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;ST2S - Sciences et Technologies de la santé et du social
                                            </option>
                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                            <option value="premiere_sti2s">&nbsp;1ere d’adaptation ST2S</option>
                                            <option value="premiere_st2s">&nbsp;1ere ST2S</option>
                                            <option value="terminale_st2s">&nbsp;Terminale STIS</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;STD2A - Sciences et Technologies du Design et des Arts Appliqués
                                            </option>
                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                            <option value="premiere_std2a">&nbsp;1ère STI2A</option>
                                            <option value="terminale_std2a">&nbsp;Terminale STI2A</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;STI2D - Sciences et Technologies de l'Industrie et du Développement Durable
                                            </option>
                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                            <option value="premiere_sti2d">&nbsp;1ère STI2D</option>
                                            <option value="terminale_sti2d">&nbsp;Terminale ST2D – Architecture et Construction</option>
                                            <option value="terminale_sti2d">&nbsp;Terminale STI2D – Energie et Environnement</option>
                                            <option value="terminale_sti2d">&nbsp;Termianale STI2D – Innovation Technologique et Eco-conception</option>
                                            <option value="terminale_sti2d">&nbsp;Terminale STI2D – Systèmes D’Information Numérique</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;STMG - Sciences et Technologies du Management et de la Gestion
                                            </option>
                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                            <option value="premiere_stmg">&nbsp;1ère d’adaptation STMG</option>
                                            <option value="premiere_stmg">&nbsp;1ère STMG</option>
                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Gestion et Finance</option>
                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Mercatique</option>
                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Ressources Humaines et Communication</option>
                                            <option value="terminale_stmg">&nbsp;Terminale STMG – Systèmes D’Information et de Gestion</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;STL - Sciences et Technologies de Laboratoire
                                            </option>
                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                            <option value="premiere_stl">&nbsp;1ère d’adaptation STL</option>
                                            <option value="premiere_stl">&nbsp;1ère STL</option>
                                            <option value="terminale_stl">&nbsp;Terminale STL – Biotechnologies</option>
                                            <option value="terminale_stl">&nbsp;Terminale STL – Sciences Physiques et Chimiques en Laboratoire</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;STAV - Sciences et Technologies de l'Agronomie et du Vivant (lycées agricoles)
                                            </option>
                                            <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                            <option value="premiere_stav">&nbsp;1ère d’adaptation STAV</option>
                                            <option value="premiere_stav">&nbsp;1ère STAV</option>
                                            <option value="terminale_stav">&nbsp;Terminale STAV</option>
                                            <option value="" disabled style="color:red">
                                                &nbsp;TMD - Techniques de la Musique et de la Danse
                                            </option>
                                            <option value="2ndeTMD">&nbsp;2nde spécifique TMD</option>
                                            <option value="premiere_tmd">&nbsp;1ère d’adaptation TMD</option>
                                            <option value="premiere_tmd">&nbsp;1ère TMD</option>
                                            <option value="terminale_tmd">&nbsp;Terminale TMD - Danse</option>
                                            <option value="terminale_tmd">&nbsp;Terminale TMD - Musique</option>
										</select>
                                    </label>
                                </div>
                            </div><!-- .col-* -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" 
                                    (keyup)="filterLieu($event)"
                                    [mdAutocomplete]="auto"
                                    [formControl]="searchForm.controls['lieu']"/>

                                    <md-autocomplete #auto="mdAutocomplete">
                                        <md-option disabled *ngIf="options['regions'].length!=0">Régions</md-option>
                                        <!-- <md-option [value]="options.regions"
                                        *ngIf="options['regions'].length!=0">{{ options.regions }}</md-option>    -->
                                        <md-option *ngFor="let option of options.regions; let i = index" [value]="option.region"
                                            (click)="onSelectLieu('R', i)">
                                            &nbsp;&nbsp;{{ option.region }}
                                        </md-option>
                                        <md-option disabled *ngIf="options['departements'].length!=0">Départements</md-option>
                                        <md-option *ngFor="let option of options.departements; let i=index" [value]="option.departmentNumber+' '+option.departmentName"
                                            (click)="onSelectLieu('D', i)">
                                            &nbsp;&nbsp;{{option.departmentNumber}} {{option.departmentName}}
                                        </md-option>
                                        <md-option disabled *ngIf="options['villes'].length!=0">Villes</md-option>
                                        <md-option *ngFor="let option of options.villes; let i=index" [value]="option.postcode+' '+option.cityName"
                                            (click)="onSelectLieu('V', i)">
                                            &nbsp;&nbsp; {{option.postcode}} {{ option.cityName }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                        placeholder="Nom d'etablissement" 
                                        [mdAutocomplete]="autoSchool"
                                        (keyup)="filterSchool($event)"
                                        [formControl]="searchForm.controls['etablissement']"/>
                                    
                                    <md-autocomplete #autoSchool="mdAutocomplete">
                                        <md-option *ngFor="let school of schoolsOptions" 
                                            [value]="school.longName">
                                            {{ school.longName }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .col-* -->
                    
                    <div class="col-md-1">
                    <!-- <div class="form-group"> -->
                        <button class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    <!-- </div> -->
                    </div>
                </form>

            </div><!-- .form-wrap -->
        </div>
        
        <div class="landingpage__additional-content  holder-3  do-animate  have-form" data-background="./assets/images/new-landingpage/college.jpg">
            
            <div class="landingpage__image-holder">
                <a>
                    <img class="landingpage__image" src="./assets/images/new-landingpage/college.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Collège</h2>
                        <h3>6ème-3ème</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
            
            <div class="form-wrap row  animated fadeOut">

                <form [formGroup]="searchForm" 
                    (ngSubmit)="onSubmitSearch('college')">
                    <div class="col-md-11">
                        <div class="row">
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="select-custom" for="class">
                                        <select name="class" class="form-control" id="class"
                                            [formControl]="searchForm.controls['classe']">
                                            <option value="" disabled selected hidden>Classe</option>
                                            <option value="Indifférent">&nbsp;Indifférent</option>
                                            <option value="sixieme">&nbsp;6ème</option>
                                            <option value="cinquieme">&nbsp;5ème</option>
                                            <option value="quatrieme">&nbsp;4ème</option>
                                            <option value="troisieme">&nbsp;3ème</option>
                                        </select>
                                    </label>
                                </div>
                            </div><!-- .col-* -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" 
                                        (keyup)="filterLieu($event)"
                                        [mdAutocomplete]="auto"
                                        [formControl]="searchForm.controls['lieu']"/>
                                    
                                        <md-autocomplete #auto="mdAutocomplete">
                                            <md-option disabled *ngIf="options['regions'].length!=0">Régions</md-option>
                                            <!-- <md-option [value]="options.regions"
                                            *ngIf="options['regions'].length!=0">{{ options.regions }}</md-option>    -->
                                            <md-option *ngFor="let option of options.regions; let i = index" [value]="option.region"
                                                (click)="onSelectLieu('R', i)">
                                                &nbsp;&nbsp;{{ option.region }}
                                            </md-option>
                                            <md-option disabled *ngIf="options['departements'].length!=0">Départements</md-option>
                                            <md-option *ngFor="let option of options.departements; let i=index" [value]="option.departmentNumber+' '+option.departmentName"
                                                (click)="onSelectLieu('D', i)">
                                                &nbsp;&nbsp;{{option.departmentNumber}} {{option.departmentName}}
                                            </md-option>
                                            <md-option disabled *ngIf="options['villes'].length!=0">Villes</md-option>
                                            <md-option *ngFor="let option of options.villes; let i=index" [value]="option.postcode+' '+option.cityName"
                                                (click)="onSelectLieu('V', i)">
                                                &nbsp;&nbsp; {{option.postcode}} {{ option.cityName }}
                                            </md-option>
                                        </md-autocomplete>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom d'etablissement" 
                                        [mdAutocomplete]="autoSchool"
                                        (keyup)="filterSchool($event)"
                                        [formControl]="searchForm.controls['etablissement']"/>

                                    <md-autocomplete #autoSchool="mdAutocomplete">
                                        <md-option *ngFor="let school of schoolsOptions" 
                                            [value]="school.longName">
                                            {{ school.longName }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .col-* -->
                    
                    <div class="col-md-1">
                    <!-- <div class="form-group"> -->
                        <button class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    <!-- </div> -->
                    </div>
                </form>


            </div><!-- .form-wrap -->

        </div>
        
        <div class="landingpage__additional-content  holder-5  do-animate" data-background="./assets/images/new-landingpage/sejour.jpg">
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/linguistic')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/sejour.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Séjours linguistiques <br />soutien scolaire</h2>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
        </div>
        
        <div class="landingpage__additional-content  holder-6  do-animate  have-form" data-background="./assets/images/new-landingpage/lycee.jpg">
            <div class="landingpage__image-holder">
                <a>
                    <img class="landingpage__image" src="./assets/images/new-landingpage/lycee.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Lycée</h2>
                        <h3>2nde-Terminale</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->

            <div class="form-wrap row animated fadeOut">

                <form [formGroup]="searchForm" 
                    (ngSubmit)="onSubmitSearch('lycee')">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="select-custom" for="class">
                                    <select name="class" class="form-control" id="class"
                                        [formControl]="searchForm.controls['classe']">
                                        <option value="" disabled selected hidden>Classe</option>
                                        <option value="Indifférent">&nbsp;Indifférent</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;Classes de seconde
                                        </option>
                                        <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                        <option value="seconde_probation">&nbsp;2nde de probation (ou méthodologique)</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;Classes de première
                                        </option>
                                        <option value="premiere_es">&nbsp;1ere ES - Economique et Sociale</option>
                                        <option value="premiere_l">&nbsp;1ere L - Littéraire</option>
                                        <option value="premiere_s">&nbsp;1ere S - Scientifique</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;Classes de terminale
                                        </option>
                                        <option value="terminale_s">&nbsp;Tle ES - Economique et Sociale</option>
                                        <option value="terminale_l">&nbsp;Tle L - Littéraire</option>
                                        <option value="terminale_s">&nbsp;Tle S - Scientifique</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;Cursus international
                                        </option>
                                        <option value="CI">&nbsp;Cursus International</option>
                                        <option value="BAC-I">&nbsp;Cursus Bac. International</option>
                                        <option value="cursus_non_francophone">&nbsp;Cursus non francophone (GB-US)</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;STRH - Sciences et Technologies de l'hôtellerie et de la restauration
                                        </option>
                                        <option value="seconde_sthr">&nbsp;2nde spécifique STHR</option>
                                        <option value="premiere_sthr">&nbsp;1ere d’adaptation STHR</option>
                                        <option value="premiere_sthr">&nbsp;1ere STHR</option>
                                        <option value="terminale_sthr">&nbsp;Terminale STHR</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;ST2S - Sciences et Technologies de la santé et du social
                                        </option>
                                        <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                        <option value="premiere_sti2s">&nbsp;1ere d’adaptation ST2S</option>
                                        <option value="premiere_st2s">&nbsp;1ere ST2S</option>
                                        <option value="terminale_st2s">&nbsp;Terminale STIS</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;STD2A - Sciences et Technologies du Design et des Arts Appliqués
                                        </option>
                                        <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                        <option value="premiere_std2a">&nbsp;1ère STI2A</option>
                                        <option value="terminale_std2a">&nbsp;Terminale STI2A</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;STI2D - Sciences et Technologies de l'Industrie et du Développement Durable
                                        </option>
                                        <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                        <option value="premiere_sti2d">&nbsp;1ère STI2D</option>
                                        <option value="terminale_sti2d">&nbsp;Terminale ST2D – Architecture et Construction</option>
                                        <option value="terminale_sti2d">&nbsp;Terminale STI2D – Energie et Environnement</option>
                                        <option value="terminale_sti2d">&nbsp;Termianale STI2D – Innovation Technologique et Eco-conception</option>
                                        <option value="terminale_sti2d">&nbsp;Terminale STI2D – Systèmes D’Information Numérique</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;STMG - Sciences et Technologies du Management et de la Gestion
                                        </option>
                                        <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                        <option value="premiere_stmg">&nbsp;1ère d’adaptation STMG</option>
                                        <option value="premiere_stmg">&nbsp;1ère STMG</option>
                                        <option value="terminale_stmg">&nbsp;Terminale STMG – Gestion et Finance</option>
                                        <option value="terminale_stmg">&nbsp;Terminale STMG – Mercatique</option>
                                        <option value="terminale_stmg">&nbsp;Terminale STMG – Ressources Humaines et Communication</option>
                                        <option value="terminale_stmg">&nbsp;Terminale STMG – Systèmes D’Information et de Gestion</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;STL - Sciences et Technologies de Laboratoire
                                        </option>
                                        <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                        <option value="premiere_stl">&nbsp;1ère d’adaptation STL</option>
                                        <option value="premiere_stl">&nbsp;1ère STL</option>
                                        <option value="terminale_stl">&nbsp;Terminale STL – Biotechnologies</option>
                                        <option value="terminale_stl">&nbsp;Terminale STL – Sciences Physiques et Chimiques en Laboratoire</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;STAV - Sciences et Technologies de l'Agronomie et du Vivant (lycées agricoles)
                                        </option>
                                        <option value="seconde_techno">&nbsp;2nde générale et technologique</option>
                                        <option value="premiere_stav">&nbsp;1ère d’adaptation STAV</option>
                                        <option value="premiere_stav">&nbsp;1ère STAV</option>
                                        <option value="terminale_stav">&nbsp;Terminale STAV</option>
                                        <option value="" disabled style="color:red">
                                            &nbsp;TMD - Techniques de la Musique et de la Danse
                                        </option>
                                        <option value="2ndeTMD">&nbsp;2nde spécifique TMD</option>
                                        <option value="premiere_tmd">&nbsp;1ère d’adaptation TMD</option>
                                        <option value="premiere_tmd">&nbsp;1ère TMD</option>
                                        <option value="terminale_tmd">&nbsp;Terminale TMD - Danse</option>
                                        <option value="terminale_tmd">&nbsp;Terminale TMD - Musique</option>
                                    </select>
                                </label>
                            </div>
                        </div><!-- .col-* -->

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Lieu" 
                                    (keyup)="filterLieu($event)"
                                    [mdAutocomplete]="auto"
                                    [formControl]="searchForm.controls['lieu']"/>
                                
                                    <md-autocomplete #auto="mdAutocomplete">
                                        <md-option disabled *ngIf="options['regions'].length!=0">Régions</md-option>
                                        <!-- <md-option [value]="options.regions"
                                        *ngIf="options['regions'].length!=0">{{ options.regions }}</md-option>    -->
                                        <md-option *ngFor="let option of options.regions; let i = index" [value]="option.region"
                                            (click)="onSelectLieu('R', i)">
                                            &nbsp;&nbsp;{{ option.region }}
                                        </md-option>
                                        <md-option disabled *ngIf="options['departements'].length!=0">Départements</md-option>
                                        <md-option *ngFor="let option of options.departements; let i=index" [value]="option.departmentNumber+' '+option.departmentName"
                                            (click)="onSelectLieu('D', i)">
                                            &nbsp;&nbsp;{{option.departmentNumber}} {{option.departmentName}}
                                        </md-option>
                                        <md-option disabled *ngIf="options['villes'].length!=0">Villes</md-option>
                                        <md-option *ngFor="let option of options.villes; let i=index" [value]="option.postcode+' '+option.cityName"
                                            (click)="onSelectLieu('V', i)">
                                            &nbsp;&nbsp; {{option.postcode}} {{ option.cityName }}
                                        </md-option>
                                    </md-autocomplete>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nom d'etablissement" 
                                    [mdAutocomplete]="autoSchool"
                                    (keyup)="filterSchool($event)"
                                    [formControl]="searchForm.controls['etablissement']"/>
                                
                                <md-autocomplete #autoSchool="mdAutocomplete">
                                <md-option *ngFor="let school of schoolsOptions" 
                                    [value]="school.longName">
                                    {{ school.longName }}
                                </md-option>
                                </md-autocomplete>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .col-* -->
                
                <div class="col-md-1">
                <!-- <div class="form-group"> -->
                    <button class="btn btn-search" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                <!-- </div> -->
                </div>
            </form>


            </div><!-- .form-wrap -->

        </div>
        
        <div class="landingpage__additional-content  holder-7  do-animate" data-background="./assets/images/new-landingpage/autodoc.jpg">
            <div class="landingpage__image-holder">
                <a>
                    <img class="landingpage__image" src="./assets/images/new-landingpage/autodoc.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Enseignement <br />supérieur</h2>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->

            <div class="form-wrap row  animated fadeOut">

                <form [formGroup]="apbForm" 
                    (ngSubmit)="onSubmitSearch('enseignement')">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="select-custom" for="class">
                                        <select name="class" class="form-control" id="class"
                                            [formControl]="apbForm.controls['domaine']">
                                            <option value="" selected hidden>Domaine</option>
                                            <option value="Indifférent">&nbsp;Indifférent</option>
                                            <option *ngFor="let domaine of domaines" 
                                                [value]="domaine" selected>&nbsp;{{domaine}}</option>
                                        </select>
                                    </label>
                                </div>
                            </div><!-- .col-* -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" 
                                    (keyup)="filterLieu($event)"
                                    [mdAutocomplete]="auto"
                                    [formControl]="apbForm.controls['lieu']"/>

                                    <md-autocomplete #auto="mdAutocomplete">
                                        <md-option disabled *ngIf="options['regions'].length!=0">Régions</md-option>
                                        <!-- <md-option [value]="options.regions"
                                        *ngIf="options['regions'].length!=0">{{ options.regions }}</md-option>    -->
                                        <md-option *ngFor="let option of options.regions; let i = index" [value]="option.region"
                                            (click)="onSelectLieu('R', i)">
                                            &nbsp;&nbsp;{{ option.region }}
                                        </md-option>
                                        <md-option disabled *ngIf="options['departements'].length!=0">Départements</md-option>
                                        <md-option *ngFor="let option of options.departements; let i=index" [value]="option.departmentNumber+' '+option.departmentName"
                                            (click)="onSelectLieu('D', i)">
                                            &nbsp;&nbsp;{{option.departmentNumber}} {{option.departmentName}}
                                        </md-option>
                                        <md-option disabled *ngIf="options['villes'].length!=0">Villes</md-option>
                                        <md-option *ngFor="let option of options.villes; let i=index" [value]="option.postcode+' '+option.cityName"
                                            (click)="onSelectLieu('V', i)">
                                            &nbsp;&nbsp; {{option.postcode}} {{ option.cityName }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                        placeholder="Nom d'etablissement" 
                                        [mdAutocomplete]="autoSchoolApb"
                                        (keyup)="filterApbSchool($event)"
                                        [formControl]="apbForm.controls['etablissement']"/>
                                    
                                    <md-autocomplete #autoSchoolApb="mdAutocomplete">
                                        <md-option *ngFor="let school of schoolsOptions" 
                                            [value]="school">
                                            {{ school }}
                                        </md-option>
                                    </md-autocomplete>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .col-* -->
                    
                    <div class="col-md-1">
                    <!-- <div class="form-group"> -->
                        <button class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    <!-- </div> -->
                    </div>
                </form>

            </div><!-- .form-wrap -->
        </div>

    </div>
	<div class="landingpage__wrapper" *ngIf="onMobile">
		<div class="landingpage__additional-content  holder-4  do-animate  one-column-mobile" data-background="./assets/images/new-landingpage/orientation.jpg">
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/conseil')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/orientation.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Orientation entretien-<br />bilans</h2>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
        </div>
		<div class="landingpage__additional-content  holder-1  do-animate  have-form" data-background="./assets/images/new-landingpage/ecole.jpg">
            <div class="landingpage__image-holder  ">
                <a (click)="onNavigate('/ecole')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/ecole.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>École</h2>
                        <h3>Maternelle / Primaire</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
		</div>
		<div class="landingpage__additional-content  holder-3  do-animate  have-form" data-background="./assets/images/new-landingpage/college.jpg">
            
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/college')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/college.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>College</h2>
                        <h3>6ème-3ème</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
		</div>
		<div class="landingpage__additional-content  holder-6  do-animate  have-form" data-background="./assets/images/new-landingpage/lycee.jpg">
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/lycee')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/lycee.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Lycée</h2>
                        <h3>2nde-Terminale</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
        </div>
		
		<div class="landingpage__additional-content  holder-2  do-animate" data-background="./assets/images/new-landingpage/internat.jpg">
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/internat')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/internat.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Internat</h2>
                        <h3>&nbsp;</h3>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
		</div>
		<div class="landingpage__additional-content  holder-7  do-animate" data-background="./assets/images/new-landingpage/autodoc.jpg">
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/enseignement')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/autodoc.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Enseignement <br />supérieur</h2>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
		</div>
		
		<div class="landingpage__additional-content  holder-5  do-animate" data-background="./assets/images/new-landingpage/sejour.jpg">
            <div class="landingpage__image-holder">
                <a (click)="onNavigate('/linguistic')">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/sejour.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Séjours linguistiques <br />soutien scolaire</h2>
                    </section>
                </a>
            </div><!-- .landingpage__image-holder -->
        </div>
	</div>
	
	<!-- .landingpage__wrapper -->

</main><!-- .main -->

<!--<p style="text-align: right;">
    <a (click)="navigateTo(1)">1</a> 
    <a (click)="navigateTo(2)">2</a> 
    <a (click)="navigateTo(3)">3</a>
</p>-->