    <main class="main" role="main">


        <div class="landingpage__wrapper">


            <div class="landingpage__additional-content  holder-4  do-animate  one-column-mobile" data-background="./assets/images/new-landingpage/orientation-blur.jpg">
                <div class="landingpage__image-holder">
                    <a routerLink="/conseil">
                        <img class="landingpage__image" src="./assets/images/new-landingpage/orientation.jpg" alt="" />
                        <section class="landingpage__caption">
                            <h2>Orientation entretien-<br />bilans</h2>
                        </section>
                    </a>
                </div><!-- .landingpage__image-holder -->
            </div>
            
            <div class="landingpage__additional-content  holder-1  do-animate  have-form" data-background="./assets/images/new-landingpage/ecole-blur.jpg">
                <div class="landingpage__image-holder  ">
                    <a routerLink="/ecole">
                        <img class="landingpage__image" src="./assets/images/new-landingpage/ecole.jpg" alt="" />
                        <section class="landingpage__caption">
                            <h2>École</h2>
                            <h3>Maternelle / Primaire</h3>
                        </section>
                    </a>
                </div><!-- .landingpage__image-holder -->

                <div class="form-wrap row  animated fadeOut">

                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="select-custom" for="class">
                                        <select name="class" class="form-control" id="class">
                                            <option value="" disabled selected hidden>Classe</option>
                                            <optgroup label="Cycle 1 : Apprentissages Premiers">
                                                <option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                                <option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                                <option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                            </optgroup>
                                            <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                <option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                                <option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                                <option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                            </optgroup>
                                            <optgroup label="Cycle 3 : Consolidation">
                                                <option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                                <option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                                <option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</option>
                                            </optgroup>
                                        </select>
                                    </label>
                                </div>
                            </div><!-- .col-* -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom d'etablissement" />
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .col-* -->
                    
                    <div class="col-md-1">
                    <!-- <div class="form-group"> -->
                        <button class="btn btn-search"><i class="fa fa-search"></i></button>
                    <!-- </div> -->
                    </div>


                </div><!-- .form-wrap -->
            </div>
            
            <div class="landingpage__additional-content  holder-2  do-animate" data-background="./assets/images/new-landingpage/internat-blur.jpg">
                <div class="landingpage__image-holder">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/internat.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Internat</h2>
                        <h3>&nbsp;</h3>
                    </section>
                </div><!-- .landingpage__image-holder -->
            </div>
            
            <div class="landingpage__additional-content  holder-3  do-animate  have-form" data-background="./assets/images/new-landingpage/college-blur.jpg">
                <div class="landingpage__image-holder">
                    <a routerLink="/lycee">
                        <img class="landingpage__image" src="./assets/images/new-landingpage/college.jpg" alt="" />
                        <section class="landingpage__caption">
                            <h2>Lycée</h2>
                            <h3>2nde-Terminale</h3>
                        </section>
                    </a>
                </div><!-- .landingpage__image-holder -->

                <div class="form-wrap row  animated fadeOut">

                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="select-custom" for="class">
                                        <select name="class" class="form-control" id="class">
                                            <option value="" disabled selected hidden>Classe</option>
                                            <optgroup label="Cycle 1 : Apprentissages Premiers">
                                                <option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                                <option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                                <option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                            </optgroup>
                                            <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                <option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                                <option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                                <option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                            </optgroup>
                                            <optgroup label="Cycle 3 : Consolidation">
                                                <option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                                <option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                                <option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</option>
                                            </optgroup>
                                        </select>
                                    </label>
                                </div>
                            </div><!-- .col-* -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom d'etablissement" />
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .col-* -->
                    
                    <div class="col-md-1">
                    <!-- <div class="form-group"> -->
                        <button class="btn btn-search"><i class="fa fa-search"></i></button>
                    <!-- </div> -->
                    </div>


                </div><!-- .form-wrap -->

            </div>
            
            <div class="landingpage__additional-content  holder-5  do-animate" data-background="./assets/images/new-landingpage/sejour-blur.jpg">
                <div class="landingpage__image-holder">
                    <a routerLink="/linguistic">
                        <img class="landingpage__image" src="./assets/images/new-landingpage/sejour.jpg" alt="" />
                        <section class="landingpage__caption">
                            <h2>Séjours linguistiques <br />soutien scolaire</h2>
                        </section>
                    </a>
                </div><!-- .landingpage__image-holder -->
            </div>
            
            <div class="landingpage__additional-content  holder-6  do-animate  have-form" data-background="./assets/images/new-landingpage/lycee-blur.jpg">
                
                <div class="landingpage__image-holder">
                    <a routerLink="/college">
                        <img class="landingpage__image" src="./assets/images/new-landingpage/lycee.jpg" alt="" />
                        <section class="landingpage__caption">
                            <h2>College</h2>
                            <h3>6ème-3ème</h3>
                        </section>
                    </a>
                </div><!-- .landingpage__image-holder -->
                
                <div class="form-wrap row  animated fadeOut">

                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="select-custom" for="class">
                                        <select name="class" class="form-control" id="class">
                                            <option value="" disabled selected hidden>Classe</option>
                                            <optgroup label="Cycle 1 : Apprentissages Premiers">
                                                <option value="PS">&nbsp;&nbsp;&nbsp;&nbsp;PS</option>
                                                <option value="MS">&nbsp;&nbsp;&nbsp;&nbsp;MS</option>
                                                <option value="GS">&nbsp;&nbsp;&nbsp;&nbsp;GS</option>
                                            </optgroup>
                                            <optgroup label="Cycle 2 : Apprentissages Fondamentaux">
                                                <option value="CP">&nbsp;&nbsp;&nbsp;&nbsp;CP</option>
                                                <option value="CE1">&nbsp;&nbsp;&nbsp;&nbsp;CE1</option>
                                                <option value="CE2">&nbsp;&nbsp;&nbsp;&nbsp;CE2</option>
                                            </optgroup>
                                            <optgroup label="Cycle 3 : Consolidation">
                                                <option value="CM1">&nbsp;&nbsp;&nbsp;&nbsp;CM1</option>
                                                <option value="CM2">&nbsp;&nbsp;&nbsp;&nbsp;CM2</option>
                                                <option value="6eme">&nbsp;&nbsp;&nbsp;&nbsp;6eme</option>
                                            </optgroup>
                                        </select>
                                    </label>
                                </div>
                            </div><!-- .col-* -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Lieu" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom d'etablissement" />
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .col-* -->
                    
                    <div class="col-md-1">
                    <!-- <div class="form-group"> -->
                        <button class="btn btn-search"><i class="fa fa-search"></i></button>
                    <!-- </div> -->
                    </div>


                </div><!-- .form-wrap -->

            </div>
            
            <div class="landingpage__additional-content  holder-7  do-animate" data-background="./assets/images/new-landingpage/autodoc-blur.jpg">
                <div class="landingpage__image-holder">
                    <img class="landingpage__image" src="./assets/images/new-landingpage/autodoc.jpg" alt="" />
                    <section class="landingpage__caption">
                        <h2>Enseignement <br />supérieur</h2>
                    </section>
                </div><!-- .landingpage__image-holder -->
            </div>

        </div><!-- .landingpage__wrapper -->

    </main><!-- .main -->